Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

change error text
  src/ui/libs/DatalensChartkit/modules/export/export.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix export behaviour (#144)
  src/server/components/charts-engine/controllers/export.ts
  src/ui/libs/DatalensChartkit/modules/export/export.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.908.0 [release]
  package-lock.json
  package.json
Due: none

Return defalt disconnect button text
  src/i18n-keysets/component.dialog-relations.view/en.json
  src/i18n-keysets/component.dialog-relations.view/ru.json
  src/ui/units/dash/containers/Dialogs/DialogRelations/DialogRelations.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add disable state for disconnect button by filter (#140)
  src/ui/units/dash/containers/Dialogs/DialogRelations/DialogRelations.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.909.0 [release]
  package-lock.json
  package.json
Due: none

Fix selectors and charts dialog layout for long titles (#142)
  src/ui/units/dash/components/NavigationInput/NavigationInput.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.910.0 [release]
  package-lock.json
  package.json
Due: none

add validation error for name with slash (#77)
  src/i18n-keysets/validation/en.json
  src/i18n-keysets/validation/keyset.json
  src/i18n-keysets/validation/ru.json
  src/ui/components/EntryDialogues/EntryDialogBase/EntryDialogBase.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.911.0 [release]
  package-lock.json
  package.json
Due: none

Fix tests for SaveDashByFakeEntry logic (#139)
  src/shared/constants/qa/dash.ts
  src/ui/components/ActionPanel/components/EntryPanel/EntryPanel.tsx
  tests/page-objects/dashboard/DashboardPage.ts
  tests/page-objects/dashboard/DashboardSettings.ts
  tests/suites/dash/params/params.test.ts
  tests/suites/dash/revisions/revisionsListWithCreationSaveAsCopy.test.ts
  tests/suites/dash/toc/tocSettings.test.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.912.0 [release]
  package-lock.json
  package.json
Due: none

Fix hiding ql query data when click on eye icon (#143)
  src/server/modes/charts/plugins/ql/url.ts
  src/server/modes/charts/plugins/ql/utils/__tests__/misc-helpers.test.ts
  src/server/modes/charts/plugins/ql/utils/misc-helpers.ts
  src/ui/units/ql/containers/PaneMain/ScreenEditor/TabQuery/ScreenPromQL/ScreenPromQL.tsx
  src/ui/units/ql/store/actions/ql.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.913.0 [release]
  package-lock.json
  package.json
Due: none

add component DropdownActions
  src/ui/units/collections/components/CollectionContentTable/CollectionContentTable.tsx
  src/ui/units/collections/components/CollectionContentTable/DropdownAction.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

add DropdownAction.scss, move component to folder
  src/ui/units/collections/components/CollectionContentTable/CollectionContentTable.scss
  src/ui/units/collections/components/CollectionContentTable/CollectionContentTable.tsx
  src/ui/units/collections/components/CollectionContentTable/DropdownAction.tsx
  src/ui/units/collections/components/CollectionContentTable/DropdownAction/DropdownAction.scss
  src/ui/units/collections/components/CollectionContentTable/DropdownAction/DropdownAction.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

light-hc, dark-hc icons
  src/ui/components/CollectionIcon/CollectionIcon.tsx
  src/ui/components/WorkbookIcon/WorkbookIcon.scss
  src/ui/styles/variables.scss
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Script for dumping UnitedStorage state
  package.json
  scripts/e2e/us-dump.sh
Due: none

exit codes
  scripts/e2e/us-dump.sh
Due: none

Better error message for pg_dump command
  scripts/e2e/us-dump.sh
Due: none

Better error message for the connection check
  scripts/e2e/us-dump.sh
  tests/data/us-e2e-data
Due: none

no change data
  tests/data/us-e2e-data
Due: none

typos
  scripts/e2e/us-dump.sh
Due: none

better naming
  scripts/e2e/us-dump.sh
Due: none

group e2e scripts
  package.json
Due: none

Refact dash connetions filters
  src/ui/units/dash/containers/Dialogs/DialogRelations/DialogRelations.tsx
  src/ui/units/dash/containers/Dialogs/DialogRelations/components/Filters/Filters.tsx
  src/ui/units/dash/containers/Dialogs/DialogRelations/hooks/helpers.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

change padding layout
  src/ui/units/collections/components/CollectionContentGrid/CollectionContentGrid.scss
  src/ui/units/collections/components/CollectionLayout/CollectionLayout.scss
Due: prettier --write, stylelint --fix --quiet

rm flex: 1
  src/ui/units/collections/components/CollectionContentGrid/CollectionContentGrid.scss
Due: prettier --write, stylelint --fix --quiet

rm row-gap
  src/ui/units/collections/components/CollectionContentGrid/CollectionContentGrid.scss
Due: prettier --write, stylelint --fix --quiet

Fix AsideNavigation react warning on renderContent
  src/ui/datalens/index.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

review fixes
  scripts/e2e/us-dump.sh
Due: none

Better naming
  scripts/e2e/us-dump.sh
Due: none

add override for dev mode
  tests/docker-compose.e2e-dev.yml
Due: none

Script for dumping UnitedStorage state (#145)
  package.json
  scripts/e2e/us-dump.sh
Due: none

Bump version to 0.914.0 [release]
  package-lock.json
  package.json
Due: none

fix running test
  tests/playwright.config.ts
Due: none

Fix AsideNavigation react warning on renderContent (#147)
  src/ui/datalens/index.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.915.0 [release]
  package-lock.json
  package.json
Due: none

Up @gravity-ui/components 2.0.0 -> 2.5.0
  package-lock.json
  package.json
Due: none

Path conditions:
  eslint -c src/ui/.ci-eslintrc --fix --quiet: any of: src/ui/**/*.{js,jsx,ts,tsx}
  prettier --write: (any of: src/ui/**/*.{js,jsx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --fix --quiet: any of: *.{css,scss}
