Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

.lintstagedrc.json:

{
    "!(src/ui/**/*)*.{js,jsx,ts,tsx}": [
      "eslint --fix --quiet",
      "prettier --write"
    ],
    "src/ui/**/*.{js,jsx,ts,tsx}": [
      "eslint -c src/ui/.ci-eslintrc --fix --quiet",
      "prettier --write"
    ],
    "*.{css,scss}": [
      "stylelint --fix --quiet",
      "prettier --write"
    ]
}

Bump version to 0.978.0 [release]
  package-lock.json
  package.json
Due: none

Add ALLOWED_ERRORS to display new relations correctly (#218)
  src/ui/components/Widgets/Chart/helpers/helpers.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.979.0 [release]
  package-lock.json
  package.json
Due: none

Rename container-names in tests docker-compose
  tests/docker-compose.e2e.yml
Due: none

Add support for mobile error screens and DialogErrorWithTabs
  src/i18n-keysets/component.error-content.view/en.json
  src/i18n-keysets/component.error-content.view/ru.json
  src/ui/components/DashKit/plugins/Control/Control.scss
  src/ui/components/DashKit/plugins/Control/Control.tsx
  src/ui/components/DashKit/plugins/Control/Error/Error.scss
  src/ui/components/DashKit/plugins/Control/Error/Error.tsx
  src/ui/components/DialogErrorWithTabs/DebugInfo/DebugInfo.scss
  src/ui/components/DialogErrorWithTabs/DebugInfo/DebugInfo.tsx
  src/ui/components/DialogErrorWithTabs/DialogErrorWithTabs.scss
  src/ui/components/DialogErrorWithTabs/DialogErrorWithTabs.tsx
  src/ui/components/DialogErrorWithTabs/ErrorText/ErrorText.scss
  src/ui/components/DialogErrorWithTabs/ErrorText/ErrorText.tsx
  src/ui/components/ErrorContent/DebugInfo/DebugInfo.scss
  src/ui/components/ErrorContent/DebugInfo/DebugInfo.tsx
  src/ui/components/ErrorContent/ErrorContent.js
  src/ui/components/ErrorContent/ErrorContent.scss
  src/ui/components/ViewError/ViewError.scss
  src/ui/components/ViewError/ViewError.tsx
  src/ui/registry/units/common/types/components/ReportButton.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Tests-docker-compose-rename (#221)
  tests/docker-compose.e2e.yml
Due: none

Bump version to 0.980.0 [release]
  package-lock.json
  package.json
Due: none

add wrapper for tooltip children (#217)
  src/ui/units/collections/components/CollectionPage/CollectionPage.tsx
  src/ui/units/workbooks/components/WorkbookPage/WorkbookPage.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.981.0 [release]
  package-lock.json
  package.json
Due: none

Clean SaveDashWithFakeEntry usage
  src/ui/components/EntryDialogues/DialogCreateDashboard/DialogCreateDashboard.tsx
  src/ui/components/Navigation/Base/NavigationBase.js
  src/ui/datalens/pages/DashAndWizardQLPages/DashAndWizardQLPages.tsx
  src/ui/datalens/pages/DashPage/DashPage.tsx
  src/ui/units/dash/components/DashActionPanel/DashActionPanel.tsx
  src/ui/units/dash/containers/Dash/Dash.tsx
  src/ui/units/dash/store/actions/dash.js
  src/ui/units/workbooks/components/CreateEntryDialog/CreateEntryDialog.tsx
  tests/page-objects/dashboard/DashboardPage.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix pr issues and unit test
  src/server/modes/charts/plugins/datalens/preparers/bar-x/__tests__/bar-x.test.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-x/__tests__/mocks/bar-x.mock.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-x/highcharts.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-x/prepareBarX.ts
  src/server/modes/charts/plugins/datalens/preparers/geopoint/index.ts
  src/server/modes/charts/plugins/datalens/preparers/geopolygon.ts
  src/server/modes/charts/plugins/datalens/preparers/pie/preparePie.ts
  src/server/modes/charts/plugins/datalens/preparers/polyline.ts
  src/server/modes/charts/plugins/datalens/preparers/scatter/highcharts.ts
  src/server/modes/charts/plugins/datalens/preparers/scatter/prepareScatter.ts
  src/server/modes/charts/plugins/datalens/preparers/treemap.ts
  src/server/modes/charts/plugins/datalens/utils/misc-helpers.ts
Due: none

Add support for mobile error screens and DialogErrorWithTabs (#220)
  src/i18n-keysets/component.error-content.view/en.json
  src/i18n-keysets/component.error-content.view/ru.json
  src/ui/components/DashKit/plugins/Control/Control.scss
  src/ui/components/DashKit/plugins/Control/Control.tsx
  src/ui/components/DashKit/plugins/Control/Error/Error.scss
  src/ui/components/DashKit/plugins/Control/Error/Error.tsx
  src/ui/components/DialogErrorWithTabs/DebugInfo/DebugInfo.scss
  src/ui/components/DialogErrorWithTabs/DebugInfo/DebugInfo.tsx
  src/ui/components/DialogErrorWithTabs/DialogErrorWithTabs.scss
  src/ui/components/DialogErrorWithTabs/DialogErrorWithTabs.tsx
  src/ui/components/DialogErrorWithTabs/ErrorText/ErrorText.scss
  src/ui/components/DialogErrorWithTabs/ErrorText/ErrorText.tsx
  src/ui/components/ErrorContent/DebugInfo/DebugInfo.scss
  src/ui/components/ErrorContent/DebugInfo/DebugInfo.tsx
  src/ui/components/ErrorContent/ErrorContent.js
  src/ui/components/ErrorContent/ErrorContent.scss
  src/ui/components/ViewError/ViewError.scss
  src/ui/components/ViewError/ViewError.tsx
  src/ui/registry/units/common/types/components/ReportButton.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.982.0 [release]
  package-lock.json
  package.json
Due: none

Fix dialog in table coloring case, shorten tests
  src/server/modes/charts/plugins/datalens/preparers/bar-x/__tests__/mocks/bar-x.mock.ts
  src/ui/units/wizard/components/Dialogs/DialogField/components/ButtonColorDialog/ButtonColorDialog.tsx
  src/ui/units/wizard/selectors/dialogColor.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix error renderActions
  src/ui/components/ErrorContent/ErrorContent.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix error renderActions (#224)
  src/ui/components/ErrorContent/ErrorContent.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.983.0 [release]
  package-lock.json
  package.json
Due: none

Clean SaveDashWithFakeEntry usage (#222)
  src/ui/components/EntryDialogues/DialogCreateDashboard/DialogCreateDashboard.tsx
  src/ui/components/Navigation/Base/NavigationBase.js
  src/ui/datalens/pages/DashAndWizardQLPages/DashAndWizardQLPages.tsx
  src/ui/datalens/pages/DashPage/DashPage.tsx
  src/ui/units/dash/components/DashActionPanel/DashActionPanel.tsx
  src/ui/units/dash/containers/Dash/Dash.tsx
  src/ui/units/dash/store/actions/dash.js
  src/ui/units/workbooks/components/CreateEntryDialog/CreateEntryDialog.tsx
  tests/page-objects/dashboard/DashboardPage.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.984.0 [release]
  package-lock.json
  package.json
Due: none

refactoring getTranslation
  src/server/components/charts-engine/components/processor/sandbox.ts
  src/server/utils/language.ts
  src/shared/types/language.ts
Due: none

fix unit test
  src/server/modes/charts/plugins/ql/utils/__tests__/misc-helpers.test.ts
Due: none

add mapping to v2
  src/shared/modules/config/ql/__tests__/mapQlConfigToLatestVersion.test.ts
  src/shared/modules/config/ql/mapQlConfigToLatestVersion.ts
  src/shared/modules/config/ql/v2/mapV1ConfigToV2.ts
Due: none

add mapping query from v1 to v2
  src/shared/modules/config/ql/v2/mapV1ConfigToV2.ts
Due: none

add type config v2
  src/shared/types/config/ql/index.ts
  src/shared/types/config/ql/v2.ts
  src/shared/types/ql/versions.ts
Due: none

refactoring getTranslationFn
  src/server/components/charts-engine/components/processor/sandbox.ts
  src/server/configs/shared/ql-chart-template.ts
  src/server/utils/language.ts
  src/shared/modules/language.ts
  src/ui/units/ql/store/actions/ql.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

refactoring of map function
  src/server/components/charts-engine/components/chart-generator.ts
  src/server/configs/shared/ql-chart-template.ts
  src/server/modes/charts/plugins/ql/config.ts
  src/server/modes/charts/plugins/ql/d3.ts
  src/server/modes/charts/plugins/ql/highcharts.ts
  src/server/modes/charts/plugins/ql/js.ts
  src/server/modes/charts/plugins/ql/library-config.ts
  src/server/modes/charts/plugins/ql/url.ts
  src/server/modes/charts/plugins/ql/yagr.ts
Due: none

add editable text component
  src/ui/components/EditableText/EditableText.tsx
  src/ui/units/ql/containers/PaneMain/ScreenEditor/TabQuery/ScreenPromQL/ScreenPromQL.scss
  src/ui/units/ql/containers/PaneMain/ScreenEditor/TabQuery/ScreenPromQL/ScreenPromQL.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

refactoring query for monitoring in ui
  src/ui/units/ql/store/actions/ql.ts
  src/ui/units/ql/store/reducers/ql.ts
  src/ui/units/ql/store/utils/grid.ts
  src/ui/units/ql/store/utils/monitoring.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

review fixes
  src/server/modes/charts/plugins/ql/yagr.ts
Due: none

fix yagr tooltip
  src/server/modes/charts/plugins/ql/yagr.ts
Due: none

add unit test
  src/shared/modules/config/ql/__tests__/v2.test.ts
Due: none

add usage queryName from config
  src/server/modes/charts/plugins/ql/utils/misc-helpers.ts
  src/ui/units/ql/containers/PaneMain/ScreenEditor/TabQuery/ScreenPromQL/ScreenPromQL.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

add truncating text
  src/ui/units/ql/containers/PaneMain/ScreenEditor/TabQuery/ScreenPromQL/ScreenPromQL.scss
Due: prettier --write, stylelint --fix --quiet

Remove SaveDashWithFakeEntry flag
  src/server/components/features/features-list/SaveDashWithFakeEntry.ts
  src/shared/types/feature.ts
Due: none

Remove SaveDashWithFakeEntry flag (#225)
  src/server/components/features/features-list/SaveDashWithFakeEntry.ts
  src/shared/types/feature.ts
Due: none

Bump version to 0.985.0 [release]
  package-lock.json
  package.json
Due: none

Add query name value editing for QL chart (#223)
  src/server/components/charts-engine/components/chart-generator.ts
  src/server/components/charts-engine/components/processor/sandbox.ts
  src/server/configs/shared/ql-chart-template.ts
  src/server/modes/charts/plugins/ql/config.ts
  src/server/modes/charts/plugins/ql/d3.ts
  src/server/modes/charts/plugins/ql/highcharts.ts
  src/server/modes/charts/plugins/ql/js.ts
  src/server/modes/charts/plugins/ql/library-config.ts
  src/server/modes/charts/plugins/ql/url.ts
  src/server/modes/charts/plugins/ql/utils/__tests__/misc-helpers.test.ts
  src/server/modes/charts/plugins/ql/utils/misc-helpers.ts
  src/server/modes/charts/plugins/ql/yagr.ts
  src/shared/modules/config/ql/__tests__/mapQlConfigToLatestVersion.test.ts
  src/shared/modules/config/ql/__tests__/v2.test.ts
  src/shared/modules/config/ql/mapQlConfigToLatestVersion.ts
  src/shared/modules/config/ql/v2/mapV1ConfigToV2.ts
  src/shared/modules/language.ts
  src/shared/types/config/ql/index.ts
  src/shared/types/config/ql/v2.ts
  src/shared/types/language.ts
  src/shared/types/ql/versions.ts
  src/ui/components/EditableText/EditableText.tsx
  src/ui/units/ql/containers/PaneMain/ScreenEditor/TabQuery/ScreenPromQL/ScreenPromQL.scss
  src/ui/units/ql/containers/PaneMain/ScreenEditor/TabQuery/ScreenPromQL/ScreenPromQL.tsx
  src/ui/units/ql/store/actions/ql.ts
  src/ui/units/ql/store/reducers/ql.ts
  src/ui/units/ql/store/utils/grid.ts
  src/ui/units/ql/store/utils/monitoring.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.986.0 [release]
  package-lock.json
  package.json
Due: none

Enable Inspector in menu for some types of error charts
  src/i18n-keysets/chartkit.custom-error/en.json
  src/i18n-keysets/chartkit.custom-error/keyset.json
  src/i18n-keysets/chartkit.custom-error/ru.json
  src/ui/libs/DatalensChartkit/Error/Error.scss
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Header/components/Menu/Menu.js
  src/ui/libs/DatalensChartkit/modules/datalens-chartkit-custom-error/datalens-chartkit-custom-error.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet
