Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

.lintstagedrc.json:

{
    "!(src/ui/**/*)*.{js,jsx,ts,tsx}": [
      "eslint --fix --quiet",
      "prettier --write"
    ],
    "src/ui/**/*.{js,jsx,ts,tsx}": [
      "eslint -c src/ui/.ci-eslintrc --fix --quiet",
      "prettier --write"
    ],
    "*.{css,scss}": [
      "stylelint --fix --quiet",
      "prettier --write"
    ]
}

Add layour selection for grid mode
  src/ui/assets/icons/collections/collection-colored-big.svg
  src/ui/components/CollectionIcon/CollectionIcon.tsx
  src/ui/units/collections/components/CollectionContent/CollectionContent.tsx
  src/ui/units/collections/components/CollectionContentGrid/CollectionContentGrid.scss
  src/ui/units/collections/components/CollectionContentGrid/CollectionContentGrid.tsx
  src/ui/units/collections/components/CollectionContentTable/CollectionContentTable.tsx
  src/ui/units/collections/components/CollectionLayout/CollectionLayout.scss
  src/ui/units/collections/components/CollectionLayout/CollectionLayout.tsx
  src/ui/units/collections/components/CollectionPage/CollectionPage.tsx
  src/ui/units/collections/components/types.ts
  src/ui/units/collections/containers/CollectionContentContainer/CollectionContentContainer.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix bar-chart legend click
  src/server/modes/charts/plugins/datalens/preparers/bar-x/__tests__/highcharts.test.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-x/__tests__/prepareBarX.test.ts
  src/server/modes/charts/plugins/datalens/preparers/line/helpers/line-mappers/prepareLines.ts
Due: none

Add color migration for empty legacy ql charts
  src/server/modes/charts/plugins/ql/js.ts
  src/server/modes/charts/plugins/ql/utils/autofill-helpers.ts
  src/server/modes/charts/plugins/ql/utils/visualization-utils.ts
Due: none

Fix typecast
  src/ui/units/dash/containers/Dialogs/Control2/Sections/ValueSelector/ValueSelector.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add logic with checking in grid mode
  src/ui/units/collections/components/CollectionContent/CollectionContent.tsx
  src/ui/units/collections/components/CollectionLayout/CollectionLayout.tsx
  src/ui/units/collections/components/CollectionPage/CollectionPage.tsx
  src/ui/units/collections/components/types.ts
  src/ui/units/collections/containers/CollectionContentContainer/CollectionContentContainer.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix bar-chart legend click (#301)
  src/server/modes/charts/plugins/datalens/preparers/bar-x/__tests__/highcharts.test.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-x/__tests__/prepareBarX.test.ts
  src/server/modes/charts/plugins/datalens/preparers/line/helpers/line-mappers/prepareLines.ts
Due: none

Bump version to 0.1054.0 [release]
  package-lock.json
  package.json
Due: none

Fix showing btn in grid
  src/ui/units/collections/components/CollectionLayout/CollectionLayout.tsx
  src/ui/units/collections/components/CollectionPage/CollectionPage.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Return icon
  src/ui/assets/icons/collections/collection-colored-big.svg
  src/ui/components/CollectionIcon/CollectionIcon.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add checkbox dash selector type (#295)
  src/i18n-keysets/dash.control-dialog.edit/en.json
  src/i18n-keysets/dash.control-dialog.edit/ru.json
  src/server/modes/charts/plugins/control/constants/misc.ts
  src/server/modes/charts/plugins/control/js/index.ts
  src/server/modes/charts/plugins/control/url/index.ts
  src/server/modes/charts/plugins/dash-api.ts
  src/shared/types/dash.ts
  src/ui/components/DashKit/plugins/Control/Control.tsx
  src/ui/libs/DatalensChartkit/components/Control/Items/Items.js
  src/ui/units/dash/containers/Dialogs/Control/Switchers/Button/Button.scss
  src/ui/units/dash/containers/Dialogs/Control/constants.tsx
  src/ui/units/dash/containers/Dialogs/Control2/Control2.scss
  src/ui/units/dash/containers/Dialogs/Control2/Sections/CommonSettingsSection/DatasetSelector/DatasetSelector.tsx
  src/ui/units/dash/containers/Dialogs/Control2/Sections/CommonSettingsSection/InputSettings/InputSettings.tsx
  src/ui/units/dash/containers/Dialogs/Control2/Sections/CommonSettingsSection/InputTypeSelector/InputTypeSelector.tsx
  src/ui/units/dash/containers/Dialogs/Control2/Sections/ValueSelector/ValueSelector.scss
  src/ui/units/dash/containers/Dialogs/Control2/Sections/ValueSelector/ValueSelector.tsx
  src/ui/units/dash/store/actions/dashTyped.ts
  src/ui/units/dash/store/selectors/dashTypedSelectors.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.1055.0 [release]
  package-lock.json
  package.json
Due: none

New approach
  src/server/modes/charts/plugins/ql/js.ts
  src/server/modes/charts/plugins/ql/utils/autofill-helpers.ts
  src/server/modes/charts/plugins/ql/utils/constants.ts
  src/server/modes/charts/plugins/ql/utils/misc-helpers.ts
  src/server/modes/charts/plugins/ql/utils/visualization-utils.ts
Due: none

Fix Incorrect table cell height (Safari 15)
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/Table.scss
Due: prettier --write, stylelint --fix --quiet

Add AdaptiveDialog and move DialogErrorWithTabs to it (#300)
  src/ui/components/AdaptiveDialog/AdaptiveDialog.tsx
  src/ui/components/DialogErrorWithTabs/DialogErrorWithTabs.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1056.0 [release]
  package-lock.json
  package.json
Due: none

Incorrect filter value for chart-chart filtering by Date type field
  src/server/modes/charts/plugins/datalens/preparers/bar-x/prepareBarX.ts
  src/server/modes/charts/plugins/datalens/preparers/helpers/action-params.ts
  src/server/modes/charts/plugins/datalens/preparers/line/index.ts
  src/server/modes/charts/plugins/datalens/preparers/pie/preparePie.ts
  src/server/modes/charts/plugins/datalens/preparers/scatter/prepareScatter.ts
  src/server/modes/charts/plugins/datalens/url/build-request-body/index.ts
  src/server/modes/charts/plugins/datalens/utils/misc-helpers.ts
Due: none

Collections & workbooks sorting fix. Added filters to local storage. (#287)
  src/ui/components/CollectionFilters/CollectionFilters.tsx
  src/ui/units/collections/components/CollectionContent/CollectionContent.tsx
  src/ui/units/collections/components/CollectionPage/CollectionPage.tsx
  src/ui/units/collections/containers/CollectionContentContainer/CollectionContentContainer.tsx
  src/ui/units/collections/store/actions/index.tsx
  src/ui/units/collections/store/constants/index.ts
  src/ui/units/collections/store/reducers/index.ts
  src/ui/utils/collectionFiltersStorage.ts
  src/ui/utils/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1057.0 [release]
  package-lock.json
  package.json
Due: none

Update test constants
  tests/constants/config/dash.ts
  tests/constants/test-entities/dash.ts
  tests/types/config/dash.ts
Due: none

Improve PO
  tests/page-objects/BasePage.ts
  tests/page-objects/common/Revisions.ts
  tests/page-objects/dashboard/DashboardPage.ts
Due: none

Fix mobile layout of errors
  src/ui/components/DialogErrorWithTabs/DialogErrorWithTabs.scss
  src/ui/components/ErrorContent/ErrorContent.js
  src/ui/components/ErrorContent/ErrorContent.scss
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Update US test data
  tests/data/us-e2e-data
Due: none

Move tests revisionsList and saveAsCopy
  tests/opensource-suites/dash/revisions/revisionsList.text.ts
  tests/opensource-suites/dash/revisions/revisionsListWithCreationSaveAsCopy.test.ts
Due: none

Remove GSheet refresh token revocation
  src/shared/schema/googleapis/actions/index.ts
  src/shared/schema/googleapis/types/index.ts
  src/ui/units/connections/store/actions/api.ts
  src/ui/units/connections/store/actions/gsheet/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix reset selected
  src/ui/units/collections/components/CollectionContentGrid/CollectionContentGrid.tsx
  src/ui/units/collections/components/CollectionPage/CollectionPage.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Create interface type
  src/ui/units/collections/components/CollectionContent/CollectionContent.tsx
  src/ui/units/collections/components/CollectionPage/CollectionPage.tsx
  src/ui/units/collections/components/types.ts
  src/ui/units/collections/containers/CollectionContentContainer/CollectionContentContainer.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

To restore order types
  src/ui/units/collections/components/CollectionContent/CollectionContent.tsx
  src/ui/units/collections/components/CollectionContentGrid/CollectionContentGrid.tsx
  src/ui/units/collections/components/CollectionContentTable/CollectionContentTable.tsx
  src/ui/units/collections/components/types.ts
  src/ui/units/collections/containers/CollectionContentContainer/CollectionContentContainer.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Remove GSheet refresh token revocation (#307)
  src/shared/schema/googleapis/actions/index.ts
  src/shared/schema/googleapis/types/index.ts
  src/ui/units/connections/store/actions/api.ts
  src/ui/units/connections/store/actions/gsheet/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1058.0 [release]
  package-lock.json
  package.json
Due: none

Fix Incorrect table cell height (Safari 15) (#303)
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/Table.scss
Due: prettier --write, stylelint --fix --quiet

Bump version to 0.1059.0 [release]
  package-lock.json
  package.json
Due: none

Add PostMessage on dash hash change
  src/ui/units/dash/containers/Body/Body.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fixed connection choose for ql charts: now we can choose monitoring/promql connection
  src/ui/units/ql/constants/index.ts
  src/ui/units/ql/containers/PaneMain/ScreenEditor/ScreenEditor.tsx
  src/ui/units/ql/containers/QL/ViewSetup/ViewSetup.tsx
  src/ui/units/ql/store/actions/ql.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Improve PO
  tests/page-objects/BasePage.ts
Due: none

Move e2e dash revisionsSwitching
  tests/opensource-suites/dash/revisions/revisionsSwitching.test.ts
Due: none

Fix
  tests/opensource-suites/dash/revisions/revisionsList.test.ts
  tests/opensource-suites/dash/revisions/revisionsListWithCreationSaveAsCopy.test.ts
Due: none

Move tests revisionsList and saveAsCopy (#306)
  tests/constants/config/dash.ts
  tests/constants/test-entities/dash.ts
  tests/data/us-e2e-data
  tests/opensource-suites/dash/revisions/revisionsList.test.ts
  tests/opensource-suites/dash/revisions/revisionsListWithCreationSaveAsCopy.test.ts
  tests/opensource-suites/dash/revisions/revisionsSwitching.test.ts
  tests/page-objects/BasePage.ts
  tests/page-objects/common/Revisions.ts
  tests/page-objects/dashboard/DashboardPage.ts
  tests/types/config/dash.ts
Due: none

Bump version to 0.1060.0 [release]
  package-lock.json
  package.json
Due: none

e2e dash fix imports
  tests/opensource-suites/dash/revisions/revisionsListCopyDashboards.test.ts
  tests/opensource-suites/dash/revisions/revisionsListWithCreationDashboards.test.ts
  tests/opensource-suites/dash/revisions/revisionsListWithCreationSaveAsCopy.test.ts
  tests/opensource-suites/dash/revisions/revisionsSwitching.test.ts
Due: none

e2e dash fix imports (#311)
  tests/opensource-suites/dash/revisions/revisionsListCopyDashboards.test.ts
  tests/opensource-suites/dash/revisions/revisionsListWithCreationDashboards.test.ts
  tests/opensource-suites/dash/revisions/revisionsListWithCreationSaveAsCopy.test.ts
  tests/opensource-suites/dash/revisions/revisionsSwitching.test.ts
Due: none
