Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

.lintstagedrc.json:

{
    "!(src/ui/**/*)*.{js,jsx,ts,tsx}": [
      "eslint --fix --quiet",
      "prettier --write"
    ],
    "src/ui/**/*.{js,jsx,ts,tsx}": [
      "eslint -c src/ui/.ci-eslintrc --fix --quiet",
      "prettier --write"
    ],
    "*.{css,scss}": [
      "stylelint --fix --quiet",
      "prettier --write"
    ]
}

add usage new version
  src/shared/types/config/ql/v1.ts
  src/ui/units/ql/store/reducers/ql.ts
  src/ui/units/ql/store/utils/grid.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix connecting y values for ql timeline chart
  src/server/modes/charts/plugins/datalens/preparers/line-time/index.ts
Due: none

add tests
  src/shared/modules/config/ql/__tests__/mapQlConfigToLatestVersion.test.ts
  src/shared/modules/config/ql/__tests__/v1.test.ts
Due: none

fix unit test
  src/server/modes/charts/plugins/datalens/preparers/line-time/__tests__/mocks/line-time.mock.ts
  src/shared/modules/config/ql/__tests__/v1.test.ts
  src/shared/modules/config/ql/v1/mapUndefinedConfigToV1.ts
Due: none

add version 1
  src/shared/types/config/ql/index.ts
  src/shared/types/config/ql/v1.ts
  src/shared/types/ql/versions.ts
Due: none

refactoring
  src/shared/constants/ql.ts
  src/shared/types/config/ql/v1.ts
  src/shared/types/ql/common.ts
  src/shared/utils/visualization-check.ts
Due: none

add mapping
  src/shared/modules/config/ql/mapQlConfigToLatestVersion.ts
  src/shared/modules/config/ql/v1/mapUndefinedConfigToV1.ts
  src/shared/types/config/ql/index.ts
Due: none

CHARTS-8615: add support undefined version
  src/shared/types/ql/common.ts
  src/ui/units/ql/store/reducers/ql.ts
  src/ui/units/ql/store/utils/grid.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix case when visualization and placeholders are missed in config
  src/shared/modules/config/ql/__tests__/v1.test.ts
  src/shared/modules/config/ql/v1/mapUndefinedConfigToV1.ts
Due: none

Fix legend visibility for legacy monitoring charts
  src/server/modes/charts/plugins/ql/yagr.ts
Due: none

Correct fix
  src/server/modes/charts/plugins/ql/preparers/line-time.ts
  src/server/modes/charts/plugins/ql/yagr.ts
Due: none

PR issues fix
  src/server/modes/charts/plugins/datalens/utils/color-helpers.ts
Due: none

Fix connecting y values for ql timeline chart (#167)
  src/server/modes/charts/plugins/datalens/preparers/line-time/__tests__/mocks/line-time.mock.ts
  src/server/modes/charts/plugins/datalens/preparers/line-time/index.ts
  src/shared/constants/ql.ts
  src/shared/modules/config/ql/__tests__/mapQlConfigToLatestVersion.test.ts
  src/shared/modules/config/ql/__tests__/v1.test.ts
  src/shared/modules/config/ql/mapQlConfigToLatestVersion.ts
  src/shared/modules/config/ql/v1/mapUndefinedConfigToV1.ts
  src/shared/types/config/ql/index.ts
  src/shared/types/config/ql/v1.ts
  src/shared/types/ql/common.ts
  src/shared/types/ql/versions.ts
  src/shared/utils/visualization-check.ts
  src/ui/units/ql/store/reducers/ql.ts
  src/ui/units/ql/store/utils/grid.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.939.0 [release]
  package-lock.json
  package.json
Due: none

Fix legend visibility for legacy monitoring charts (#178)
  src/server/modes/charts/plugins/ql/preparers/line-time.ts
Due: none

Bump version to 0.940.0 [release]
  package-lock.json
  package.json
Due: none

Fix colors when using mounted colors and auto colors (#176)
  src/server/modes/charts/plugins/datalens/utils/color-helpers.ts
Due: none

Bump version to 0.941.0 [release]
  package-lock.json
  package.json
Due: none

Lint fix
  src/server/modes/charts/plugins/ql/preparers/line-time.ts
Due: none

Add parametrization for e2e tests (#159)
  tests/constants.ts
  tests/constants/config/index.ts
  tests/constants/config/wizard.ts
  tests/constants/test-entities/wizard.ts
  tests/opensource-suites/wizard/filters/filters-with-dialog-color.test.ts
  tests/types/config/index.ts
  tests/types/config/wizard.ts
  tests/utils/index.ts
  tests/utils/playwright/constants.ts
  tests/utils/playwright/globalTestDefinition.ts
Due: none

Bump version to 0.942.0 [release]
  package-lock.json
  package.json
Due: none

Fix checking legend mode
  src/server/modes/charts/plugins/ql/preparers/line-time.ts
Due: none

Fix checking legend mode in Ql timeline charts (#179)
  src/server/modes/charts/plugins/ql/preparers/line-time.ts
Due: none

Bump version to 0.943.0 [release]
  package-lock.json
  package.json
Due: none

Fix initialization of wizard with fields from datasets with common source (#174)
  src/ui/units/wizard/utils/mappers/mapChartsToClientConfig.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.944.0 [release]
  package-lock.json
  package.json
Due: none

add new method - migrateCopiedEntriesToWorkbook
  src/shared/schema/us/actions/workbooks.ts
  src/ui/components/MigrateToWorkbookDialog/MigrateToWorkbookDialog.tsx
  src/ui/store/actions/migrationToWorkbook.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix clearing query, fix reverse settings set
  src/server/modes/charts/plugins/ql/js.ts
  src/server/modes/charts/plugins/ql/url.ts
  src/server/modes/charts/plugins/ql/utils/misc-helpers.ts
  src/ui/units/ql/store/actions/ql.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add disable apply button state on aliases dialog
  src/ui/units/dash/containers/Dialogs/DialogRelations/components/DialogAliases/DialogAliases.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add disable apply button state on aliases dialog (#180)
  src/ui/units/dash/containers/Dialogs/DialogRelations/components/DialogAliases/DialogAliases.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.945.0 [release]
  package-lock.json
  package.json
Due: none

Change action params api for HC
  src/ui/libs/DatalensChartkit/ChartKit/helpers/apply-hc-handlers.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/chartkitAdapter.ts
  src/ui/libs/DatalensChartkit/ChartKit/modules/chartkit-custom-error/chartkit-custom-error.ts
  src/ui/libs/DatalensChartkit/types/widget.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix same case for d3
  src/server/modes/charts/plugins/datalens/preparers/bar-x/d3.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-x/prepareBarX.ts
  src/server/modes/charts/plugins/ql/js.ts
Due: none

Add tooltip commenting why axis mode is not available
  src/i18n-keysets/wizard/en.json
  src/i18n-keysets/wizard/keyset.json
  src/i18n-keysets/wizard/ru.json
  src/server/modes/charts/plugins/ql/js.ts
  src/shared/types/config/wizard/v9.ts
  src/shared/types/wizard/field.ts
  src/ui/units/wizard/components/Dialogs/DialogPlaceholder/DialogPlaceholder.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

add layout for new migration dialog
  src/i18n-keysets/component.migrate-to-workbook-dialog/ru.json
  src/ui/components/MigrateToWorkbookDialog/MigrateToWorkbookDialog.scss
  src/ui/components/MigrateToWorkbookDialog/MigrateToWorkbookDialog.tsx
  src/ui/components/MigrateToWorkbookDialog/MigrationBody/MigrationBody.scss
  src/ui/components/MigrateToWorkbookDialog/MigrationBody/MigrationBody.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

change css
  src/ui/components/MigrateToWorkbookDialog/MigrateToWorkbookDialog.scss
Due: prettier --write, stylelint --fix --quiet

Change action params api for HC (#181)
  src/ui/libs/DatalensChartkit/ChartKit/helpers/apply-hc-handlers.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/chartkitAdapter.ts
  src/ui/libs/DatalensChartkit/ChartKit/modules/chartkit-custom-error/chartkit-custom-error.ts
  src/ui/libs/DatalensChartkit/types/widget.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.946.0 [release]
  package-lock.json
  package.json
Due: none

Changed flag name
  src/server/modes/charts/plugins/datalens/js/helpers/misc/prepare-single-result.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-x/d3.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-x/prepareBarX.ts
  src/server/modes/charts/plugins/datalens/preparers/line/index.ts
  src/server/modes/charts/plugins/datalens/preparers/pie/preparePie.ts
  src/server/modes/charts/plugins/datalens/preparers/types.ts
  src/server/modes/charts/plugins/ql/js.ts
Due: none

Add new tooltip text for case with measure in sort
  src/i18n-keysets/wizard/en.json
  src/i18n-keysets/wizard/keyset.json
  src/i18n-keysets/wizard/ru.json
  src/ui/units/wizard/components/Dialogs/DialogPlaceholder/DialogPlaceholder.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write
