Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

.lintstagedrc.json:

{
    "!(src/ui/**/*)*.{js,jsx,ts,tsx}": [
      "eslint --fix --quiet",
      "prettier --write"
    ],
    "src/ui/**/*.{js,jsx,ts,tsx}": [
      "eslint -c src/ui/.ci-eslintrc --fix --quiet",
      "prettier --write"
    ],
    "*.{css,scss}": [
      "stylelint --fix --quiet",
      "prettier --write"
    ]
}

Move e2e dash params dnd test
  tests/opensource-suites/dash/params/params.test.ts
Due: none

Removed rudimentary mobile modifier class
  src/ui/components/DialogErrorWithTabs/DialogErrorWithTabs.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add links to nodekit config (#424)
  src/@types/nodekit.d.ts
Due: none

Bump version to 0.1166.0 [release]
  package-lock.json
  package.json
Due: none

Refactor mobile class rules
  src/ui/components/DialogErrorWithTabs/DialogErrorWithTabs.scss
Due: prettier --write, stylelint --fix --quiet

Comment for dash action import in DialogDeleteEntry
  src/ui/components/EntryDialogues/DialogDeleteEntry/DialogDeleteEntry.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Moved delete with lockToken to server
  src/shared/schema/mix/actions/entries.ts
  src/shared/schema/mix/types/entries.ts
  src/shared/schema/us/actions/entries.ts
  src/shared/schema/us/types/entries.ts
  src/ui/components/EntryDialogues/DialogDeleteEntry/DialogDeleteEntry.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Added lock and unlock mechanic but on client side
  src/ui/components/EntryDialogues/DialogDeleteEntry/DialogDeleteEntry.tsx
  src/ui/datalens/pages/DashAndWizardQLPages/DashAndWizardQLPages.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add extending result data for control
  src/ui/registry/units/dash/functions-map.ts
  src/ui/registry/units/dash/register.tsx
  src/ui/units/dash/store/actions/dashTyped.ts
  src/ui/units/dash/store/actions/helpers.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix line chart with the DateTime field on the Y axis
  src/server/modes/charts/plugins/datalens/preparers/line/helpers/getXAxisValue.ts
  src/server/modes/charts/plugins/datalens/preparers/line/helpers/line-mappers/prepareLines.ts
  src/server/modes/charts/plugins/datalens/utils/axis-helpers.ts
Due: none

Add extending value selector
  src/ui/registry/units/dash/components-map.tsx
  src/ui/registry/units/dash/types/ExtendedValueSelector.ts
  src/ui/units/dash/containers/Dialogs/Control2/Sections/ValueSelector/ValueSelector.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix error dialog long text (#415)
  src/ui/components/DialogErrorWithTabs/DialogErrorWithTabs.scss
  src/ui/components/DialogErrorWithTabs/DialogErrorWithTabs.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.1167.0 [release]
  package-lock.json
  package.json
Due: none

Added lockToken to deleteEntry action (#413)
  src/shared/schema/mix/actions/entries.ts
  src/shared/schema/mix/types/entries.ts
  src/shared/schema/us/actions/entries.ts
  src/shared/schema/us/types/entries.ts
  src/ui/components/EntryDialogues/DialogDeleteEntry/DialogDeleteEntry.tsx
  src/ui/datalens/pages/DashAndWizardQLPages/DashAndWizardQLPages.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1168.0 [release]
  package-lock.json
  package.json
Due: none

fix ValueSelector input control
  src/ui/registry/units/dash/components-map.tsx
  src/ui/registry/units/dash/functions-map.ts
  src/ui/registry/units/dash/types/ExtendedValueSelector.ts
  src/ui/units/dash/containers/Dialogs/Control2/Sections/ValueSelector/ValueSelector.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Move e2e dash params dnd test (#427)
  tests/opensource-suites/dash/params/params.test.ts
Due: none

Bump version to 0.1169.0 [release]
  package-lock.json
  package.json
Due: none

Add separate component for datepicker dash control
  src/ui/components/DashKit/plugins/Control/Control.tsx
  src/ui/components/common/DatepickerControl/DatepickerControl.tsx
  src/ui/libs/DatalensChartkit/components/Control/Items/Items.js
  src/ui/registry/units/common/components-map.tsx
  src/ui/registry/units/common/register.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Dataset fields modal bigger inputs
  src/ui/components/FieldEditor/FieldEditor.scss
  src/ui/components/FieldEditor/components/SourceSection.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix after review
  src/ui/components/ActionPanel/components/EntryPanel/EntryPanel.tsx
  src/ui/components/EntryBreadcrumbs/EntryBreadcrumbs.tsx
  src/ui/components/EntryBreadcrumbs/helpers.ts
  src/ui/registry/units/common/types/components/EntryBreadcrumbs.ts
  src/ui/units/workbooks/store/actions/index.ts
  src/ui/units/workbooks/store/reducers/workbook-page.ts
  src/ui/units/workbooks/store/selectors/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix lint check workflow title
  .github/workflows/lint_typecheck_unit.yaml
Due: none

FieldEditor break-word for error messages in source-selection-control
  src/ui/components/FieldEditor/FieldEditor.scss
Due: prettier --write, stylelint --fix --quiet

Fix FieldEditor hint icon alignment
  src/ui/components/FieldEditor/FieldEditor.scss
Due: prettier --write, stylelint --fix --quiet

Removed empty translations
  src/i18n-keysets/chartkit.menu.inspector/en.json
  src/i18n-keysets/chartkit.menu.inspector/keyset.json
  src/i18n-keysets/chartkit.menu.inspector/ru.json
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Header/components/Menu/Items/Inspector/Timings/Timings.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix test
  src/server/modes/charts/plugins/datalens/preparers/bar-y/__tests__/bar-y.test.ts
Due: none

fix test(2)
  src/server/modes/charts/plugins/datalens/preparers/bar-y/__tests__/bar-y.test.ts
Due: none

Only in content are now changed in size
  src/ui/components/FieldEditor/FieldEditor.scss
Due: prettier --write, stylelint --fix --quiet

Add test temp text
  src/i18n-keysets/temp/ru.json
Due: none

refactoring
  src/ui/components/DashKit/plugins/Control/Control.tsx
  src/ui/components/common/DatepickerControl/DatepickerControl.tsx
  src/ui/libs/DatalensChartkit/components/Control/Items/Items.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix rendering registered datepicker component
  src/ui/libs/DatalensChartkit/components/Control/Items/Items.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix types
  src/ui/components/EntryBreadcrumbs/helpers.ts
  src/ui/registry/units/common/types/components/EntryBreadcrumbs.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix i18n flow
  .github/workflows/i18n-check.yml
Due: none

Correct the axis type for cases where the value for the field is undefined
  src/server/modes/charts/plugins/datalens/preparers/line/prepare-line-data.ts
  src/shared/modules/index.ts
  src/shared/modules/wizard-helpers.ts
  src/shared/modules/wizard/axis-mode.ts
  src/shared/modules/wizard/index.ts
  src/ui/units/wizard/actions/placeholder.ts
  src/ui/units/wizard/components/Dialogs/DialogPlaceholder/DialogPlaceholder.tsx
  src/ui/units/wizard/utils/placeholder.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix test
  src/server/modes/charts/plugins/datalens/preparers/line/__tests__/mocks/line.mock.ts
Due: none

Move e2e dash autoheight test
  package-lock.json
  package.json
  src/@types/nodekit.d.ts
  src/shared/constants/qa/dash.ts
  src/shared/schema/mix/actions/entries.ts
  src/shared/schema/mix/types/entries.ts
  src/shared/schema/us/actions/entries.ts
  src/shared/schema/us/types/entries.ts
  src/ui/components/DialogErrorWithTabs/DialogErrorWithTabs.scss
  src/ui/components/DialogErrorWithTabs/DialogErrorWithTabs.tsx
  src/ui/components/EntryDialogues/DialogDeleteEntry/DialogDeleteEntry.tsx
  src/ui/datalens/pages/DashAndWizardQLPages/DashAndWizardQLPages.tsx
  src/ui/units/dash/containers/Dialogs/Widget/Widget.tsx
  tests/constants/test-entities/charts.ts
  tests/data/us-e2e-data
  tests/opensource-suites/dash/params/params.test.ts
  tests/opensource-suites/dash/widgets/autoheight.test.ts
  tests/page-objects/dashboard/DashboardPage.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet
