Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

.lintstagedrc.json:

{
    "!(src/ui/**/*)*.{js,jsx,ts,tsx}": [
      "eslint --fix --quiet",
      "prettier --write"
    ],
    "src/ui/**/*.{js,jsx,ts,tsx}": [
      "eslint -c src/ui/.ci-eslintrc --fix --quiet",
      "prettier --write"
    ],
    "*.{css,scss}": [
      "stylelint --fix --quiet",
      "prettier --write"
    ]
}

feat: fix after review
  src/ui/units/collections/components/CollectionActions/CollectionActions.scss
  src/ui/units/collections/components/CollectionActions/CollectionActions.tsx
  src/ui/units/workbooks/components/WorkbookActions/WorkbookActions.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix dash edit panel z-index
  src/ui/units/dash/containers/Body/Body.scss
Due: prettier --write, stylelint --fix --quiet

Add SaveDashWithFakeEntry feature-flag with support route for create dash
  src/server/components/features/features-list/SaveDashWithFakeEntry.ts
  src/shared/types/feature.ts
  src/ui/components/Navigation/Base/NavigationBase.js
  src/ui/datalens/pages/DashAndWizardQLPages/DashAndWizardQLPages.tsx
  src/ui/datalens/pages/DashPage/DashPage.tsx
  src/ui/registry/units/workbooks/functions-map.ts
  src/ui/registry/units/workbooks/register.tsx
  src/ui/units/workbooks/components/CreateEntryDialog/CreateEntryDialog.tsx
  src/ui/units/workbooks/components/CreateEntryDialog/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix
  tests/page-objects/wizard/FilterEditor.ts
Due: none

Fix dash edit panel z-index (#41)
  src/ui/units/dash/containers/Body/Body.scss
Due: prettier --write, stylelint --fix --quiet

Bump version to 0.819.0
  package-lock.json
  package.json
Due: none

Charts 8453 add group btns for collection workbook page (#17)
  src/ui/registry/units/workbooks/functions-map.ts
  src/ui/registry/units/workbooks/types/functions/UseAdditionalWorkbookActions.ts
  src/ui/units/collections/components/CollectionActions/CollectionActions.scss
  src/ui/units/collections/components/CollectionActions/CollectionActions.tsx
  src/ui/units/collections/components/CollectionLayout/CollectionLayout.scss
  src/ui/units/collections/components/CollectionLayout/CollectionLayout.tsx
  src/ui/units/collections/components/CollectionPage/CollectionPage.tsx
  src/ui/units/workbooks/components/WorkbookActions/WorkbookActions.scss
  src/ui/units/workbooks/components/WorkbookActions/WorkbookActions.tsx
  src/ui/units/workbooks/components/WorkbookActions/utils.tsx
  src/ui/units/workbooks/components/WorkbookPage/WorkbookPage.scss
  src/ui/units/workbooks/components/WorkbookPage/WorkbookPage.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.820.0
  package-lock.json
  package.json
Due: none

Connections store refactoring (#34)
  src/i18n-keysets/connections.form/en.json
  src/i18n-keysets/connections.form/keyset.json
  src/i18n-keysets/connections.form/ru.json
  src/shared/schema/appmetrica/types/index.ts
  src/shared/schema/bi/types/forms.ts
  src/shared/schema/metrica/types/index.ts
  src/shared/schema/oauth/types/index.ts
  src/shared/schema/types.ts
  src/ui/units/connections/components/ConnectorForm/utils/index.ts
  src/ui/units/connections/components/ConnectorForm/utils/mdb.tsx
  src/ui/units/connections/components/ConnectorForm/utils/select-items.ts
  src/ui/units/connections/components/ConnectorForm/utils/ydb.ts
  src/ui/units/connections/constants/form.ts
  src/ui/units/connections/constants/index.ts
  src/ui/units/connections/constants/mdb.ts
  src/ui/units/connections/store/actions/api.ts
  src/ui/units/connections/store/actions/base.ts
  src/ui/units/connections/store/actions/index.ts
  src/ui/units/connections/store/actions/select-items.ts
  src/ui/units/connections/store/constants.ts
  src/ui/units/connections/store/reducers/index.ts
  src/ui/units/connections/store/typings/api.ts
  src/ui/units/connections/store/typings/index.ts
  src/ui/units/connections/store/typings/mdb.ts
  src/ui/units/connections/store/typings/ydb.ts
  src/ui/units/connections/store/utils/index.ts
  src/ui/units/connections/store/utils/mdb.ts
  src/ui/units/connections/store/utils/metrica.ts
  src/ui/units/connections/utils/index.ts
  src/ui/units/connections/utils/links.ts
  src/ui/units/connections/utils/tenant.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.821.0
  package-lock.json
  package.json
Due: none

Fix i18n in dataset sources dialog
  src/i18n-keysets/dataset.sources-tab.modify/en.json
  src/i18n-keysets/dataset.sources-tab.modify/ru.json
  src/ui/units/datasets/components/SourceEditorDialog/SourceEditorDialog.scss
  src/ui/units/datasets/components/SourceEditorDialog/components/SourceHelpTooltip.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Enable add field feature in QL
  src/ui/units/wizard/containers/Wizard/SectionVisualization/AddField/AddField.tsx
  src/ui/units/wizard/containers/Wizard/SectionVisualization/PlaceholdersContainer/AvailablePlaceholder/AvailablePlaceholder.tsx
  src/ui/units/wizard/containers/Wizard/SectionVisualization/PlaceholdersContainer/ColorsPlaceholder/ColorsPlaceholder.tsx
  src/ui/units/wizard/containers/Wizard/SectionVisualization/PlaceholdersContainer/DashboardFiltersPlaceholder/DashboardFiltersPlaceholder.tsx
  src/ui/units/wizard/containers/Wizard/SectionVisualization/PlaceholdersContainer/DashboardParametersPlaceholder/DashboardParametersPlaceholder.tsx
  src/ui/units/wizard/containers/Wizard/SectionVisualization/PlaceholdersContainer/FiltersPlaceholder/FiltersPlaceholder.tsx
  src/ui/units/wizard/containers/Wizard/SectionVisualization/PlaceholdersContainer/LabelsPlaceholder/LabelsPlaceholder.tsx
  src/ui/units/wizard/containers/Wizard/SectionVisualization/PlaceholdersContainer/LayerFiltersPlaceholder/LayerFiltersPlaceholder.tsx
  src/ui/units/wizard/containers/Wizard/SectionVisualization/PlaceholdersContainer/Placeholder/Placeholder.tsx
  src/ui/units/wizard/containers/Wizard/SectionVisualization/PlaceholdersContainer/PlaceholdersContainer.tsx
  src/ui/units/wizard/containers/Wizard/SectionVisualization/PlaceholdersContainer/SegmentsPlaceholder/SegmentsPlaceholder.tsx
  src/ui/units/wizard/containers/Wizard/SectionVisualization/PlaceholdersContainer/ShapesPlaceholder/ShapesPlaceholder.tsx
  src/ui/units/wizard/containers/Wizard/SectionVisualization/PlaceholdersContainer/SortPlaceholder/SortPlaceholder.tsx
  src/ui/units/wizard/containers/Wizard/SectionVisualization/PlaceholdersContainer/TooltipsPlaceholder/TooltipsPlaceholder.tsx
  src/ui/units/wizard/containers/Wizard/SectionVisualization/PlaceholdersContainer/VisualizationPlaceholder/VisualizationPlaceholder.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Styles fix for add field in ql
  src/ui/units/ql/containers/QL/QL.scss
Due: prettier --write, stylelint --fix --quiet

Refactoring UX in Wizard (#39)
  src/ui/components/DialogFilter/DialogFilter.tsx
  src/ui/units/wizard/components/AddField/AddField.scss
  tests/page-objects/wizard/FilterEditor.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.822.0
  package-lock.json
  package.json
Due: none

Fix i18n in dataset sources dialog (#43)
  src/i18n-keysets/dataset.sources-tab.modify/en.json
  src/i18n-keysets/dataset.sources-tab.modify/ru.json
  src/ui/units/datasets/components/SourceEditorDialog/SourceEditorDialog.scss
  src/ui/units/datasets/components/SourceEditorDialog/components/SourceHelpTooltip.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.823.0
  package-lock.json
  package.json
Due: none

Remove development comment
  src/ui/units/datasets/components/SourceEditorDialog/components/SourceHelpTooltip.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Remove development comment (#45)
  src/ui/units/datasets/components/SourceEditorDialog/components/SourceHelpTooltip.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.824.0
  package-lock.json
  package.json
Due: none

Enable add field feature in QL (#44)
  src/ui/units/ql/containers/QL/QL.scss
  src/ui/units/wizard/containers/Wizard/SectionVisualization/AddField/AddField.tsx
  src/ui/units/wizard/containers/Wizard/SectionVisualization/PlaceholdersContainer/AvailablePlaceholder/AvailablePlaceholder.tsx
  src/ui/units/wizard/containers/Wizard/SectionVisualization/PlaceholdersContainer/ColorsPlaceholder/ColorsPlaceholder.tsx
  src/ui/units/wizard/containers/Wizard/SectionVisualization/PlaceholdersContainer/DashboardFiltersPlaceholder/DashboardFiltersPlaceholder.tsx
  src/ui/units/wizard/containers/Wizard/SectionVisualization/PlaceholdersContainer/DashboardParametersPlaceholder/DashboardParametersPlaceholder.tsx
  src/ui/units/wizard/containers/Wizard/SectionVisualization/PlaceholdersContainer/FiltersPlaceholder/FiltersPlaceholder.tsx
  src/ui/units/wizard/containers/Wizard/SectionVisualization/PlaceholdersContainer/LabelsPlaceholder/LabelsPlaceholder.tsx
  src/ui/units/wizard/containers/Wizard/SectionVisualization/PlaceholdersContainer/LayerFiltersPlaceholder/LayerFiltersPlaceholder.tsx
  src/ui/units/wizard/containers/Wizard/SectionVisualization/PlaceholdersContainer/Placeholder/Placeholder.tsx
  src/ui/units/wizard/containers/Wizard/SectionVisualization/PlaceholdersContainer/PlaceholdersContainer.tsx
  src/ui/units/wizard/containers/Wizard/SectionVisualization/PlaceholdersContainer/SegmentsPlaceholder/SegmentsPlaceholder.tsx
  src/ui/units/wizard/containers/Wizard/SectionVisualization/PlaceholdersContainer/ShapesPlaceholder/ShapesPlaceholder.tsx
  src/ui/units/wizard/containers/Wizard/SectionVisualization/PlaceholdersContainer/SortPlaceholder/SortPlaceholder.tsx
  src/ui/units/wizard/containers/Wizard/SectionVisualization/PlaceholdersContainer/TooltipsPlaceholder/TooltipsPlaceholder.tsx
  src/ui/units/wizard/containers/Wizard/SectionVisualization/PlaceholdersContainer/VisualizationPlaceholder/VisualizationPlaceholder.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.825.0
  package-lock.json
  package.json
Due: none

feat: add flag ignoreWorkbookEntries for NavigationMinimal
  src/ui/components/Navigation/Core/NavigationEntries.js
  src/ui/components/Navigation/NavigationMinimal.d.ts
  src/ui/units/dash/containers/DropdownNavigation/DropdownNavigation.js
  src/ui/units/datasets/components/SelectSourcePrototypes/SelectSourcePrototypes.js
  src/ui/units/ql/containers/QL/ViewSetup/ViewSetup.tsx
  src/ui/units/wizard/containers/Wizard/SectionDataset/SectionDataset.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fixed order of fields in monitoring charts
  src/server/modes/charts/plugins/ql/js.ts
Due: none

Working colorizing for line-time charts
  src/server/modes/charts/plugins/datalens/preparers/line-time/index.ts
  src/server/modes/charts/plugins/ql/utils/colors.js
Due: none

Update @gravity-ui/chartkit to 4.7.2
  package-lock.json
  package.json
  src/ui/libs/DatalensChartkit/ChartKit/helpers/tooltip.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Update @gravity-ui/chartkit to 4.7.2 (#49)
  package-lock.json
  package.json
  src/ui/libs/DatalensChartkit/ChartKit/helpers/tooltip.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.826.0
  package-lock.json
  package.json
Due: none

feat: devide collection content on grid and table
  src/ui/units/collections/components/CollectionContent/CollectionContent.tsx
  src/ui/units/collections/components/CollectionContentGrid/CollectionContentGrid.scss
  src/ui/units/collections/components/CollectionContentGrid/CollectionContentGrid.tsx
  src/ui/units/collections/components/CollectionContentTable/CollectionContentTable.tsx
  src/ui/units/collections/components/types.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

feat: add new field for EntriesCommonArgs interface
  src/shared/schema/us/types/common.ts
Due: none

Fix connections page loader styles
  src/ui/units/connections/components/Page/Page.tsx
  src/ui/units/connections/components/WrappedLoader/WrappedLoader.scss
  src/ui/units/connections/components/WrappedLoader/WrappedLoader.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix connections page loader styles (#48)
  src/ui/units/connections/components/Page/Page.tsx
  src/ui/units/connections/components/WrappedLoader/WrappedLoader.scss
  src/ui/units/connections/components/WrappedLoader/WrappedLoader.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.827.0
  package-lock.json
  package.json
Due: none

Add traceId to the Dash API
  src/server/components/sdk/dash.ts
Due: none

Up app-builder version to 0.6.11
  package-lock.json
  package.json
Due: none

Up @gravity-ui/app-builder version to 0.6.11 (#51)
  package-lock.json
  package.json
Due: none

Bump version to 0.828.0
  package-lock.json
  package.json
Due: none

Fix lockToken set on back navigation
  src/ui/units/dash/containers/Dash/Dash.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add traceId to the Dash API (#50)
  src/server/components/sdk/dash.ts
Due: none

Bump version to 0.829.0
  package-lock.json
  package.json
Due: none
