Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Added functionality to rename entries in favorites
  src/i18n-keysets/component.navigation.view/en.json
  src/i18n-keysets/component.navigation.view/keyset.json
  src/i18n-keysets/component.navigation.view/ru.json
  src/shared/schema/us/actions/favorites.ts
  src/shared/schema/us/types/entries.ts
  src/shared/schema/us/types/favorites.ts
  src/shared/schema/us/types/fields.ts
  src/shared/types/feature.ts
  src/ui/components/Navigation/Core/FavoritesNameWithAliasItem/FavoritesNameWithAliasItem.tsx
  src/ui/components/Navigation/Core/NavigationEntries.js
  src/ui/components/Navigation/Core/TableView/List/List.tsx
  src/ui/components/Navigation/Core/TableView/Row/Row.tsx
  src/ui/components/Navigation/Core/TableView/TableView.scss
  src/ui/components/Navigation/Core/TableView/types.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Update browserlist config (#318)
  package-lock.json
  package.json
Due: none

Bump version to 0.1069.0 [release]
  package-lock.json
  package.json
Due: none

Move flat to renderSheet
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Header/components/Menu/Menu.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Wizard dataset e2e tests (#314)
  scripts/e2e/us-dump.sh
  src/shared/constants/qa/components.ts
  src/shared/constants/qa/wizard.ts
  src/ui/components/Navigation/Base/configure.ts
  src/ui/units/wizard/components/DatasetSelect/DatasetSelect.tsx
  src/ui/units/wizard/components/DatasetSelect/DatasetSelectItem.tsx
  src/ui/units/wizard/containers/Wizard/SectionDataset/DatasetItem/DatasetItem.tsx
  src/ui/units/wizard/containers/Wizard/SectionDataset/SectionDataset.tsx
  tests/constants/config/wizard.ts
  tests/constants/constants.ts
  tests/constants/test-entities/wizard.ts
  tests/data/us-e2e-data
  tests/opensource-suites/utils.ts
  tests/opensource-suites/wizard/datasets/add-dataset.test.ts
  tests/opensource-suites/wizard/datasets/replace-dataset.test.ts
  tests/page-objects/wizard/DatasetSelector.ts
  tests/page-objects/wizard/DialogMultidataset.ts
  tests/page-objects/wizard/SectionVisualization.ts
  tests/page-objects/wizard/WizardPage.ts
  tests/suites/wizard/hierarchy/editHierarchy.test.ts
  tests/types/config/wizard.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1070.0 [release]
  package-lock.json
  package.json
Due: none

Added functionality to rename entries in favorites
  src/shared/schema/us/types/entries.ts
Due: none

Added functionality to rename entries in favorites
  src/server/components/features/features-list/EnableFavoritesNameAliases.ts
  src/shared/types/feature.ts
  src/ui/components/Navigation/Core/TableView/Row/Row.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix table cell height
  src/server/modes/charts/plugins/datalens/preparers/backend-pivot-table/table-rows-generator.ts
  src/server/modes/charts/plugins/datalens/preparers/old-pivot-table/old-pivot-table.ts
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/Table.scss
Due: prettier --write, stylelint --fix --quiet

Fix table cell height (#320)
  src/server/modes/charts/plugins/datalens/preparers/backend-pivot-table/table-rows-generator.ts
  src/server/modes/charts/plugins/datalens/preparers/old-pivot-table/old-pivot-table.ts
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/Table.scss
Due: prettier --write, stylelint --fix --quiet

Bump version to 0.1071.0 [release]
  package-lock.json
  package.json
Due: none

Add mobile version for DialogShare and fullscreen in chart menu
  src/i18n-keysets/chartkit.menu/en.json
  src/i18n-keysets/chartkit.menu/ru.json
  src/i18n-keysets/component.dialog-share.view/en.json
  src/i18n-keysets/component.dialog-share.view/ru.json
  src/shared/types/menu.ts
  src/ui/components/DialogShare/DialogShare.scss
  src/ui/components/DialogShare/DialogShare.tsx
  src/ui/components/EntryContextMenu/helpers.ts
  src/ui/components/Widgets/Chart/components/Content.tsx
  src/ui/components/Widgets/Chart/components/Header.tsx
  src/ui/libs/DatalensChartkit/menu/Menu.tsx
  src/ui/libs/DatalensChartkit/menu/MenuItems.tsx
  src/ui/libs/DatalensChartkit/menu/helpers.ts
  src/ui/libs/DatalensChartkit/modules/menu/menu.ts
  src/ui/registry/units/chart/types/functions/getChartkitMenuByType.ts
  src/ui/utils/mobile.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Add splitting entities by scope
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/WorkbookEntriesTable.tsx
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/useChunkedEntries.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix routes
  src/shared/schema/us/actions/collections.ts
  src/shared/schema/us/actions/workbooks.ts
Due: none

Fix incorrect legend for the field with the date type
  src/server/modes/charts/plugins/datalens/preparers/bar-x/__tests__/prepareBarX.test.ts
  src/server/modes/charts/plugins/datalens/preparers/helpers/get-formatted-value.ts
  src/server/modes/charts/plugins/datalens/preparers/line/helpers/line-mappers/mapDataToLines.ts
Due: none

Hide the Save as draft button for the user without editing rights
  src/ui/components/ActionPanel/components/ChartSaveControls/ChartSaveControl.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Refactor unit tests, added first basic ql test for flatTable
  src/server/modes/charts/plugins/datalens/js/helpers/misc/prepare-single-result.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-x/__tests__/mocks/prepareBarX.mock.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-x/__tests__/mocks/prepareHighchartsBarX.mock.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-x/__tests__/prepareBarX.test.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-x/__tests__/prepareHighchartsBarX.ts
  src/server/modes/charts/plugins/datalens/preparers/flat-table/__tests__/flat-table.test.ts
  src/server/modes/charts/plugins/datalens/preparers/flat-table/__tests__/mocks/flat-table.mock.ts
  src/server/modes/charts/plugins/datalens/preparers/line-time/__tests__/line-time.test.ts
  src/server/modes/charts/plugins/datalens/preparers/line/__tests__/line.test.ts
  src/server/modes/charts/plugins/ql/js.ts
Due: none

Add check for navigator
  src/ui/components/DialogShare/DialogShare.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Up @gravity-ui/components@2.9.1
  package-lock.json
  package.json
Due: none

Hide the Save as draft button for the user without editing rights (#323)
  src/ui/components/ActionPanel/components/ChartSaveControls/ChartSaveControl.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1072.0 [release]
  package-lock.json
  package.json
Due: none

Fix incorrect legend for the field with the date type (#322)
  src/server/modes/charts/plugins/datalens/preparers/bar-x/__tests__/prepareBarX.test.ts
  src/server/modes/charts/plugins/datalens/preparers/helpers/get-formatted-value.ts
  src/server/modes/charts/plugins/datalens/preparers/line/helpers/line-mappers/mapDataToLines.ts
Due: none

Bump version to 0.1073.0 [release]
  package-lock.json
  package.json
Due: none

Impove share click
  src/ui/components/AsideHeaderAdapter/AsideHeaderAdapter.tsx
  src/ui/components/DialogShare/DialogShare.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add widget type check
  src/ui/libs/DatalensChartkit/menu/MenuItems.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Up @gravity-ui/components@2.9.1 (#325)
  package-lock.json
  package.json
Due: none

Bump version to 0.1074.0 [release]
  package-lock.json
  package.json
Due: none

Merge fixes
  src/server/modes/charts/plugins/datalens/preparers/bar-x/__tests__/mocks/prepareBarX.mock.ts
Due: none

Add mobile dash TOC
  src/ui/units/dash/components/DashActionPanel/DashActionPanelMobile.scss
  src/ui/units/dash/components/DashActionPanel/DashActionPanelMobile.tsx
  src/ui/units/dash/containers/Body/Body.scss
  src/ui/units/dash/containers/Header/Header.scss
  src/ui/units/dash/containers/Header/Header.tsx
  src/ui/units/dash/containers/TableOfContent/TableOfContent.tsx
  src/ui/units/dash/store/actions/dash.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Emprove fetch limit errors
  src/server/components/charts-engine/components/processor/data-fetcher.ts
  src/server/components/charts-engine/components/processor/index.ts
  src/server/components/charts-engine/constants/index.ts
Due: none

Add ql test for pie
  src/server/modes/charts/plugins/datalens/js/helpers/misc/prepare-single-result.ts
  src/server/modes/charts/plugins/datalens/preparers/pie/__tests__/mocks/pie.mock.ts
  src/server/modes/charts/plugins/datalens/preparers/pie/__tests__/pie.test.ts
  src/server/modes/charts/plugins/ql/js.ts
Due: none

Emprove fetch limit errors (#326)
  src/server/components/charts-engine/components/processor/data-fetcher.ts
  src/server/components/charts-engine/components/processor/index.ts
  src/server/components/charts-engine/constants/index.ts
Due: none

Bump version to 0.1075.0 [release]
  package-lock.json
  package.json
Due: none

Add splitting entities by scope
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/WorkbookEntriesTable.tsx
  src/ui/units/workbooks/components/WorkbookContent/WorkbookContent.tsx
  src/ui/units/workbooks/store/actions/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix switch to selection mode
  src/ui/units/collections/components/CollectionContentTable/CollectionContentTable.scss
  src/ui/units/collections/components/CollectionPage/CollectionPage.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Add i18n keys
  src/i18n-keysets/collections/en.json
  src/i18n-keysets/collections/keyset.json
  src/i18n-keysets/collections/ru.json
  src/ui/units/collections/components/CollectionLayout/CollectionLayout.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Update gateway
  package-lock.json
  package.json
Due: none

Update gateway (#327)
  package-lock.json
  package.json
Due: none

Bump version to 0.1076.0 [release]
  package-lock.json
  package.json
Due: none

Add bar-x test for ql
  src/server/modes/charts/plugins/datalens/preparers/bar-x/__tests__/mocks/prepareHighchartsBarX.mock.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-x/__tests__/prepareHighchartsBarX.ts
  src/server/modes/charts/plugins/datalens/preparers/pie/__tests__/mocks/pie.mock.ts
  src/server/modes/charts/plugins/datalens/preparers/pie/__tests__/pie.test.ts
Due: none

Path conditions:
  eslint -c src/ui/.ci-eslintrc --fix --quiet: any of: src/ui/**/*.{js,jsx,ts,tsx}
  prettier --write: (any of: src/ui/**/*.{js,jsx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --fix --quiet: any of: *.{css,scss}
