Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

.lintstagedrc.json:

{
    "!(src/ui/**/*)*.{js,jsx,ts,tsx}": [
      "eslint --fix --quiet",
      "prettier --write"
    ],
    "src/ui/**/*.{js,jsx,ts,tsx}": [
      "eslint -c src/ui/.ci-eslintrc --fix --quiet",
      "prettier --write"
    ],
    "*.{css,scss}": [
      "stylelint --fix --quiet",
      "prettier --write"
    ]
}

feat: change icons
  src/shared/types/configs/index.ts
  src/ui/assets/icons/collections/collection-colored-big.svg
  src/ui/assets/icons/collections/collection-colored.svg
  src/ui/assets/icons/collections/grid.svg
  src/ui/assets/icons/collections/table.svg
  src/ui/components/CollectionFilters/CollectionFilters.tsx
  src/ui/configs/common/icons.ts
  src/ui/units/collections/components/CollectionContent/CollectionContent.tsx
  src/ui/units/collections/components/CollectionContentGrid/CollectionContentGrid.tsx
  src/ui/units/collections/components/CollectionPage/CollectionPage.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix lockToken set on back navigation (#52)
  src/ui/units/dash/containers/Dash/Dash.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.830.0
  package-lock.json
  package.json
Due: none

feat: add flag ignoreWorkbookEntries for NavigationMinimal (#46)
  src/shared/schema/us/types/common.ts
  src/ui/components/Navigation/Core/NavigationEntries.js
  src/ui/components/Navigation/NavigationMinimal.d.ts
  src/ui/units/dash/containers/DropdownNavigation/DropdownNavigation.js
  src/ui/units/datasets/components/SelectSourcePrototypes/SelectSourcePrototypes.js
  src/ui/units/ql/containers/QL/ViewSetup/ViewSetup.tsx
  src/ui/units/wizard/containers/Wizard/SectionDataset/SectionDataset.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

add store ViewMode in localstorage
  src/ui/components/CollectionFilters/CollectionFilters.scss
  src/ui/components/CollectionFilters/CollectionFilters.tsx
  src/ui/units/collections/components/CollectionPage/CollectionPage.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.831.0
  package-lock.json
  package.json
Due: none

Support of full colorizing in monitoring charts
  src/server/modes/charts/plugins/datalens/preparers/line-time/index.ts
  src/server/modes/charts/plugins/ql/utils/colors.ts
Due: none

Fix chart dialog styles
  src/ui/units/dash/components/NavigationInput/NavigationInput.scss
  src/ui/units/dash/containers/DropdownNavigation/DropdownNavigation.js
  src/ui/units/dash/containers/DropdownNavigation/DropdownNavigation.scss
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix for bars and monitoring charts
  src/server/modes/charts/plugins/datalens/js/helpers/misc/prepare-single-result.ts
  src/server/modes/charts/plugins/ql/utils/colors.ts
  src/shared/utils/visualization-check.ts
Due: none

Add widget type icons to add alias block
  src/ui/units/dash/containers/Dialogs/DialogRelations/DialogRelations.scss
  src/ui/units/dash/containers/Dialogs/DialogRelations/DialogRelations.tsx
  src/ui/units/dash/containers/Dialogs/DialogRelations/components/Content/Content.scss
  src/ui/units/dash/containers/Dialogs/DialogRelations/components/Content/Content.tsx
  src/ui/units/dash/containers/Dialogs/DialogRelations/components/Content/Row.tsx
  src/ui/units/dash/containers/Dialogs/DialogRelations/components/DialogAliases/DialogAliases.tsx
  src/ui/units/dash/containers/Dialogs/DialogRelations/components/DialogAliases/components/AddAliases/AddAliases.tsx
  src/ui/units/dash/containers/Dialogs/DialogRelations/helpers.tsx
  src/ui/units/dash/containers/Dialogs/DialogRelations/types.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Test fix
  src/server/modes/charts/plugins/datalens/preparers/line-time/__tests__/mocks/line-time.mock.ts
Due: none

Fixed colorizing for lines in monitoring charts (#47)
  src/server/modes/charts/plugins/datalens/js/helpers/misc/prepare-single-result.ts
  src/server/modes/charts/plugins/datalens/preparers/line-time/__tests__/mocks/line-time.mock.ts
  src/server/modes/charts/plugins/datalens/preparers/line-time/index.ts
  src/server/modes/charts/plugins/ql/js.ts
  src/server/modes/charts/plugins/ql/utils/colors.ts
  src/shared/utils/visualization-check.ts
Due: none

Bump version to 0.832.0
  package-lock.json
  package.json
Due: none

marginy review fixes
  src/ui/units/dash/components/NavigationInput/NavigationInput.js
  src/ui/units/dash/containers/DropdownNavigation/DropdownNavigation.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add SaveDashWithFakeEntry feature-flag with support route for create dash (#42)
  src/server/components/features/features-list/SaveDashWithFakeEntry.ts
  src/shared/types/feature.ts
  src/ui/components/Navigation/Base/NavigationBase.js
  src/ui/datalens/pages/DashAndWizardQLPages/DashAndWizardQLPages.tsx
  src/ui/datalens/pages/DashPage/DashPage.tsx
  src/ui/registry/units/workbooks/functions-map.ts
  src/ui/registry/units/workbooks/register.tsx
  src/ui/units/workbooks/components/CreateEntryDialog/CreateEntryDialog.tsx
  src/ui/units/workbooks/components/CreateEntryDialog/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.833.0
  package-lock.json
  package.json
Due: none

Fix pie-chart colorizing issues
  src/server/modes/charts/plugins/datalens/preparers/line-time/index.ts
  src/server/modes/charts/plugins/datalens/preparers/pie/preparePie.ts
  src/ui/units/wizard/components/ValuesList/ValuesList.scss
  src/ui/units/wizard/containers/Wizard/SectionVisualization/PlaceholdersContainer/VisualizationPlaceholder/VisualizationPlaceholder.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

remove sentry
  package-lock.json
  package.json
Due: none

remove sentry options
  src/shared/types/common.ts
  src/ui/constants/common.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Remove unused Sentry options and package (#55)
  package-lock.json
  package.json
  src/shared/types/common.ts
  src/ui/constants/common.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.834.0
  package-lock.json
  package.json
Due: none

Fix export for line charts with null points
  src/server/modes/charts/plugins/datalens/preparers/line/index.ts
Due: none

Fix export for line charts with null points (#56)
  src/server/modes/charts/plugins/datalens/preparers/line/index.ts
Due: none

Bump version to 0.835.0
  package-lock.json
  package.json
Due: none

Fix type of distincts for ql charts
  src/server/modes/charts/plugins/ql/js.ts
Due: none

Fix chart dialog styles (#53)
  src/ui/units/dash/components/NavigationInput/NavigationInput.js
  src/ui/units/dash/components/NavigationInput/NavigationInput.scss
  src/ui/units/dash/containers/DropdownNavigation/DropdownNavigation.js
  src/ui/units/dash/containers/DropdownNavigation/DropdownNavigation.scss
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.836.0
  package-lock.json
  package.json
Due: none

Fix pie-chart colorizing issues (#54)
  src/server/modes/charts/plugins/datalens/preparers/line-time/index.ts
  src/server/modes/charts/plugins/datalens/preparers/pie/preparePie.ts
  src/server/modes/charts/plugins/ql/js.ts
  src/ui/units/wizard/components/ValuesList/ValuesList.scss
  src/ui/units/wizard/containers/Wizard/SectionVisualization/PlaceholdersContainer/VisualizationPlaceholder/VisualizationPlaceholder.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.837.0
  package-lock.json
  package.json
Due: none

Add check added aliases for link in one dataset
  src/i18n-keysets/component.dialog-relations.view/en.json
  src/i18n-keysets/component.dialog-relations.view/ru.json
  src/ui/units/dash/containers/Dialogs/DialogRelations/components/DialogAliases/DialogAliases.tsx
  src/ui/units/dash/containers/Dialogs/DialogRelations/components/DialogAliases/components/AddAliases/AddAliases.scss
  src/ui/units/dash/containers/Dialogs/DialogRelations/components/DialogAliases/components/AddAliases/AddAliases.tsx
  src/ui/units/dash/containers/Dialogs/DialogRelations/components/DialogAliases/components/AddAliases/helpers.ts
  src/ui/units/dash/containers/Dialogs/DialogRelations/components/DialogAliases/components/AliasesDetail/AliasesDetail.tsx
  src/ui/units/dash/containers/Dialogs/DialogRelations/components/DialogAliases/components/AliasesList/AliasesList.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix checkConnection method in connection form
  src/ui/units/connections/store/actions/index.ts
  src/ui/units/connections/store/utils/forms.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Update browserlist config
  package.json
Due: none

Fix checkConnection method in connection form (#58)
  src/ui/units/connections/store/actions/index.ts
  src/ui/units/connections/store/utils/forms.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.838.0
  package-lock.json
  package.json
Due: none

Fix layout in selector modal on dash
  src/i18n-keysets/dash.control-dialog.edit/en.json
  src/i18n-keysets/dash.control-dialog.edit/ru.json
  src/ui/units/dash/components/NavigationInput/InputLink/InputLink.js
  src/ui/units/dash/components/NavigationInput/InputLink/InputLink.scss
  src/ui/units/dash/components/NavigationInput/NavigationInput.js
  src/ui/units/dash/components/NavigationInput/NavigationInput.scss
  src/ui/units/dash/containers/Dialogs/Control/Switchers/DatasetField/DatasetField.scss
  src/ui/units/dash/containers/Dialogs/Control/Switchers/DatasetField/DatasetField.tsx
  src/ui/units/dash/containers/Dialogs/Control/withWrap/withWrap.tsx
  src/ui/units/dash/containers/Dialogs/Control2/Sections/CommonSettingsSection/DatasetSelector/DatasetSelector.scss
  src/ui/units/dash/containers/Dialogs/Control2/Sections/CommonSettingsSection/DatasetSelector/DatasetSelector.tsx
  src/ui/units/dash/containers/Dialogs/Control2/Sections/CommonSettingsSection/ExternalSelectorSettings/ExternalSelectorSettings.scss
  src/ui/units/dash/containers/Dialogs/Control2/Sections/CommonSettingsSection/ExternalSelectorSettings/ExternalSelectorSettings.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Add save new aliases logic
  src/ui/units/dash/containers/Dialogs/DialogRelations/DialogRelations.tsx
  src/ui/units/dash/containers/Dialogs/DialogRelations/components/DialogAliases/DialogAliases.tsx
  src/ui/units/dash/containers/Dialogs/DialogRelations/components/DialogAliases/components/AddAliases/AddAliases.tsx
  src/ui/units/dash/containers/Dialogs/DialogRelations/types.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

test
  src/ui/units/dash/containers/Dialogs/DialogRelations/DialogRelations.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add filter for fields list
  src/ui/units/dash/containers/Dialogs/DialogRelations/components/DialogAliases/components/AddAliases/AddAliases.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write
