Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.1033.0 [release]
  package-lock.json
  package.json
Due: none

Revert "Revert "Add query name value editing for QL chart (#223)" (#275)"
  src/server/components/charts-engine/components/chart-generator.ts
  src/server/components/charts-engine/components/processor/sandbox.ts
  src/server/configs/shared/ql-chart-template.ts
  src/server/modes/charts/plugins/ql/config.ts
  src/server/modes/charts/plugins/ql/d3.ts
  src/server/modes/charts/plugins/ql/highcharts.ts
  src/server/modes/charts/plugins/ql/js.ts
  src/server/modes/charts/plugins/ql/library-config.ts
  src/server/modes/charts/plugins/ql/url.ts
  src/server/modes/charts/plugins/ql/utils/__tests__/misc-helpers.test.ts
  src/server/modes/charts/plugins/ql/utils/misc-helpers.ts
  src/server/modes/charts/plugins/ql/yagr.ts
  src/shared/modules/config/ql/__tests__/mapQlConfigToLatestVersion.test.ts
  src/shared/modules/config/ql/__tests__/v2.test.ts
  src/shared/modules/config/ql/mapQlConfigToLatestVersion.ts
  src/shared/modules/config/ql/v2/mapV1ConfigToV2.ts
  src/shared/modules/language.ts
  src/shared/types/config/ql/index.ts
  src/shared/types/config/ql/v2.ts
  src/shared/types/language.ts
  src/shared/types/ql/versions.ts
  src/ui/components/EditableText/EditableText.tsx
  src/ui/units/ql/containers/PaneMain/ScreenEditor/TabQuery/ScreenPromQL/ScreenPromQL.scss
  src/ui/units/ql/containers/PaneMain/ScreenEditor/TabQuery/ScreenPromQL/ScreenPromQL.tsx
  src/ui/units/ql/store/actions/ql.ts
  src/ui/units/ql/store/reducers/ql.ts
  src/ui/units/ql/store/utils/grid.ts
  src/ui/units/ql/store/utils/monitoring.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Add a warning modal on attempts to exit the edit mode in dash
  src/ui/components/DialogConfirm/DialogConfirm.tsx
  src/ui/units/dash/components/DashActionPanel/DashActionPanel.tsx
  src/ui/units/dash/store/actions/dashTyped.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Revert "Revert "Add query name value editing for QL chart (#223)" (#275)" (#282)
  src/server/components/charts-engine/components/chart-generator.ts
  src/server/components/charts-engine/components/processor/sandbox.ts
  src/server/configs/shared/ql-chart-template.ts
  src/server/modes/charts/plugins/ql/config.ts
  src/server/modes/charts/plugins/ql/d3.ts
  src/server/modes/charts/plugins/ql/highcharts.ts
  src/server/modes/charts/plugins/ql/js.ts
  src/server/modes/charts/plugins/ql/library-config.ts
  src/server/modes/charts/plugins/ql/url.ts
  src/server/modes/charts/plugins/ql/utils/__tests__/misc-helpers.test.ts
  src/server/modes/charts/plugins/ql/utils/misc-helpers.ts
  src/server/modes/charts/plugins/ql/yagr.ts
  src/shared/modules/config/ql/__tests__/mapQlConfigToLatestVersion.test.ts
  src/shared/modules/config/ql/__tests__/v2.test.ts
  src/shared/modules/config/ql/mapQlConfigToLatestVersion.ts
  src/shared/modules/config/ql/v2/mapV1ConfigToV2.ts
  src/shared/modules/language.ts
  src/shared/types/config/ql/index.ts
  src/shared/types/config/ql/v2.ts
  src/shared/types/language.ts
  src/shared/types/ql/versions.ts
  src/ui/components/EditableText/EditableText.tsx
  src/ui/units/ql/containers/PaneMain/ScreenEditor/TabQuery/ScreenPromQL/ScreenPromQL.scss
  src/ui/units/ql/containers/PaneMain/ScreenEditor/TabQuery/ScreenPromQL/ScreenPromQL.tsx
  src/ui/units/ql/store/actions/ql.ts
  src/ui/units/ql/store/reducers/ql.ts
  src/ui/units/ql/store/utils/grid.ts
  src/ui/units/ql/store/utils/monitoring.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.1034.0 [release]
  package-lock.json
  package.json
Due: none

Move e2e dash revisionsListCopyDashboards revisionsListWithCreationDashboards (#281)
  tests/opensource-suites/dash/constants.ts
  tests/opensource-suites/dash/revisions/revisionsListCopyDashboards.test.ts
  tests/opensource-suites/dash/revisions/revisionsListWithCreationDashboards.test.ts
  tests/opensource-suites/dash/tabs/tabsChange.test.ts
  tests/opensource-suites/dash/tabs/tabsWidgetOrder.test.ts
Due: none

Bump version to 0.1035.0 [release]
  package-lock.json
  package.json
Due: none

Fix Unknown clickable scope 'point'
  src/ui/units/editor/components/Preview/Preview.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Enable wizard flat table for chart-chart filtration (#210)
  src/server/modes/charts/plugins/datalens/config.ts
  src/server/modes/charts/plugins/datalens/preparers/flat-table/__tests__/mocks/flat-table.mock.ts
  src/server/modes/charts/plugins/datalens/preparers/flat-table/index.ts
  src/shared/types/chartkit/dl-chartkit.ts
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/utils/misc.ts
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/utils/render.tsx
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/utils/types.ts
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/utils/validation.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/utils.ts
  src/ui/libs/DatalensChartkit/types/widget.ts
  src/ui/units/dash/containers/Dialogs/Widget/Widget.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1036.0 [release]
  package-lock.json
  package.json
Due: none

Fix drill level on change chart tab on dash (#278)
  src/ui/components/Widgets/Chart/hooks/useLoadingChart.ts
  src/ui/components/Widgets/Chart/hooks/useLoadingChartWidget.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1037.0 [release]
  package-lock.json
  package.json
Due: none

Add bases e2e for Connections
  tests/opensource-suites/connections/clickhouse.test.ts
  tests/opensource-suites/connections/create-pg.test.ts
  tests/opensource-suites/connections/postgres.test.ts
  tests/opensource-suites/connections/ytsaurus.test.ts
  tests/page-objects/connections/ConnectionsPage.ts
Due: none

Update keysets
  src/i18n-keysets/dash.store.view/en.json
  src/i18n-keysets/dash.store.view/ru.json
  src/ui/units/dash/store/actions/dashTyped.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix Unknown clickable scope 'point' (#283)
  src/ui/units/editor/components/Preview/Preview.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1038.0 [release]
  package-lock.json
  package.json
Due: none

Fix exitEditMode in tests
  tests/page-objects/dashboard/DashboardPage.ts
Due: none

Fix ColorMode behaviour for bar charts
  src/server/modes/charts/plugins/datalens/preparers/line/index.ts
  src/ui/units/wizard/components/Dialogs/DialogColor/DialogColor.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix import(e2e tests)
  tests/page-objects/dashboard/DashTabs.ts
  tests/page-objects/workbook/CreateEntryButton.ts
  tests/page-objects/workbook/EditEntityButton.ts
  tests/page-objects/workbook/NavigationMinimalPopup.ts
Due: none

Remove useless constants
  src/server/constants/index.ts
Due: none

PR fixe
  src/shared/constants/qa/ql.ts
  src/ui/components/DialogQLParameter/DialogQLParameter.tsx
  src/ui/units/ql/containers/PaneMain/ScreenEditor/TabParams/DefaultValue.tsx
  src/ui/units/ql/containers/PaneMain/ScreenEditor/TabParams/OverridenValue.tsx
  src/ui/units/ql/containers/PaneMain/ScreenEditor/TabParams/utils.ts
  tests/page-objects/ql/QLPage.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix import(e2e tests) (#286)
  tests/page-objects/dashboard/DashTabs.ts
  tests/page-objects/workbook/CreateEntryButton.ts
  tests/page-objects/workbook/EditEntityButton.ts
  tests/page-objects/workbook/NavigationMinimalPopup.ts
Due: none

Bump version to 0.1039.0 [release]
  package-lock.json
  package.json
Due: none

Add tabs qa attribute
  src/shared/constants/qa/ql.ts
  src/ui/units/ql/containers/PaneMain/ScreenEditor/ScreenEditor.tsx
  tests/page-objects/ql/QLPage.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Remove useless constants (#230)
  src/server/constants/index.ts
Due: none

Bump version to 0.1040.0 [release]
  package-lock.json
  package.json
Due: none

Fixed collections & wb sortings. Stored filters in localstorage
  src/ui/components/CollectionFilters/CollectionFilters.tsx
  src/ui/units/collections/components/CollectionContent/CollectionContent.tsx
  src/ui/units/collections/components/CollectionPage/CollectionPage.tsx
  src/ui/units/collections/store/actions/index.tsx
  src/ui/units/collections/store/constants/index.ts
  src/ui/units/collections/store/reducers/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Reverted version in package.json
  package.json
Due: none

Refactoring
  src/i18n-keysets/dash.action-panel.view/en.json
  src/i18n-keysets/dash.action-panel.view/ru.json
  src/i18n-keysets/dash.store.view/en.json
  src/i18n-keysets/dash.store.view/ru.json
  src/ui/components/DialogConfirm/DialogConfirm.scss
  src/ui/components/DialogConfirm/DialogConfirm.tsx
  src/ui/components/RevisionsPanel/RevisionsPanel.tsx
  src/ui/store/actions/colorPaletteEditor.ts
  src/ui/units/dash/components/DashActionPanel/DashActionPanel.tsx
  src/ui/units/dash/components/DashActionPanel/helpers.ts
  src/ui/units/dash/store/actions/dash.js
  src/ui/units/dash/store/actions/dashTyped.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Display empty dash on mobile in view mode
  src/ui/units/dash/store/actions/dash.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add a warning modal on attempts to exit the edit mode with changes in dash (#284)
  src/i18n-keysets/dash.action-panel.view/en.json
  src/i18n-keysets/dash.action-panel.view/ru.json
  src/ui/components/DialogConfirm/DialogConfirm.scss
  src/ui/components/DialogConfirm/DialogConfirm.tsx
  src/ui/components/RevisionsPanel/RevisionsPanel.tsx
  src/ui/store/actions/colorPaletteEditor.ts
  src/ui/units/dash/components/DashActionPanel/DashActionPanel.tsx
  src/ui/units/dash/components/DashActionPanel/helpers.ts
  src/ui/units/dash/store/actions/dash.js
  src/ui/units/dash/store/actions/dashTyped.ts
  tests/page-objects/dashboard/DashboardPage.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.1041.0 [release]
  package-lock.json
  package.json
Due: none

Disable saving filters to local storage for compact mode
  src/ui/components/CollectionFilters/CollectionFilters.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

PR fixes
  src/ui/units/wizard/components/Dialogs/DialogColor/DialogColor.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix ColorMode behaviour for bar charts (#285)
  src/server/modes/charts/plugins/datalens/preparers/line/index.ts
  src/ui/units/wizard/components/Dialogs/DialogColor/DialogColor.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1042.0 [release]
  package-lock.json
  package.json
Due: none

New datepicker with relative dates for parameters in QL (#242)
  src/i18n-keysets/component.dl-dialog-ql-parameter.view/context.json
  src/i18n-keysets/component.dl-dialog-ql-parameter.view/en.json
  src/i18n-keysets/component.dl-dialog-ql-parameter.view/keyset.json
  src/i18n-keysets/component.dl-dialog-ql-parameter.view/ru.json
  src/server/modes/charts/plugins/ql/url.ts
  src/shared/constants/qa/index.ts
  src/shared/constants/qa/ql.ts
  src/ui/components/DialogQLParameter/DialogQLParameter.scss
  src/ui/components/DialogQLParameter/DialogQLParameter.tsx
  src/ui/store/actions/openDialogTypes.ts
  src/ui/units/ql/containers/PaneMain/ScreenEditor/ScreenEditor.tsx
  src/ui/units/ql/containers/PaneMain/ScreenEditor/TabParams/DefaultValue.tsx
  src/ui/units/ql/containers/PaneMain/ScreenEditor/TabParams/OverridenValue.tsx
  src/ui/units/ql/containers/PaneMain/ScreenEditor/TabParams/TabParams.tsx
  src/ui/units/ql/containers/PaneMain/ScreenEditor/TabParams/utils.ts
  src/ui/units/ql/containers/PaneMain/ScreenEditor/TabQuery/ScreenPromQL/ScreenPromQL.tsx
  src/ui/units/ql/containers/QL/ViewSetup/ViewSetup.tsx
  src/ui/units/ql/store/actions/dialog.ts
  tests/opensource-suites/ql/params/dates.test.ts
  tests/opensource-suites/ql/params/intervals.test.ts
  tests/page-objects/ql/QLPage.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.1043.0 [release]
  package-lock.json
  package.json
Due: none

Display empty dash on mobile in view mode (#288)
  src/ui/units/dash/store/actions/dash.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1044.0 [release]
  package-lock.json
  package.json
Due: none

Path conditions:
  eslint -c src/ui/.ci-eslintrc --fix --quiet: any of: src/ui/**/*.{js,jsx,ts,tsx}
  prettier --write: (any of: src/ui/**/*.{js,jsx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --fix --quiet: any of: *.{css,scss}
