Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix chart titles on dash
  src/ui/components/Widgets/Chart/ChartWidget.scss
  src/ui/components/Widgets/Chart/components/WidgetHeader.scss
  src/ui/components/Widgets/Chart/components/WidgetHeader.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix after review
  src/ui/store/actions/collectionsStructure.ts
  src/ui/store/reducers/collectionsStructure.ts
  src/ui/units/collections/components/CollectionContentGrid/CollectionContentGrid.tsx
  src/ui/units/collections/components/CollectionContentTable/CollectionContentTable.scss
  src/ui/units/collections/components/CollectionContentTable/CollectionContentTable.tsx
  src/ui/units/collections/components/CollectionLayout/CollectionLayout.scss
  src/ui/units/collections/components/CollectionPage/CollectionPage.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix chart titles on dash (#372)
  src/ui/components/Widgets/Chart/ChartWidget.scss
  src/ui/components/Widgets/Chart/components/WidgetHeader.scss
  src/ui/components/Widgets/Chart/components/WidgetHeader.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.1116.0 [release]
  package-lock.json
  package.json
Due: none

Code review fixes
  src/shared/modules/entry.ts
  src/shared/schema/us/actions/favorites.ts
  src/ui/components/EntryContextMenu/constants.ts
  src/ui/components/EntryDialogues/DialogEditFavoritesAlias/DialogEditFavoritesAlias.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix chart-chart filtration for tables with markup and hierarchy fields (#371)
  src/server/modes/charts/plugins/datalens/config.ts
  src/server/modes/charts/plugins/datalens/preparers/flat-table/index.ts
  src/server/modes/charts/plugins/datalens/preparers/helpers/action-params.ts
Due: none

Bump version to 0.1117.0 [release]
  package-lock.json
  package.json
Due: none

Add initialParentId for show dialog
  src/ui/units/collections/components/CollectionLayout/CollectionLayout.scss
  src/ui/units/collections/components/CollectionPage/CollectionPage.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix after review
  src/i18n-keysets/collections/en.json
  src/i18n-keysets/collections/keyset.json
  src/i18n-keysets/collections/ru.json
  src/ui/units/collections/components/CollectionLayout/CollectionLayout.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix translations for migration to workobok dialog
  src/i18n-keysets/component.migrate-to-workbook-dialog/en.json
  src/i18n-keysets/component.select-migration-to-workbook-dialog/en.json
  src/i18n-keysets/component.select-migration-to-workbook-dialog/keyset.json
  src/i18n-keysets/component.select-migration-to-workbook-dialog/ru.json
  src/ui/components/SelectMigrationToWorkbookDialog/SelectMigrationToWorkbookDialog.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Move e2e dash addSelectors test
  tests/opensource-suites/dash/selectors/addSelectors.test.ts
Due: none

Added functionality to rename entries in favorites (#319)
  src/i18n-keysets/component.dialog-edit-favorites-alias.view/context.json
  src/i18n-keysets/component.dialog-edit-favorites-alias.view/en.json
  src/i18n-keysets/component.dialog-edit-favorites-alias.view/keyset.json
  src/i18n-keysets/component.dialog-edit-favorites-alias.view/ru.json
  src/i18n-keysets/component.entry-context-menu.view/en.json
  src/i18n-keysets/component.entry-context-menu.view/ru.json
  src/server/components/features/features-list/EnableFavoritesNameAliases.ts
  src/shared/schema/us/actions/favorites.ts
  src/shared/schema/us/types/favorites.ts
  src/shared/schema/us/types/fields.ts
  src/shared/types/feature.ts
  src/ui/components/EntryContextMenu/constants.ts
  src/ui/components/EntryContextMenu/types.ts
  src/ui/components/EntryContextMenu/withConfiguredEntryContextMenu/helpers.ts
  src/ui/components/EntryContextMenu/withConfiguredEntryContextMenu/withConfiguredEntryContextMenu.tsx
  src/ui/components/EntryDialogues/DialogEditFavoritesAlias/DialogEditFavoritesAlias.scss
  src/ui/components/EntryDialogues/DialogEditFavoritesAlias/DialogEditFavoritesAlias.tsx
  src/ui/components/EntryDialogues/DialogEditFavoritesAlias/index.ts
  src/ui/components/EntryDialogues/EntryDialogues.tsx
  src/ui/components/Navigation/Base/NavigationBase.js
  src/ui/components/Navigation/Core/FavoritesNameWithAliasItem/FavoritesNameWithAliasItem.scss
  src/ui/components/Navigation/Core/FavoritesNameWithAliasItem/FavoritesNameWithAliasItem.tsx
  src/ui/components/Navigation/Core/NavigationEntries.js
  src/ui/components/Navigation/Core/TableView/List/List.tsx
  src/ui/components/Navigation/Core/TableView/Row/Row.tsx
  src/ui/components/Navigation/Core/TableView/TableView.scss
  src/ui/components/Navigation/Core/TableView/types.ts
  src/ui/components/Navigation/types.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Add key
  src/i18n-keysets/component.select-migration-to-workbook-dialog/en.json
Due: none

Bump version to 0.1118.0 [release]
  package-lock.json
  package.json
Due: none

Filtering chart charts for a combined chart
  src/server/modes/charts/plugins/datalens/config.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-x/prepareBarX.ts
  src/server/modes/charts/plugins/datalens/preparers/line/index.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

mournfulCoroner review fixes
  src/ui/units/connections/components/custom-forms/Yadocs/components/YadocListItemView/UploadedYadocView.tsx
  src/ui/units/connections/components/custom-forms/Yadocs/components/YadocListItemView/YadocSourceInfoView.tsx
  src/ui/units/connections/components/custom-forms/Yadocs/components/YadocListItemView/YadocSourceView.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fx typings
  src/ui/units/connections/components/custom-forms/Yadocs/components/YadocListItemView/UploadedYadocView.tsx
  src/ui/units/connections/components/custom-forms/Yadocs/components/YadocListItemView/index.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Move e2e dash addSelectors test (#374)
  tests/opensource-suites/dash/selectors/addSelectors.test.ts
Due: none

Bump version to 0.1119.0 [release]
  package-lock.json
  package.json
Due: none

Add list item and sources dialog to yadocs form (#368)
  src/shared/schema/bi-converter/actions/index.ts
  src/shared/schema/bi-converter/types/index.ts
  src/ui/units/connections/components/custom-forms/Yadocs/Yadocs.scss
  src/ui/units/connections/components/custom-forms/Yadocs/components/AddSection.tsx
  src/ui/units/connections/components/custom-forms/Yadocs/components/DocsList.tsx
  src/ui/units/connections/components/custom-forms/Yadocs/components/YadocListItemView/UploadedYadocView.tsx
  src/ui/units/connections/components/custom-forms/Yadocs/components/YadocListItemView/YadocSourceInfoView.tsx
  src/ui/units/connections/components/custom-forms/Yadocs/components/YadocListItemView/YadocSourceView.tsx
  src/ui/units/connections/components/custom-forms/Yadocs/components/YadocListItemView/index.tsx
  src/ui/units/connections/components/custom-forms/Yadocs/components/index.ts
  src/ui/units/connections/components/custom-forms/Yadocs/containers/DocsListContainer.tsx
  src/ui/units/connections/components/custom-forms/Yadocs/containers/useGSheetDialogs.ts
  src/ui/units/connections/components/custom-forms/Yadocs/types.ts
  src/ui/units/connections/components/dialogs/S3Source/DialogS3Source.scss
  src/ui/units/connections/store/actions/api.ts
  src/ui/units/connections/store/actions/base.ts
  src/ui/units/connections/store/actions/index.ts
  src/ui/units/connections/store/actions/yadoc/index.ts
  src/ui/units/connections/store/actions/yadoc/misc-actions.ts
  src/ui/units/connections/store/actions/yadoc/utils.ts
  src/ui/units/connections/store/constants.ts
  src/ui/units/connections/store/reducers/index.ts
  src/ui/units/connections/store/selectors/yadocs.ts
  src/ui/units/connections/store/typings/index.ts
  src/ui/units/connections/store/typings/yadocs.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.1120.0 [release]
  package-lock.json
  package.json
Due: none

Filtering chart charts for a combined chart (#376)
  src/server/modes/charts/plugins/datalens/config.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-x/prepareBarX.ts
  src/server/modes/charts/plugins/datalens/preparers/line/index.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1121.0 [release]
  package-lock.json
  package.json
Due: none

Fix end date of the filter period
  src/ui/units/wizard/utils/__tests__/wizard.test.ts
  src/ui/units/wizard/utils/wizard.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix non-interval values
  src/ui/units/wizard/utils/__tests__/wizard.test.ts
  src/ui/units/wizard/utils/wizard.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Up @gravity-ui/navigation@1.8.2
  package-lock.json
  package.json
Due: none

Up @gravity-ui/navigation@1.8.2 (#378)
  package-lock.json
  package.json
Due: none

Bump version to 0.1122.0 [release]
  package-lock.json
  package.json
Due: none

Fix end date of the filter period (#377)
  src/ui/units/wizard/utils/__tests__/wizard.test.ts
  src/ui/units/wizard/utils/wizard.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1123.0 [release]
  package-lock.json
  package.json
Due: none

Add callbackRef to fix LocationChange rerenders in embedded dashboards
  src/ui/components/LocationChange/LocationChange.tsx
  src/ui/units/dash/containers/Body/Body.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix translations for migration to workobok dialog (#373)
  src/i18n-keysets/component.migrate-to-workbook-dialog/en.json
  src/i18n-keysets/component.select-migration-to-workbook-dialog/en.json
  src/i18n-keysets/component.select-migration-to-workbook-dialog/keyset.json
  src/i18n-keysets/component.select-migration-to-workbook-dialog/ru.json
  src/ui/components/SelectMigrationToWorkbookDialog/SelectMigrationToWorkbookDialog.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1124.0 [release]
  package-lock.json
  package.json
Due: none

Fix: continuous axis mode for date is not available
  src/shared/modules/wizard-helpers.ts
  src/ui/units/wizard/components/Dialogs/DialogPlaceholder/DialogPlaceholder.tsx
  src/ui/units/wizard/components/Dialogs/DialogPlaceholder/utils.ts
  src/ui/units/wizard/reducers/visualization.ts
  src/ui/units/wizard/utils/placeholder.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Refactor helper getWorkbookBreadcrumbsItems
  src/ui/components/ActionPanel/components/EntryPanel/EntryPanel.tsx
  src/ui/components/EntryBreadcrumbs/EntryBreadcrumbs.tsx
  src/ui/components/EntryBreadcrumbs/helpers.ts
  src/ui/registry/units/common/types/components/EntryBreadcrumbs.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Enable xls export
  package-lock.json
  package.json
  src/server/components/features/features-list/XlsxChartExportEnabled.ts
  src/server/controllers/xlsx-converter.ts
  src/server/modes/opensource/app.ts
Due: none

Remove moment.js
  src/server/controllers/xlsx-converter.ts
Due: none

add temporary ignore
  src/server/controllers/xlsx-converter.ts
Due: none

revert ignore
  src/server/controllers/xlsx-converter.ts
Due: none

Added Tag icon on hover, extended popover with 'Original name:' prefix
  src/i18n-keysets/component.navigation.view/en.json
  src/i18n-keysets/component.navigation.view/keyset.json
  src/i18n-keysets/component.navigation.view/ru.json
  src/ui/components/Navigation/Core/FavoritesNameWithAliasItem/FavoritesNameWithAliasItem.scss
  src/ui/components/Navigation/Core/FavoritesNameWithAliasItem/FavoritesNameWithAliasItem.tsx
  src/ui/components/Navigation/Core/TableView/Row/Row.tsx
  src/ui/components/Navigation/Core/TableView/TableView.scss
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Path conditions:
  eslint -c src/ui/.ci-eslintrc --fix --quiet: any of: src/ui/**/*.{js,jsx,ts,tsx}
  prettier --write: (any of: src/ui/**/*.{js,jsx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --fix --quiet: any of: *.{css,scss}
