Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix rerender widget with empty params on clearing (#361)
  src/ui/components/Widgets/Chart/hooks/useLoadingChart.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1108.0 [release]
  package-lock.json
  package.json
Due: none

Extract WidgetHeader styles + some mobile fixes
  src/ui/components/Widgets/Chart/Chart.scss
  src/ui/components/Widgets/Chart/Chart.tsx
  src/ui/components/Widgets/Chart/components/Header.tsx
  src/ui/components/Widgets/Chart/components/WidgetHeader.scss
  src/ui/components/Widgets/Chart/components/WidgetHeader.tsx
  src/ui/components/Widgets/Chart/helpers/helpers.ts
  src/ui/libs/DatalensChartkit/components/Control/Control.scss
  src/ui/units/preview/components/Preview/Preview.scss
  src/ui/units/preview/components/Preview/Preview.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Add logic with changin favorite
  src/i18n-keysets/new-workbooks/en.json
  src/i18n-keysets/new-workbooks/keyset.json
  src/i18n-keysets/new-workbooks/ru.json
  src/shared/schema/us/types/entries.ts
  src/ui/units/ql/store/utils/grid.ts
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/MainTabContent/MainTabContent.scss
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/MainTabContent/MainTabContent.tsx
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/Row/Row.scss
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/Row/Row.tsx
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/WorkbookEntriesTable.scss
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/WorkbookEntriesTable.tsx
  src/ui/units/workbooks/components/WorkbookPage/WorkbookPage.tsx
  src/ui/units/workbooks/store/actions/index.ts
  src/ui/units/workbooks/store/constants/index.ts
  src/ui/units/workbooks/store/reducers/workbook-page.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Remove extra css mod
  src/ui/components/Widgets/Chart/components/Header.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1109.0 [release]
  package-lock.json
  package.json
Due: none

Move e2e dash acceptableValues test
  tests/opensource-suites/dash/selectors/acceptableValues.test.ts
Due: none

Fix layout table
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/MainTabContent/MainTabContent.scss
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/MainTabContent/MainTabContent.tsx
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/Row/Row.scss
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/Row/Row.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Add size props to PlaceholderIllustrationImage
  src/ui/components/PlaceholderIllustration/PlaceholderIllustration.tsx
  src/ui/registry/units/common/types/components/PlaceholderIllustrationImage.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Code review fixes
  src/i18n-keysets/component.dialog-edit-favorites-alias.view/context.json
  src/i18n-keysets/component.dialog-edit-favorites-alias.view/en.json
  src/i18n-keysets/component.dialog-edit-favorites-alias.view/keyset.json
  src/i18n-keysets/component.dialog-edit-favorites-alias.view/ru.json
  src/shared/modules/entry.ts
  src/ui/components/EntryDialogues/DialogAddFavoritesAlias/index.ts
  src/ui/components/EntryDialogues/DialogEditFavoritesAlias/DialogEditFavoritesAlias.scss
  src/ui/components/EntryDialogues/DialogEditFavoritesAlias/DialogEditFavoritesAlias.tsx
  src/ui/components/EntryDialogues/DialogEditFavoritesAlias/index.ts
  src/ui/components/EntryDialogues/EntryDialogues.tsx
  src/ui/components/Navigation/Base/NavigationBase.js
  src/ui/components/Navigation/Core/EntryContextButton/EntryContextButton.tsx
  src/ui/components/Navigation/Core/FavoritesNameWithAliasItem/FavoritesNameWithAliasItem.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Add size props to PlaceholderIllustrationImage (#364)
  src/ui/components/PlaceholderIllustration/PlaceholderIllustration.tsx
  src/ui/registry/units/common/types/components/PlaceholderIllustrationImage.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1110.0 [release]
  package-lock.json
  package.json
Due: none

Support charts navigation in mobile (#359)
  src/i18n-keysets/component.aside-header.view/en.json
  src/i18n-keysets/component.aside-header.view/keyset.json
  src/i18n-keysets/component.aside-header.view/ru.json
  src/i18n-keysets/component.mobile-navigation.view/context.json
  src/i18n-keysets/component.mobile-navigation.view/en.json
  src/i18n-keysets/component.mobile-navigation.view/keyset.json
  src/i18n-keysets/component.mobile-navigation.view/ru.json
  src/ui/components/MobileHeader/MobileHeaderComponent/MobileHeaderComponent.tsx
  src/ui/components/Navigation/Core/NavigationEntries.js
  src/ui/components/Widgets/Chart/Chart.scss
  src/ui/components/Widgets/Chart/components/WidgetHeader.scss
  src/ui/components/Widgets/Chart/components/WidgetHeader.tsx
  src/ui/components/Widgets/Chart/helpers/helpers.ts
  src/ui/libs/DatalensChartkit/components/Control/Control.scss
  src/ui/libs/navigateHelper/index.js
  src/ui/units/preview/components/App/App.scss
  src/ui/units/preview/components/App/App.tsx
  src/ui/units/preview/components/Preview/Preview.scss
  src/ui/units/preview/components/Preview/Preview.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.1111.0 [release]
  package-lock.json
  package.json
Due: none

Replace Input type RadioButton with Select in selector modal
  src/ui/units/dash/containers/Dialogs/Control2/Sections/CommonSettingsSection/InputTypeSelector/InputTypeSelector.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Refactor
  src/i18n-keysets/new-workbooks/ru.json
  src/ui/units/workbooks/store/actions/index.ts
  src/ui/units/workbooks/store/reducers/workbook-page.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Swith to public ubuntu image. Enable rootless mode
  Dockerfile
  deploy/nginx/nginx.conf
  deploy/supervisor/supervisor.conf
  scripts/preflight.sh
Due: none

swith from CMD to ENTRYPOINT
  Dockerfile
Due: none

Fix show favorites
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/Row/Row.scss
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/Row/Row.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Move e2e dash acceptableValues test (#363)
  tests/opensource-suites/dash/selectors/acceptableValues.test.ts
Due: none

Bump version to 0.1112.0 [release]
  package-lock.json
  package.json
Due: none

Switch to public ubuntu image and rootless mode (#337)
  Dockerfile
  deploy/nginx/nginx.conf
  deploy/supervisor/supervisor.conf
  scripts/preflight.sh
Due: none

Bump version to 0.1113.0 [release]
  package-lock.json
  package.json
Due: none

Add list item and sources dialog to yadocs form
  src/shared/schema/bi-converter/actions/index.ts
  src/shared/schema/bi-converter/types/index.ts
  src/ui/units/connections/components/custom-forms/Yadocs/Yadocs.scss
  src/ui/units/connections/components/custom-forms/Yadocs/components/AddSection.tsx
  src/ui/units/connections/components/custom-forms/Yadocs/components/DocsList.tsx
  src/ui/units/connections/components/custom-forms/Yadocs/components/YadocListItemView/UploadedYadocView.tsx
  src/ui/units/connections/components/custom-forms/Yadocs/components/YadocListItemView/YadocSourceInfoView.tsx
  src/ui/units/connections/components/custom-forms/Yadocs/components/YadocListItemView/YadocSourceView.tsx
  src/ui/units/connections/components/custom-forms/Yadocs/components/YadocListItemView/index.tsx
  src/ui/units/connections/components/custom-forms/Yadocs/components/index.ts
  src/ui/units/connections/components/custom-forms/Yadocs/containers/DocsListContainer.tsx
  src/ui/units/connections/components/custom-forms/Yadocs/containers/useGSheetDialogs.ts
  src/ui/units/connections/components/custom-forms/Yadocs/types.ts
  src/ui/units/connections/components/dialogs/S3Source/DialogS3Source.scss
  src/ui/units/connections/store/actions/api.ts
  src/ui/units/connections/store/actions/base.ts
  src/ui/units/connections/store/actions/index.ts
  src/ui/units/connections/store/actions/yadoc/index.ts
  src/ui/units/connections/store/actions/yadoc/misc-actions.ts
  src/ui/units/connections/store/actions/yadoc/utils.ts
  src/ui/units/connections/store/constants.ts
  src/ui/units/connections/store/reducers/index.ts
  src/ui/units/connections/store/selectors/yadocs.ts
  src/ui/units/connections/store/typings/index.ts
  src/ui/units/connections/store/typings/yadocs.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Add border for header
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/MainTabContent/MainTabContent.scss
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/MainTabContent/MainTabContent.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Change i18 key
  src/i18n-keysets/new-workbooks/ru.json
Due: none

Update e2e compose file
  tests/docker-compose.e2e.yml
Due: none

Update e2e compose file (#367)
  tests/docker-compose.e2e.yml
Due: none

Bump version to 0.1114.0 [release]
  package-lock.json
  package.json
Due: none

Add fallbackHost to typings & DL constant
  src/@types/nodekit.d.ts
  src/shared/types/common.ts
  src/ui/constants/common.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix getXAxisValue
  src/server/modes/charts/plugins/datalens/js/helpers/misc/prepare-single-result.ts
  src/server/modes/charts/plugins/datalens/preparers/line/helpers/getXAxisValue.ts
Due: none

fix unit test
  src/server/modes/charts/plugins/datalens/preparers/bar-y/__tests__/bar-y.test.ts
Due: none

Replace Input type RadioButton with Select in selector modal (#366)
  src/ui/units/dash/containers/Dialogs/Control2/Sections/CommonSettingsSection/InputTypeSelector/InputTypeSelector.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1115.0 [release]
  package-lock.json
  package.json
Due: none

Remove FALLBACK_HOST from DL
  src/ui/constants/common.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Remove extra typing
  src/@types/nodekit.d.ts
Due: none

Fix chart-chart filtration for tables with markup and hierarchy fields
  src/server/modes/charts/plugins/datalens/config.ts
  src/server/modes/charts/plugins/datalens/preparers/flat-table/index.ts
  src/server/modes/charts/plugins/datalens/preparers/helpers/action-params.ts
Due: none

Path conditions:
  eslint -c src/ui/.ci-eslintrc --fix --quiet: any of: src/ui/**/*.{js,jsx,ts,tsx}
  prettier --write: (any of: src/ui/**/*.{js,jsx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --fix --quiet: any of: *.{css,scss}
