Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

.lintstagedrc.json:

{
    "!(src/ui/**/*)*.{js,jsx,ts,tsx}": [
      "eslint --fix --quiet",
      "prettier --write"
    ],
    "src/ui/**/*.{js,jsx,ts,tsx}": [
      "eslint -c src/ui/.ci-eslintrc --fix --quiet",
      "prettier --write"
    ],
    "*.{css,scss}": [
      "stylelint --fix --quiet",
      "prettier --write"
    ]
}

Bump version to 0.955.0 [release]
  package-lock.json
  package.json
Due: none

Fix applying discrete axis mode when using grouping
  src/ui/units/wizard/containers/Wizard/SectionVisualization/VisualizationItem/VisualizationItem.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Show all selected values in Wizard in the filter dialog
  src/ui/components/DialogFilter/SelectFilter/SelectFilter.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Create codeql.yml
  .github/workflows/codeql.yml
Due: none

Update codeql.yml
  .github/workflows/codeql.yml
Due: none

Create codeql.yml (#192)
  .github/workflows/codeql.yml
Due: none

Bump version to 0.956.0 [release]
  package-lock.json
  package.json
Due: none

fix test
  tests/suites/wizard/chart-settings/navigator.test.ts
  tests/suites/wizard/placeholder-settings/axisMode.test.ts
Due: none

test codeql pr
  src/server/nodekit.ts
Due: none

Fix dragging filters to other sections of the wizard
  src/ui/units/wizard/actions/dndItems.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

test2
  .prettierrc.js
Due: none

add handler to choose migrations, layout
  src/i18n-keysets/component.migrate-to-workbook-dialog/en.json
  src/i18n-keysets/component.migrate-to-workbook-dialog/keyset.json
  src/i18n-keysets/component.migrate-to-workbook-dialog/ru.json
  src/shared/schema/us/actions/workbooks.ts
  src/shared/schema/us/types/workbooks.ts
  src/ui/components/MigrateToWorkbookDialog/MigrationBody/MigrationBody.scss
  src/ui/components/MigrateToWorkbookDialog/MigrationBody/MigrationBody.tsx
  src/ui/components/MigrateToWorkbookDialog/TransferToWorkbookDialog/TransferToWorkbookDialog.scss
  src/ui/components/MigrateToWorkbookDialog/TransferToWorkbookDialog/TransferToWorkbookDialog.tsx
  src/ui/components/MigrateToWorkbookDialog/components/Body/Body.scss
  src/ui/components/MigrateToWorkbookDialog/components/Body/Body.tsx
  src/ui/store/actions/migrationToWorkbook.ts
  src/ui/store/actions/openDialogTypes.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Design change
  src/ui/units/wizard/components/Dialogs/DialogColor/ColorSettingsContainer/ColorSettingsContainer.scss
  src/ui/units/wizard/components/Dialogs/DialogColor/ColorSettingsContainer/ColorSettingsContainer.tsx
  src/ui/units/wizard/components/Dialogs/DialogColor/DialogColor.scss
  src/ui/units/wizard/components/Dialogs/DialogColor/DialogColor.tsx
  src/ui/units/wizard/components/Dialogs/DialogColor/DialogColorPalette/DialogColorPalette.scss
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Clean CodeQL workflow
  .github/workflows/codeql.yml
Due: none

fix move field from DashboardFilters to Filters
  src/ui/units/wizard/actions/dndItems.ts
  src/ui/units/wizard/constants/index.ts
  src/ui/units/wizard/constants/placeholders.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

up dashkit to 6.5.1
  package-lock.json
  package.json
Due: none

Clean CodeQL workflow (#195)
  .github/workflows/codeql.yml
Due: none

Bump version to 0.957.0 [release]
  package-lock.json
  package.json
Due: none

fix test
  tests/suites/wizard/fields/dragAndDropField.test.ts
Due: none

up dashkit to 6.5.1 (#196)
  package-lock.json
  package.json
Due: none

Bump version to 0.958.0 [release]
  package-lock.json
  package.json
Due: none

Add enabling filtering for editor charts
  src/ui/units/editor/components/Preview/Preview.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

enable pr trigger for gh action e2e_tests
  .github/workflows/e2e_tests.yml
Due: none

Support param _no_scroll for embedded dash and preview
  src/ui/constants/common.ts
  src/ui/styles/dash.scss
  src/ui/styles/preview.scss
  src/ui/units/dash/containers/App/App.scss
  src/ui/units/dash/containers/App/App.tsx
  src/ui/units/preview/components/App/App.tsx
  src/ui/utils/embedded.ts
  src/ui/utils/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

enable pr trigger for gh action e2e_tests (#199)
  .github/workflows/e2e_tests.yml
Due: none

Bump version to 0.959.0 [release]
  package-lock.json
  package.json
Due: none

Add enabling filtering for editor charts (#197)
  src/ui/units/editor/components/Preview/Preview.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.960.0 [release]
  package-lock.json
  package.json
Due: none

Added explanation how to create test entries
  tests/README.md
Due: none

up
  tests/README.md
Due: none

Remove extra code
  src/ui/units/dash/containers/App/App.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Use block for body classes
  src/ui/units/dash/containers/App/App.tsx
  src/ui/units/preview/components/App/App.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Added explanation how to create test entries (#201)
  tests/README.md
Due: none

Bump version to 0.961.0 [release]
  package-lock.json
  package.json
Due: none

add locale
  src/i18n-keysets/component.entry-context-menu.view/ru.json
  src/i18n-keysets/component.migrate-to-workbook-dialog/en.json
  src/i18n-keysets/component.migrate-to-workbook-dialog/ru.json
  src/i18n-keysets/component.select-migration-to-workbook-dialog/context.json
  src/i18n-keysets/component.select-migration-to-workbook-dialog/en.json
  src/i18n-keysets/component.select-migration-to-workbook-dialog/keyset.json
  src/i18n-keysets/component.select-migration-to-workbook-dialog/ru.json
  src/ui/components/EntryDialogues/DialogMigrateToWorkbook/DialogMigrateToWorkbook.tsx
  src/ui/components/MigrateToWorkbookDialog/MigrateToWorkbookDialog.tsx
  src/ui/components/MigrateToWorkbookDialog/TransferToWorkbookDialog/TransferToWorkbookDialog.scss
  src/ui/components/MigrateToWorkbookDialog/TransferToWorkbookDialog/TransferToWorkbookDialog.tsx
  src/ui/components/MigrateToWorkbookDialog/components/Body/Body.tsx
  src/ui/components/MigrateToWorkbookDialog/constants.tsx
  src/ui/components/SelectMigrationToWorkbookDialog/Body/Body.scss
  src/ui/components/SelectMigrationToWorkbookDialog/Body/Body.tsx
  src/ui/components/SelectMigrationToWorkbookDialog/SelectMigrationToWorkbookDialog.scss
  src/ui/components/SelectMigrationToWorkbookDialog/SelectMigrationToWorkbookDialog.tsx
  src/ui/components/SelectMigrationToWorkbookDialog/constants.tsx
  src/ui/components/SelectMigrationToWorkbookDialog/index.ts
  src/ui/store/actions/openDialogTypes.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

change name dialog
  src/ui/components/MigrateToWorkbookDialog/MigrateToWorkbookDialog.tsx
  src/ui/components/MigrateToWorkbookDialog/components/Body/Body.tsx
  src/ui/components/SelectMigrationToWorkbookDialog/SelectMigrationToWorkbookDialog.tsx
  src/ui/store/actions/openDialogTypes.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Disable dimensions for the size placeholder in the wizard (point visualization)
  src/ui/constants/visualizations/index.ts
  src/ui/constants/visualizations/line.ts
  src/ui/constants/visualizations/scatter.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

change padding
  src/ui/components/SelectMigrationToWorkbookDialog/SelectMigrationToWorkbookDialog.scss
Due: prettier --write, stylelint --fix --quiet

Refactor dash selectors (part 1)
  src/shared/types/dash.ts
  src/ui/components/Widgets/Chart/hooks/useLoadingChartSelector.tsx
  src/ui/units/dash/components/DashActionPanel/Description/Description.tsx
  src/ui/units/dash/containers/App/App.tsx
  src/ui/units/dash/containers/Body/Body.tsx
  src/ui/units/dash/containers/Dash/Dash.tsx
  src/ui/units/dash/containers/Dialogs/Connections/Connections.js
  src/ui/units/dash/containers/Dialogs/DialogRelations/DialogRelations.tsx
  src/ui/units/dash/containers/Dialogs/Text/Text.tsx
  src/ui/units/dash/containers/Dialogs/Title/Title.tsx
  src/ui/units/dash/containers/Dialogs/Widget/Widget.tsx
  src/ui/units/dash/containers/Header/Header.tsx
  src/ui/units/dash/containers/Tabs/Tabs.tsx
  src/ui/units/dash/store/actions/dashTyped.ts
  src/ui/units/dash/store/reducers/dashTypedReducer.ts
  src/ui/units/dash/store/selectors/dash.js
  src/ui/units/dash/store/selectors/dashTypedSelectors.ts
  src/ui/units/dash/store/selectors/relations/selectors.ts
  src/ui/units/wizard/containers/Wizard/Wizard.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write
