Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

.lintstagedrc.json:

{
    "!(src/ui/**/*)*.{js,jsx,ts,tsx}": [
      "eslint --fix --quiet",
      "prettier --write"
    ],
    "src/ui/**/*.{js,jsx,ts,tsx}": [
      "eslint -c src/ui/.ci-eslintrc --fix --quiet",
      "prettier --write"
    ],
    "*.{css,scss}": [
      "stylelint --fix --quiet",
      "prettier --write"
    ]
}

Add new icon
  src/ui/assets/icons/vis-treemap.svg
Due: none

Fix load chart after enable filtering setting changed
  src/ui/components/Widgets/Chart/ChartWidget.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix non-blocking scroll on mobile in safari
  src/ui/styles/base.scss
Due: prettier --write, stylelint --fix --quiet

Fix os tests settings
  src/shared/endpoints/constants/opensource.ts
  tests/docker-compose.e2e.yml
Due: none

Use shared wizard icons in links dialog (#329)
  src/ui/assets/icons/vis-treemap.svg
  src/ui/constants/visualizations/index.ts
  src/ui/units/dash/containers/Dialogs/DialogRelations/DialogRelations.scss
  src/ui/units/dash/containers/Dialogs/DialogRelations/constants.ts
  src/ui/units/dash/containers/Dialogs/DialogRelations/helpers.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.1100.0 [release]
  package-lock.json
  package.json
Due: none

Fix load chart after enable filtering setting changed (#354)
  src/shared/endpoints/constants/opensource.ts
  src/ui/components/Widgets/Chart/ChartWidget.tsx
  tests/docker-compose.e2e.yml
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1101.0 [release]
  package-lock.json
  package.json
Due: none

Fix tests imports
  tests/opensource-suites/ql/visualizations/selectVisualization.test.ts
  tests/page-objects/common/DialogControlPO/DatasetFieldSelector.ts
  tests/page-objects/common/DialogControlPO/SelectDatasetButton.ts
  tests/page-objects/common/utils.ts
  tests/page-objects/dashboard/DashboardPage.ts
  tests/page-objects/workbook/NavigationMinimalPopup.ts
  tests/page-objects/workbook/Workbook.ts
  tests/tsconfig.json
Due: none

Fix tests imports
  tests/constants/config/connections.ts
  tests/constants/config/dash.ts
  tests/constants/config/ql.ts
  tests/opensource-suites/connections/clickhouse.test.ts
  tests/opensource-suites/connections/postgres.test.ts
  tests/opensource-suites/connections/ytsaurus.test.ts
  tests/opensource-suites/dash/base/actionPanel.test.ts
  tests/opensource-suites/dash/base/loading.test.ts
  tests/opensource-suites/dash/base/relations.test.ts
  tests/opensource-suites/dash/relations/relations.test.ts
  tests/opensource-suites/dash/relations/relationsEmpty.test.ts
  tests/opensource-suites/dash/tabs/tabs.test.ts
  tests/opensource-suites/dash/tabs/tabsChange.test.ts
  tests/opensource-suites/dash/tabs/tabsWidgetOrder.test.ts
  tests/opensource-suites/ql/connections/selectSQLConnection.test.ts
  tests/opensource-suites/ql/params/dates.test.ts
  tests/opensource-suites/ql/params/intervals.test.ts
  tests/suites/charts/export/forbiddenExport.test.ts
Due: none

Fix tests imports
  tests/page-objects/workbook/DialogCreateEntry.ts
  tests/page-objects/workbook/EditEntityButton.ts
Due: none

Exclude position relative from root
  src/ui/styles/base.scss
Due: prettier --write, stylelint --fix --quiet

Fix tests imports (#356)
  tests/constants/config/connections.ts
  tests/constants/config/dash.ts
  tests/constants/config/ql.ts
  tests/opensource-suites/connections/clickhouse.test.ts
  tests/opensource-suites/connections/postgres.test.ts
  tests/opensource-suites/connections/ytsaurus.test.ts
  tests/opensource-suites/dash/base/actionPanel.test.ts
  tests/opensource-suites/dash/base/loading.test.ts
  tests/opensource-suites/dash/base/relations.test.ts
  tests/opensource-suites/dash/relations/relations.test.ts
  tests/opensource-suites/dash/relations/relationsEmpty.test.ts
  tests/opensource-suites/dash/tabs/tabs.test.ts
  tests/opensource-suites/dash/tabs/tabsChange.test.ts
  tests/opensource-suites/dash/tabs/tabsWidgetOrder.test.ts
  tests/opensource-suites/ql/connections/selectSQLConnection.test.ts
  tests/opensource-suites/ql/params/dates.test.ts
  tests/opensource-suites/ql/params/intervals.test.ts
  tests/opensource-suites/ql/visualizations/selectVisualization.test.ts
  tests/page-objects/common/DialogControlPO/DatasetFieldSelector.ts
  tests/page-objects/common/DialogControlPO/SelectDatasetButton.ts
  tests/page-objects/common/utils.ts
  tests/page-objects/dashboard/DashboardPage.ts
  tests/page-objects/workbook/DialogCreateEntry.ts
  tests/page-objects/workbook/EditEntityButton.ts
  tests/page-objects/workbook/NavigationMinimalPopup.ts
  tests/page-objects/workbook/Workbook.ts
  tests/suites/charts/export/forbiddenExport.test.ts
  tests/tsconfig.json
Due: none

Bump version to 0.1102.0 [release]
  package-lock.json
  package.json
Due: none

Fix table sort null values
  src/server/modes/charts/plugins/datalens/preparers/backend-pivot-table/table-rows-generator.ts
Due: none

Fix sorting for null values
  src/i18n-keysets/wizard.prepares/en.json
  src/i18n-keysets/wizard.prepares/keyset.json
  src/i18n-keysets/wizard.prepares/ru.json
  src/server/modes/charts/plugins/datalens/preparers/backend-pivot-table/index.ts
  src/server/modes/charts/plugins/datalens/preparers/backend-pivot-table/table-rows-generator.ts
  src/shared/types/chartkit/table.ts
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/utils/event-handlers.ts
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/utils/misc.ts
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/utils/render.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix import
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/utils/event-handlers.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Change readonly mode response status to 451 (#352)
  src/server/modes/charts/plugins/dash-api.ts
  src/ui/libs/DatalensChartkit/modules/axios/axios.ts
  src/ui/libs/axios/axios.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1103.0 [release]
  package-lock.json
  package.json
Due: none

Fix clear params on empty actionParams
  src/ui/components/Widgets/Chart/helpers/helpers.ts
  src/ui/components/Widgets/Chart/hooks/useLoadingChart.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix clear params on empty actionParams (#357)
  src/ui/components/Widgets/Chart/helpers/helpers.ts
  src/ui/components/Widgets/Chart/hooks/useLoadingChart.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1104.0 [release]
  package-lock.json
  package.json
Due: none

Fix comment
  src/ui/components/Widgets/Chart/hooks/useLoadingChart.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix non-blocking scroll on mobile in safari (#355)
  src/ui/styles/base.scss
Due: prettier --write, stylelint --fix --quiet

Bump version to 0.1105.0 [release]
  package-lock.json
  package.json
Due: none

Fix comment (#358)
  src/ui/components/Widgets/Chart/hooks/useLoadingChart.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1106.0 [release]
  package-lock.json
  package.json
Due: none

Redesign with context menu
  src/shared/modules/entry.ts
  src/shared/schema/us/types/fields.ts
  src/ui/components/EntryContextMenu/constants.ts
  src/ui/components/EntryContextMenu/types.ts
  src/ui/components/EntryContextMenu/withConfiguredEntryContextMenu/helpers.ts
  src/ui/components/EntryContextMenu/withConfiguredEntryContextMenu/withConfiguredEntryContextMenu.tsx
  src/ui/components/EntryDialogues/DialogAddAliasEntry/DialogAddAliasEntry.tsx
  src/ui/components/EntryDialogues/DialogAddAliasEntry/index.ts
  src/ui/components/EntryDialogues/EntryDialogues.tsx
  src/ui/components/Navigation/Base/NavigationBase.js
  src/ui/components/Navigation/Core/EntryContextButton/EntryContextButton.tsx
  src/ui/components/Navigation/Core/FavoritesNameWithAliasItem/FavoritesNameWithAliasItem.tsx
  src/ui/components/Navigation/Core/NavigationEntries.js
  src/ui/components/Navigation/Core/TableView/List/List.tsx
  src/ui/components/Navigation/Core/TableView/Row/Row.tsx
  src/ui/components/Navigation/Core/TableView/TableView.scss
  src/ui/components/Navigation/Core/TableView/types.ts
  src/ui/components/Navigation/types.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Support charts navigation in mobile
  src/i18n-keysets/component.aside-header.view/en.json
  src/i18n-keysets/component.aside-header.view/keyset.json
  src/i18n-keysets/component.aside-header.view/ru.json
  src/i18n-keysets/component.mobile-navigation.view/context.json
  src/i18n-keysets/component.mobile-navigation.view/en.json
  src/i18n-keysets/component.mobile-navigation.view/keyset.json
  src/i18n-keysets/component.mobile-navigation.view/ru.json
  src/ui/components/MobileHeader/MobileHeaderComponent/MobileHeaderComponent.tsx
  src/ui/components/Navigation/Core/NavigationEntries.js
  src/ui/components/Widgets/Chart/Chart.scss
  src/ui/components/Widgets/Chart/Chart.tsx
  src/ui/components/Widgets/Chart/components/Header.tsx
  src/ui/components/Widgets/Chart/components/WidgetHeader.tsx
  src/ui/libs/navigateHelper/index.js
  src/ui/units/preview/components/App/App.scss
  src/ui/units/preview/components/App/App.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Redesign with context menu
  src/i18n-keysets/component.navigation.view/en.json
  src/i18n-keysets/component.navigation.view/keyset.json
  src/i18n-keysets/component.navigation.view/ru.json
  src/ui/components/EntryDialogues/DialogAddAliasEntry/index.ts
  src/ui/components/EntryDialogues/DialogAddFavoritesAlias/DialogAddFavoritesAlias.tsx
  src/ui/components/EntryDialogues/DialogAddFavoritesAlias/index.ts
  src/ui/components/EntryDialogues/EntryDialogues.tsx
  src/ui/components/Navigation/Base/NavigationBase.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Move e2e dash params
  tests/opensource-suites/dash/params/params.test.ts
Due: none

Redesign with context menu
  src/i18n-keysets/component.navigation.view/keyset.json
  src/i18n-keysets/component.navigation.view/ru.json
  src/ui/components/EntryContextMenu/constants.ts
  src/ui/components/Navigation/Base/NavigationBase.js
  src/ui/components/Navigation/Core/FavoritesNameWithAliasItem/FavoritesNameWithAliasItem.scss
  src/ui/components/Navigation/Core/FavoritesNameWithAliasItem/FavoritesNameWithAliasItem.tsx
  src/ui/components/Navigation/Core/TableView/TableView.scss
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Review fixes
  tests/opensource-suites/dash/params/params.test.ts
Due: none

Move e2e dash params (#360)
  tests/opensource-suites/dash/params/params.test.ts
Due: none

Bump version to 0.1107.0 [release]
  package-lock.json
  package.json
Due: none

Redesign with context menu
  src/ui/components/Navigation/Core/FavoritesNameWithAliasItem/FavoritesNameWithAliasItem.scss
  src/ui/components/Navigation/Core/FavoritesNameWithAliasItem/FavoritesNameWithAliasItem.tsx
  src/ui/components/Navigation/Core/TableView/TableView.scss
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix rerender params on clearing
  src/ui/components/Widgets/Chart/hooks/useLoadingChart.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Redesign with context menu
  src/i18n-keysets/component.dialog-add-favorites-alias.view/context.json
  src/i18n-keysets/component.dialog-add-favorites-alias.view/en.json
  src/i18n-keysets/component.dialog-add-favorites-alias.view/keyset.json
  src/i18n-keysets/component.dialog-add-favorites-alias.view/ru.json
  src/i18n-keysets/component.entry-context-menu.view/en.json
  src/i18n-keysets/component.entry-context-menu.view/ru.json
  src/ui/components/EntryContextMenu/constants.ts
  src/ui/components/EntryDialogues/DialogAddFavoritesAlias/DialogAddFavoritesAlias.scss
  src/ui/components/EntryDialogues/DialogAddFavoritesAlias/DialogAddFavoritesAlias.tsx
  src/ui/components/Navigation/Base/NavigationBase.js
  src/ui/components/Navigation/Core/NavigationEntries.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Redesign with context menu
  src/ui/components/EntryContextMenu/withConfiguredEntryContextMenu/withConfiguredEntryContextMenu.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix after review
  src/ui/components/Widgets/Chart/hooks/useLoadingChart.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write
