Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Move dash suites to opensource
  tests/constants/constants.ts
  tests/opensource-suites/dash/base/actionPanel.test.ts
  tests/opensource-suites/dash/base/relations.test.ts
Due: none

refactor
  tests/opensource-suites/dash/base/actionPanel.test.ts
  tests/opensource-suites/dash/base/relations.test.ts
  tests/page-objects/workbook/CreateEntryButton.ts
Due: none

Fix us-e2e-data dump
  tests/data/us-e2e-data
Due: none

Top alert readonly mode (#247)
  package-lock.json
  package.json
  src/ui/components/AsideHeaderAdapter/AsideHeaderAdapter.tsx
  src/ui/units/connections/components/custom-forms/File/File.scss
  src/ui/units/wizard/containers/Wizard/Wizard.scss
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.1006.0 [release]
  package-lock.json
  package.json
Due: none

kuzmadom review fixes
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/utils/misc.ts
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/utils/render.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Change action params api for Table plugin
  package-lock.json
  package.json
  src/shared/types/chartkit/dl-chartkit.ts
  src/shared/types/chartkit/table.ts
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/Table.tsx
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/utils/index.ts
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/utils/misc.ts
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/utils/render.tsx
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/utils/types.ts
  src/ui/libs/DatalensChartkit/types/widget.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add data and config validation
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/Table.tsx
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/utils/index.ts
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/utils/misc.ts
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/utils/validation.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add e2e-test for editor params on dash
  tests/page-objects/dashboard/DashboardPage.ts
  tests/suites/dash/params/editorParams.test.ts
  tests/utils/constants.ts
Due: none

refactor
  tests/opensource-suites/dash/base/actionPanel.test.ts
  tests/opensource-suites/dash/base/relations.test.ts
Due: none

refactor
  tests/opensource-suites/dash/base/relations.test.ts
Due: none

Move e2e dash base tests to opensource (#249)
  tests/constants/constants.ts
  tests/data/us-e2e-data
  tests/opensource-suites/dash/base/actionPanel.test.ts
  tests/opensource-suites/dash/base/relations.test.ts
  tests/page-objects/workbook/CreateEntryButton.ts
Due: none

Bump version to 0.1007.0 [release]
  package-lock.json
  package.json
Due: none

Move e2e ql selectVisualization tests
  src/shared/constants/qa/visualization.ts
  tests/constants/config/ql.ts
  tests/constants/test-entities/ql.ts
  tests/opensource-suites/ql/visualizations/selectVisualization.test.ts
  tests/page-objects/ql/QLPage.ts
  tests/types/config/ql.ts
Due: none

Remove background color from unselected rows
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/utils/misc.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Reverted logic for legend in combined charts
  src/server/modes/charts/plugins/datalens/preparers/bar-x/highcharts.ts
Due: none

Add e2e-test for editor params on dash (#250)
  tests/page-objects/dashboard/DashboardPage.ts
  tests/suites/dash/params/editorParams.test.ts
  tests/utils/constants.ts
Due: none

Bump version to 0.1008.0 [release]
  package-lock.json
  package.json
Due: none

Add disableCsrf paramater to the private routes type
  src/server/components/charts-engine/types.ts
Due: none

Move e2e ql selectVisualization tests (#251)
  src/shared/constants/qa/visualization.ts
  tests/constants/config/ql.ts
  tests/constants/test-entities/ql.ts
  tests/opensource-suites/ql/visualizations/selectVisualization.test.ts
  tests/page-objects/ql/QLPage.ts
  tests/types/config/ql.ts
Due: none

Bump version to 0.1009.0 [release]
  package-lock.json
  package.json
Due: none

Add disableCsrf paramater to the private routes type (#253)
  src/server/components/charts-engine/types.ts
Due: none

Bump version to 0.1010.0 [release]
  package-lock.json
  package.json
Due: none

Up dashkit 6.5.1 to 6.6.0
  package-lock.json
  package.json
Due: none

Reverted logic for legend in combined charts (#252)
  src/server/modes/charts/plugins/datalens/preparers/bar-x/highcharts.ts
Due: none

Bump version to 0.1011.0 [release]
  package-lock.json
  package.json
Due: none

Change action params api for Table plugin (#219)
  package-lock.json
  package.json
  src/shared/types/chartkit/dl-chartkit.ts
  src/shared/types/chartkit/table.ts
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/Table.tsx
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/utils/index.ts
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/utils/misc.ts
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/utils/render.tsx
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/utils/types.ts
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/utils/validation.ts
  src/ui/libs/DatalensChartkit/types/widget.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1012.0 [release]
  package-lock.json
  package.json
Due: none

Up dashkit 6.5.1 to 6.6.0 (#254)
  package-lock.json
  package.json
Due: none

Bump version to 0.1013.0 [release]
  package-lock.json
  package.json
Due: none

Autoupdate dash by url param '_autoupdate'
  src/server/constants/index.ts
  src/ui/constants/common.ts
  src/ui/units/dash/containers/Body/Body.tsx
  src/ui/units/dash/containers/Header/Header.tsx
  src/ui/utils/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

add update on change
  src/ui/units/ql/containers/PaneMain/ScreenEditor/TabQuery/ScreenPromQL/ScreenPromQL.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix
  src/ui/units/wizard/components/Dialogs/Settings/Settings.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add running query when user leave focus or press cmnd + enter
  src/ui/units/ql/containers/PaneMain/ScreenEditor/TabQuery/ScreenPromQL/ScreenPromQL.tsx
  src/ui/units/ql/utils/chart-settings.ts
  src/ui/units/wizard/components/Dialogs/Settings/Settings.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

add ql auto execute chart settign to dialog
  src/shared/types/wizard/index.ts
  src/shared/utils/visualization-check.ts
  src/ui/constants/visualizations/index.ts
  src/ui/units/ql/utils/chart-settings.ts
  src/ui/units/wizard/actions/dialog.ts
  src/ui/units/wizard/components/Dialogs/Settings/Settings.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

add translations
  src/i18n-keysets/sql/en.json
  src/i18n-keysets/sql/ru.json
Due: none

refactoring
  src/ui/units/ql/utils/chart-settings.ts
  src/ui/units/wizard/components/Dialogs/Settings/Settings.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

add feature
  src/server/components/features/features-list/QlAutoExecuteMonitoringChart.ts
  src/shared/types/feature.ts
Due: none

add support auto execution when remove query
  src/ui/units/ql/containers/PaneMain/ScreenEditor/TabQuery/ScreenPromQL/ScreenPromQL.tsx
  src/ui/units/ql/store/actions/ql.ts
  src/ui/units/ql/utils/chart-settings.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Autoupdate dash by url param '_autoupdate' (#255)
  src/server/constants/index.ts
  src/ui/constants/common.ts
  src/ui/units/dash/containers/Body/Body.tsx
  src/ui/units/dash/containers/Header/Header.tsx
  src/ui/utils/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Path conditions:
  eslint -c src/ui/.ci-eslintrc --fix --quiet: any of: src/ui/**/*.{js,jsx,ts,tsx}
  prettier --write: (any of: src/ui/**/*.{js,jsx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --fix --quiet: any of: *.{css,scss}
