Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

.lintstagedrc.json:

{
    "!(src/ui/**/*)*.{js,jsx,ts,tsx}": [
      "eslint --fix --quiet",
      "prettier --write"
    ],
    "src/ui/**/*.{js,jsx,ts,tsx}": [
      "eslint -c src/ui/.ci-eslintrc --fix --quiet",
      "prettier --write"
    ],
    "*.{css,scss}": [
      "stylelint --fix --quiet",
      "prettier --write"
    ]
}

Copy entries follow-up (#216)
  src/i18n-keysets/component.copy-entry-to-workbook-dialog/en.json
  src/i18n-keysets/component.copy-entry-to-workbook-dialog/ru.json
  src/ui/components/CopyEntriesToWorkbookDialog/CopyEntriesToWorkbookDialog.tsx
  src/ui/components/CopyEntriesToWorkbookDialog/components/EntryRow/EntryRow.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.998.0 [release]
  package-lock.json
  package.json
Due: none

refactor
  src/ui/libs/DatalensChartkit/ChartKit/ChartKitAdapter.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add QA marks
  src/shared/constants/qa/components.ts
  src/ui/units/workbooks/components/CreateEntry/CreateEntry.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add and Update Tests PO
  tests/page-objects/dashboard/DashboardPage.ts
  tests/page-objects/ql/QLPage.ts
  tests/page-objects/workbook/CreateEntryButton.ts
  tests/page-objects/workbook/DialogCreateEntry.ts
  tests/page-objects/workbook/NavigationMinimalPopup.ts
  tests/page-objects/workbook/Workbook.ts
Due: none

Add QA marks
  src/shared/constants/qa/components.ts
  src/ui/components/WorkbookNavigationMinimal/WorkbookNavigationMinimal.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Move selectSQLConnection tests
  tests/constants/config/connections.ts
  tests/constants/config/index.ts
  tests/constants/config/ql.ts
  tests/constants/constants.ts
  tests/constants/test-entities/connections.ts
  tests/constants/test-entities/ql.ts
  tests/opensource-suites/ql/connections/selectSQLConnection.test.ts
  tests/types/config/connections.ts
  tests/types/config/index.ts
  tests/types/config/ql.ts
Due: none

Remove unnecessary PO
  tests/page-objects/wizard/WorkbookNavigationMinimal.ts
Due: none

Add new dialog for ql param date in singular values
  src/i18n-keysets/component.dl-dialog-ql-parameter.view/context.json
  src/i18n-keysets/component.dl-dialog-ql-parameter.view/en.json
  src/i18n-keysets/component.dl-dialog-ql-parameter.view/keyset.json
  src/i18n-keysets/component.dl-dialog-ql-parameter.view/ru.json
  src/ui/components/DialogQLParameter/DialogQLParameter.scss
  src/ui/components/DialogQLParameter/DialogQLParameter.tsx
  src/ui/store/actions/openDialogTypes.ts
  src/ui/units/ql/containers/PaneMain/ScreenEditor/TabParams/TabParams.tsx
  src/ui/units/ql/store/actions/dialog.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

remove asterisks
  api/server/components.ts
  api/server/configs.ts
Due: none

Fix datasets RelationDialog
  src/ui/units/datasets/components/RelationDialog/RelationDialog.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Move ql dataExport tests
  tests/constants/config/ql.ts
  tests/constants/test-entities/ql.ts
  tests/opensource-suites/ql/export/dataExport.test.ts
  tests/types/config/ql.ts
Due: none

Fix code style
  src/ui/units/ql/containers/PaneMain/ScreenEditor/TabParams/TabParams.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix datasets RelationDialog (#243)
  src/ui/units/datasets/components/RelationDialog/RelationDialog.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.999.0 [release]
  package-lock.json
  package.json
Due: none

Refactor selectSQLConnection tests
  tests/constants/constants.ts
  tests/opensource-suites/ql/connections/selectSQLConnection.test.ts
Due: none

Add extending API (#240)
  api/server/app-env.ts
  api/server/callbacks.ts
  api/server/charts-engine.ts
  api/server/components.ts
  api/server/configs.ts
  api/server/constants.ts
  api/server/controllers.ts
  api/server/dev-env.ts
  api/server/middlewares.ts
  api/server/plugins.ts
  api/server/registry.ts
  api/server/types.ts
  api/server/utils.ts
  api/ui/registry.ts
  src/server/components/layout/index.ts
  tsconfig.json
Due: none

Bump version to 0.1000.0 [release]
  package-lock.json
  package.json
Due: none

fix-export-api
  api/server/local-dev.ts
  api/server/plugins.ts
  api/server/utils.ts
Due: none

Remove settings from the dump as its already configured
  scripts/e2e/us-dump.sh
Due: none

typo
  scripts/e2e/us-dump.sh
Due: none

fix-export-api (#245)
  api/server/local-dev.ts
  api/server/plugins.ts
  api/server/utils.ts
Due: none

Bump version to 0.1001.0 [release]
  package-lock.json
  package.json
Due: none

specific file names for tmp dumps
  scripts/e2e/us-dump.sh
Due: none

Improve constants names
  tests/constants/config/connections.ts
  tests/constants/test-entities/connections.ts
  tests/opensource-suites/ql/connections/selectSQLConnection.test.ts
  tests/types/config/connections.ts
Due: none

Replace filter clear icon
  src/ui/assets/icons/funnel-clear.svg
  src/ui/components/Widgets/Chart/ChartWidget.scss
  src/ui/components/Widgets/Chart/components/WidgetHeader.tsx
  src/ui/styles/variables.scss
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Use constants in DashboardPage
  tests/page-objects/dashboard/DashboardPage.ts
Due: none

Readonly mode top alert
  package-lock.json
  package.json
  src/ui/components/AsideHeaderAdapter/AsideHeaderAdapter.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix wizard top alert height shift
  src/ui/units/wizard/containers/Wizard/Wizard.scss
Due: prettier --write, stylelint --fix --quiet

Replace filter clear icon (#236)
  src/ui/assets/icons/funnel-clear.svg
  src/ui/components/Widgets/Chart/ChartWidget.scss
  src/ui/components/Widgets/Chart/components/WidgetHeader.tsx
  src/ui/styles/variables.scss
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.1002.0 [release]
  package-lock.json
  package.json
Due: none

fix: file connection form top alert max height
  src/ui/units/connections/components/custom-forms/File/File.scss
Due: prettier --write, stylelint --fix --quiet

Move QL tests (#244)
  src/shared/constants/qa/components.ts
  src/ui/components/WorkbookNavigationMinimal/WorkbookNavigationMinimal.tsx
  src/ui/libs/DatalensChartkit/ChartKit/ChartKitAdapter.tsx
  src/ui/units/workbooks/components/CreateEntry/CreateEntry.tsx
  tests/constants/config/connections.ts
  tests/constants/config/index.ts
  tests/constants/config/ql.ts
  tests/constants/test-entities/connections.ts
  tests/constants/test-entities/ql.ts
  tests/opensource-suites/ql/connections/selectSQLConnection.test.ts
  tests/opensource-suites/ql/export/dataExport.test.ts
  tests/page-objects/dashboard/DashboardPage.ts
  tests/page-objects/ql/QLPage.ts
  tests/page-objects/wizard/WorkbookNavigationMinimal.ts
  tests/page-objects/workbook/CreateEntryButton.ts
  tests/page-objects/workbook/DialogCreateEntry.ts
  tests/page-objects/workbook/NavigationMinimalPopup.ts
  tests/page-objects/workbook/Workbook.ts
  tests/types/config/connections.ts
  tests/types/config/index.ts
  tests/types/config/ql.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1003.0 [release]
  package-lock.json
  package.json
Due: none

Remove settings from the dump as its already configured (#246)
  scripts/e2e/us-dump.sh
Due: none

Fix demo db credentials
  README.md
Due: none

Bump version to 0.1004.0 [release]
  package-lock.json
  package.json
Due: none

Fix demo db credentials (#248)
  README.md
Due: none

Bump version to 0.1005.0 [release]
  package-lock.json
  package.json
Due: none

Update e2e us-e2e-data
  tests/data/us-e2e-data
Due: none
