Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

.lintstagedrc.json:

{
    "!(src/ui/**/*)*.{js,jsx,ts,tsx}": [
      "eslint --fix --quiet",
      "prettier --write"
    ],
    "src/ui/**/*.{js,jsx,ts,tsx}": [
      "eslint -c src/ui/.ci-eslintrc --fix --quiet",
      "prettier --write"
    ],
    "*.{css,scss}": [
      "stylelint --fix --quiet",
      "prettier --write"
    ]
}

Revert test fixes
  src/server/modes/charts/plugins/datalens/preparers/pie/__tests__/pie.test.ts
Due: none

Fix settings storage
  src/server/modes/charts/plugins/ql/js.ts
  src/server/modes/charts/plugins/ql/utils/constants.ts
  src/server/modes/charts/plugins/ql/utils/misc-helpers.ts
  src/shared/types/config/wizard/v9.ts
  src/shared/types/wizard/field.ts
  src/shared/types/wizard/placeholder.ts
  src/ui/units/wizard/components/Dialogs/DialogPlaceholder/DialogPlaceholder.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add support chart-chart filtering in wizard
  src/server/components/features/features-list/WizardChartChartFilteringEnable.ts
  src/server/components/features/features-list/WizardChartChartFilteringEnableByDefault.ts
  src/server/modes/charts/plugins/datalens/config.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-x/highcharts.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-x/prepareBarX.ts
  src/shared/types/chartkit/dl-chartkit.ts
  src/shared/types/feature.ts
  src/shared/types/widget.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/action-params-handlers.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/apply-hc-handlers.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/chartkitAdapter.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/types.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/utils.ts
  src/ui/libs/DatalensChartkit/types/widget.ts
  src/ui/units/dash/containers/Dialogs/Widget/Widget.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix point selection
  src/server/components/features/features-list/WizardChartChartFilteringAvailable.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-x/prepareBarX.ts
  src/shared/types/feature.ts
  src/ui/components/Widgets/Chart/Chart.tsx
  src/ui/libs/DatalensChartkit/ChartKit/helpers/action-params-handlers.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/helpers.test.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/utils.test.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/utils.ts
  src/ui/units/dash/containers/Dialogs/Widget/Widget.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

prepare actionParams data for scatter and pie visualizations
  src/server/modes/charts/plugins/datalens/preparers/line/index.ts
  src/server/modes/charts/plugins/datalens/preparers/pie/preparePie.ts
  src/server/modes/charts/plugins/datalens/preparers/scatter/prepareScatter.ts
  src/server/modes/charts/plugins/datalens/preparers/types.ts
  src/shared/modules/helpers.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/action-params-handlers.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/utils.test.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

add custom data for treemap visualization
  src/server/modes/charts/plugins/datalens/preparers/treemap.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/action-params-handlers.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix mock for unit tests
  src/server/modes/charts/plugins/datalens/preparers/line/__tests__/mocks/bar.mock.ts
  src/server/modes/charts/plugins/datalens/preparers/pie/__tests__/mocks/pie.mock.ts
  src/server/modes/charts/plugins/datalens/preparers/scatter/__tests__/mocks/scatter.mock.ts
Due: none

fix treemap
  src/server/modes/charts/plugins/datalens/preparers/treemap.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/action-params-handlers.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Revert last changes with autocoloring
  src/server/modes/charts/plugins/datalens/utils/color-helpers.ts
Due: none

Bump version to 0.947.0 [release]
  package-lock.json
  package.json
Due: none

code review fix(1)
  src/ui/libs/DatalensChartkit/ChartKit/helpers/action-params-handlers.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Revert last changes with autocoloring (#182)
  src/server/modes/charts/plugins/datalens/utils/color-helpers.ts
Due: none

Bump version to 0.948.0 [release]
  package-lock.json
  package.json
Due: none

move some parameters from a point to a series
  src/server/modes/charts/plugins/control/url/distincts/build-distincts-body.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-x/prepareBarX.ts
  src/server/modes/charts/plugins/datalens/preparers/line/index.ts
  src/server/modes/charts/plugins/datalens/preparers/scatter/prepareScatter.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/action-params-handlers.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

remove unused flag
  src/server/components/features/features-list/WizardChartChartFilteringEnableByDefault.ts
  src/shared/types/feature.ts
Due: none

code review fix(2)
  src/ui/components/Widgets/Chart/Chart.tsx
  src/ui/components/Widgets/Chart/types.ts
  src/ui/constants/common.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/apply-hc-handlers.ts
  src/ui/units/preview/components/Preview/Preview.tsx
  src/ui/utils/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

code review fix(3)
  src/ui/constants/common.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

code review fix(3.1)
  src/ui/constants/common.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add loading dash entries datasets
  src/ui/units/dash/store/actions/dash.js
  src/ui/units/dash/store/actions/dashTyped.ts
  src/ui/units/dash/store/actions/index.ts
  src/ui/units/dash/store/reducers/dashTypedReducer.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add support chart-chart filtering in wizard (#170)
  src/server/components/features/features-list/WizardChartChartFilteringAvailable.ts
  src/server/modes/charts/plugins/control/url/distincts/build-distincts-body.ts
  src/server/modes/charts/plugins/datalens/config.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-x/highcharts.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-x/prepareBarX.ts
  src/server/modes/charts/plugins/datalens/preparers/line/__tests__/mocks/bar.mock.ts
  src/server/modes/charts/plugins/datalens/preparers/line/index.ts
  src/server/modes/charts/plugins/datalens/preparers/pie/__tests__/mocks/pie.mock.ts
  src/server/modes/charts/plugins/datalens/preparers/pie/preparePie.ts
  src/server/modes/charts/plugins/datalens/preparers/scatter/__tests__/mocks/scatter.mock.ts
  src/server/modes/charts/plugins/datalens/preparers/scatter/prepareScatter.ts
  src/server/modes/charts/plugins/datalens/preparers/treemap.ts
  src/server/modes/charts/plugins/datalens/preparers/types.ts
  src/shared/modules/helpers.ts
  src/shared/types/chartkit/dl-chartkit.ts
  src/shared/types/feature.ts
  src/shared/types/widget.ts
  src/ui/components/Widgets/Chart/Chart.tsx
  src/ui/components/Widgets/Chart/types.ts
  src/ui/constants/common.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/action-params-handlers.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/apply-hc-handlers.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/chartkitAdapter.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/helpers.test.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/types.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/utils.test.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/utils.ts
  src/ui/libs/DatalensChartkit/types/widget.ts
  src/ui/units/dash/containers/Dialogs/Widget/Widget.tsx
  src/ui/units/preview/components/Preview/Preview.tsx
  src/ui/utils/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.949.0 [release]
  package-lock.json
  package.json
Due: none

Fix not loading charts on embedded dash with resize
  src/ui/components/Widgets/Chart/hooks/useLoadingChart.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Color mode choose feature
  src/i18n-keysets/wizard/en.json
  src/i18n-keysets/wizard/keyset.json
  src/i18n-keysets/wizard/ru.json
  src/shared/constants/gradients/index.ts
  src/shared/types/wizard/index.ts
  src/ui/units/wizard/components/Dialogs/DialogColor/ColorSettingsContainer/ColorSettingsContainer.tsx
  src/ui/units/wizard/components/Dialogs/DialogColor/DialogColor.scss
  src/ui/units/wizard/components/Dialogs/DialogColor/DialogColor.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

add all items, icons to layout
  src/ui/assets/icons/check-folder.svg
  src/ui/assets/icons/copy-xmark.svg
  src/ui/components/MigrateToWorkbookDialog/MigrateToWorkbookDialog.tsx
  src/ui/components/MigrateToWorkbookDialog/MigrationBody/MigrationBody.scss
  src/ui/components/MigrateToWorkbookDialog/MigrationBody/MigrationBody.tsx
  src/ui/components/MigrateToWorkbookDialog/constants.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

PR fixes
  src/server/modes/charts/plugins/ql/js.ts
  src/server/modes/charts/plugins/ql/utils/constants.ts
  src/shared/types/config/wizard/v9.ts
Due: none

Fix not loading charts on embedded dash with resize (#185)
  src/ui/components/Widgets/Chart/hooks/useLoadingChart.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.950.0 [release]
  package-lock.json
  package.json
Due: none

Disable default sorting for ql charts (#158)
  src/i18n-keysets/wizard/en.json
  src/i18n-keysets/wizard/keyset.json
  src/i18n-keysets/wizard/ru.json
  src/server/modes/charts/plugins/datalens/js/helpers/misc/prepare-single-result.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-x/d3.ts
  src/server/modes/charts/plugins/datalens/preparers/bar-x/prepareBarX.ts
  src/server/modes/charts/plugins/datalens/preparers/line/index.ts
  src/server/modes/charts/plugins/datalens/preparers/pie/__tests__/mocks/pie.mock.ts
  src/server/modes/charts/plugins/datalens/preparers/pie/preparePie.ts
  src/server/modes/charts/plugins/datalens/preparers/types.ts
  src/server/modes/charts/plugins/ql/js.ts
  src/server/modes/charts/plugins/ql/url.ts
  src/server/modes/charts/plugins/ql/utils/misc-helpers.ts
  src/shared/types/config/wizard/v9.ts
  src/shared/types/wizard/placeholder.ts
  src/ui/units/ql/store/actions/ql.ts
  src/ui/units/wizard/components/Dialogs/DialogPlaceholder/DialogPlaceholder.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.951.0 [release]
  package-lock.json
  package.json
Due: none

Add actionParams enabling get-param on partly menu items
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Header/components/Menu/Items/Export/Export.tsx
  src/ui/libs/DatalensChartkit/menu/MenuItems.tsx
  src/ui/libs/DatalensChartkit/types/dataProvider.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix export toasts transparency
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Header/components/Menu/Items/Export/ToastContent/ToastContent.scss
Due: prettier --write, stylelint --fix --quiet

map action params to string
  src/ui/libs/DatalensChartkit/ChartKit/helpers/action-params-handlers.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/utils.test.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add actionParams enabling get-param on partly menu items (#186)
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Header/components/Menu/Items/Export/Export.tsx
  src/ui/libs/DatalensChartkit/menu/MenuItems.tsx
  src/ui/libs/DatalensChartkit/types/dataProvider.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.952.0 [release]
  package-lock.json
  package.json
Due: none

Fix export toasts transparency (#187)
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Header/components/Menu/Items/Export/ToastContent/ToastContent.scss
Due: prettier --write, stylelint --fix --quiet

Bump version to 0.953.0 [release]
  package-lock.json
  package.json
Due: none

map action params to string (#188)
  src/ui/libs/DatalensChartkit/ChartKit/helpers/action-params-handlers.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/utils.test.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.954.0 [release]
  package-lock.json
  package.json
Due: none

Update chartkit to v 4.9.2
  package-lock.json
  package.json
Due: none

Update chartkit to v 4.9.2 (#189)
  package-lock.json
  package.json
Due: none
