Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Keep backwards campatibility
  src/ui/components/FieldEditor/components/helpers.ts
  src/ui/registry/units/common/functions-map.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fixup! Keep backwards campatibility
  src/ui/components/FieldEditor/components/helpers.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Clean up backwards campatibility
  src/ui/components/FieldEditor/components/helpers.ts
  src/ui/registry/units/common/functions-map.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Move docs html transformation into fetch function (#76)
  src/ui/components/FieldEditor/components/DocSection.tsx
  src/ui/components/FieldEditor/components/helpers.ts
  src/ui/registry/units/common/functions-map.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.860.0
  package-lock.json
  package.json
Due: none

Revert "(github.workflows.e2e_test) add broken test"
  .github/workflows/e2e_tests.yml
  tests/suites/collections/OpenCollectionsPage.test.tsx
Due: none

(github.workflows.e2e_test) add delete-e2e-repost job
  .github/workflows/delete-e2e-report.yml
Due: none

(github.workflows) add e2e_test
  .github/workflows/e2e_tests.yml
  .github/workflows/e2e_yc_tests.yml
  tests/suites/collections/OpenCollectionsPage.test.tsx
Due: none

review fixes
  src/server/modes/opensource/routes.ts
  src/shared/schema/us/actions/entries.ts
Due: none

Fix icon size of dashboard parameters in wizard
  src/ui/units/wizard/containers/Wizard/SectionVisualization/PlaceholdersContainer/DashboardParametersPlaceholder/DashboardParametersPlaceholder.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

publish datalens platform action (#80)
  .github/workflows/publish_platform.yaml
  .github/workflows/publish_platform_hotfix.yaml
Due: none

Bump version to 0.861.0 [release]
  package-lock.json
  package.json
Due: none

test hotfix release
  .github/workflows/publish_platform_hotfix.yaml
Due: none

test hotfix release (#92)
  .github/workflows/publish_platform_hotfix.yaml
Due: none

change layout
  src/shared/types/configs/index.ts
  src/ui/assets/icons/collections/collection-colored-big-dark.svg
  src/ui/assets/icons/collections/collection-colored-big.svg
  src/ui/assets/icons/collections/collection-colored-dark.svg
  src/ui/components/CollectionFilters/CollectionFilters.scss
  src/ui/components/CollectionFilters/CollectionFilters.tsx
  src/ui/components/CollectionIcon/CollectionIcon.tsx
  src/ui/components/WorkbookIcon/WorkbookIcon.scss
  src/ui/configs/common/icons.ts
  src/ui/styles/variables.scss
  src/ui/units/collections/components/CollectionContent/CollectionContent.tsx
  src/ui/units/collections/components/CollectionContentGrid/CollectionContentGrid.scss
  src/ui/units/collections/components/CollectionContentGrid/CollectionContentGrid.tsx
  src/ui/units/collections/components/CollectionContentTable/CollectionContentTable.tsx
  src/ui/units/collections/components/CollectionPage/CollectionPage.tsx
  src/ui/units/collections/components/types.ts
  src/ui/units/collections/components/utils.ts
  src/ui/units/collections/containers/CollectionContentContainer/CollectionContentContainer.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.862.0 [release]
  package-lock.json
  package.json
Due: none

fix hotfix release
  .github/workflows/publish_platform_hotfix.yaml
Due: none

Bump version to 0.861.1 [hotfix]
  package-lock.json
  package.json
Due: none

Bump version to 0.863.0 [release]
  package-lock.json
  package.json
Due: none

Bump version to 0.864.0 [release]
  package-lock.json
  package.json
Due: none

fix hotfix release (#93)
  .github/workflows/publish_platform_hotfix.yaml
Due: none

Bump version to 0.865.0 [release]
  package-lock.json
  package.json
Due: none

build application docker task
  .github/workflows/build_application_docker.yaml
Due: none

fix actions ref
  .github/workflows/build_application_docker.yaml
Due: none

fix docker login action version
  .github/workflows/build_application_docker.yaml
Due: none

fix images for tag
  .github/workflows/build_application_docker.yaml
Due: none

fix tag version
  .github/workflows/build_application_docker.yaml
Due: none

check perms
  .github/workflows/build_application_docker.yaml
Due: none

add cache option
  .github/workflows/build_application_docker.yaml
Due: none

fix buildx plugin install
  .github/workflows/build_application_docker.yaml
Due: none

Feature flag for the feature
  src/server/components/features/features-list/CopyEntriesToWorkbook.ts
  src/shared/types/feature.ts
  src/ui/units/workbooks/components/EntryActions/EntryActions.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

review fixes
  src/i18n-keysets/component.copy-entry-to-workbook-dialog/en.json
  src/i18n-keysets/component.copy-entry-to-workbook-dialog/ru.json
  src/ui/components/CopyEntriesToWorkbookDialog/components/Body/Body.tsx
  src/ui/store/actions/copyEntriesToWorkbook.ts
  src/ui/store/selectors/copyEntriesToWorkbook.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Incorrect field formatting settings when changing the type
  src/server/modes/charts/plugins/datalens/utils/misc-helpers.ts
Due: none

fix release branch trigger
  .github/workflows/build_application_docker.yaml
Due: none

add icons for collection/workbook actions
  src/ui/units/collections/components/CollectionContentTable/CollectionContentTable.scss
  src/ui/units/collections/components/CollectionContentTable/CollectionContentTable.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

wrap actions icons and text to the map
  src/ui/units/collections/components/CollectionContentTable/CollectionContentTable.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix release latest tag
  .github/workflows/build_application_docker.yaml
Due: none

add workflow_dispatch trigger
  .github/workflows/build_application_docker.yaml
Due: none

New aliases bugfixes (#85)
  src/i18n-keysets/component.dialog-relations.view/en.json
  src/i18n-keysets/component.dialog-relations.view/ru.json
  src/ui/units/dash/containers/Dialogs/DialogRelations/DialogRelations.tsx
  src/ui/units/dash/containers/Dialogs/DialogRelations/components/DialogAliases/DialogAliases.tsx
  src/ui/units/dash/containers/Dialogs/DialogRelations/components/DialogAliases/components/AddAliases/AddAliases.tsx
  src/ui/units/dash/containers/Dialogs/DialogRelations/helpers.tsx
  src/ui/units/dash/containers/Dialogs/DialogRelations/hooks/helpers.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Path conditions:
  eslint -c src/ui/.ci-eslintrc --fix --quiet: any of: src/ui/**/*.{js,jsx,ts,tsx}
  prettier --write: (any of: src/ui/**/*.{js,jsx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --fix --quiet: any of: *.{css,scss}
