Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Hide old relations button flag (#518)
  src/server/components/features/features-list/HideOldRelations.ts
  src/shared/types/feature.ts
  src/ui/units/dash/components/DashActionPanel/EditControls/EditControls.tsx
  src/ui/units/dash/containers/Dialogs/DialogRelations/DialogRelations.tsx
  tests/opensource-suites/dash/base/relations.test.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1238.0 [release]
  package-lock.json
  package.json
Due: none

Move required label logic to utils
  src/ui/components/DashKit/plugins/Control/Control.tsx
  src/ui/components/DashKit/plugins/Control/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix save button qa
  src/shared/constants/qa/action-panel.ts
  src/ui/units/dash/components/DashActionPanel/EditControls/EditControls.tsx
  tests/opensource-suites/dash/revisions/revisionsListCopyDashboards.test.ts
  tests/page-objects/dashboard/DashboardPage.ts
  tests/suites/dash/revisions/revisionsListCopyDashboards.test.ts
  tests/utils/constants.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix type
  src/shared/types/dash.ts
Due: none

Fix removing comments
  src/server/modes/charts/plugins/ql/js.ts
  src/server/modes/charts/plugins/ql/utils/misc-helpers.ts
Due: none

wip: add selector reducer
  src/shared/types/dash.ts
  src/ui/units/dash/containers/Dialogs/Control2/SelectorTypeSelect/SelectorTypeSelect.tsx
  src/ui/units/dash/containers/Dialogs/DialogRelations/hooks/helpers.ts
  src/ui/units/dash/store/actions/dashTyped.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

group control widget type config
  src/shared/types/dash.ts
  src/ui/components/DashKit/DashKit.ts
  src/ui/components/DashKit/plugins/GroupControl/GroupControl.scss
  src/ui/components/DashKit/plugins/GroupControl/GroupControl.tsx
  src/ui/units/dash/containers/Dialogs/GroupControl/ControlsPlacementDialog/ControlsPlacementDialog.tsx
  src/ui/units/dash/containers/Dialogs/GroupControl/GroupControl.tsx
  src/ui/units/dash/containers/Dialogs/GroupControl/GroupControlFooter/GroupControlFooter.tsx
  src/ui/units/dash/containers/Dialogs/GroupControl/GroupControlSidebar/GroupControlSidebar.tsx
  src/ui/units/dash/containers/Dialogs/constants.ts
  src/ui/units/dash/store/actions/dashTyped.ts
  src/ui/units/dash/store/reducers/dash.js
  src/ui/units/dash/store/reducers/dashTypedReducer.ts
  src/ui/units/dash/store/selectors/dashTypedSelectors.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

fixme any type for new widget
  src/ui/units/dash/store/actions/dashTyped.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix placement order
  src/ui/components/DashKit/plugins/GroupControl/GroupControl.tsx
  src/ui/units/dash/containers/Dialogs/GroupControl/ControlsPlacementDialog/ControlsPlacementDialog.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix widget order
  src/i18n-keysets/dash.popup-widgets-order.view/en.json
  src/i18n-keysets/dash.popup-widgets-order.view/keyset.json
  src/i18n-keysets/dash.popup-widgets-order.view/ru.json
  src/shared/types/dash.ts
  src/ui/components/DashKit/plugins/GroupControl/GroupControl.tsx
  src/ui/units/dash/containers/Dialogs/Tabs/PopupWidgetsOrder/PopupWidgetsOrder.tsx
  src/ui/units/dash/containers/Dialogs/Tabs/PopupWidgetsOrder/helpers.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix rebase control dialog
  src/server/components/features/features-list/GroupControls.ts
  src/ui/components/DashKit/DashKit.ts
  src/ui/units/dash/containers/Dialogs/Tabs/PopupWidgetsOrder/helpers.ts
  src/ui/units/dash/store/actions/dashTyped.ts
  src/ui/units/dash/store/reducers/dash.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

enable group controls in dev
  src/server/components/features/features-list/GroupControls.ts
Due: none

Add byUsedParams in field relation info text
  src/ui/units/dash/containers/Dialogs/DialogRelations/components/Content/Row.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix test
  tests/opensource-suites/wizard/fields/parameters.test.ts
Due: none

Fix comments removing algorithm
  src/server/modes/charts/plugins/ql/utils/misc-helpers.ts
Due: none

Add doesQueryContainOrderBy unit tests
  src/server/modes/charts/plugins/ql/utils/__tests__/misc-helpers.test.ts
Due: none

Fix dash endpoint
  tests/constants/config/dash.ts
Due: none

Fix removing comments (#523)
  src/server/modes/charts/plugins/ql/js.ts
  src/server/modes/charts/plugins/ql/utils/__tests__/misc-helpers.test.ts
  src/server/modes/charts/plugins/ql/utils/misc-helpers.ts
Due: none

Bump version to 0.1239.0 [release]
  package-lock.json
  package.json
Due: none

Types declarations
  src/ui/units/dash/containers/Dialogs/DialogRelations/components/Content/Row.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix createDashboard method
  tests/page-objects/dashboard/DashboardPage.ts
Due: none

Add structureType in dash config
  tests/constants/config/dash.ts
  tests/page-objects/dashboard/DashboardPage.ts
  tests/types/config/dash.ts
Due: none

Fix qa
  tests/opensource-suites/dash/base/actionPanel.test.ts
  tests/page-objects/dashboard/DashboardPage.ts
  tests/utils/constants.ts
Due: none

remove screenshot settings from config
  tests/playwright.config.ts
  tests/playwright.screenshot.css
Due: prettier --write, stylelint --fix --quiet

Add forgotten await
  tests/page-objects/dashboard/DashboardPage.ts
Due: none

Fix group control open dialog
  src/ui/units/dash/store/reducers/dash.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add e2e(wizard): time axis and axis mode - discrete/continuous (#478)
  package-lock.json
  package.json
  src/shared/constants/qa/chart.ts
  src/shared/constants/qa/wizard.ts
  src/ui/libs/DatalensChartkit/components/ChartKitBase/components/Loader/Loader.tsx
  src/ui/units/wizard/containers/Wizard/SectionPreview/SectionPreview.tsx
  tests/data/us-e2e-data
  tests/opensource-suites/dash/relations/ignore.test.ts
  tests/opensource-suites/dash/relations/relationType.test.ts
  tests/opensource-suites/dash/relations/relations.test.ts
  tests/opensource-suites/wizard/fields/add-field.test.ts
  tests/opensource-suites/wizard/fields/field-actions.test.ts
  tests/opensource-suites/wizard/fields/parameters.test.ts
  tests/page-objects/dashboard/DashboardPage.ts
  tests/page-objects/wizard/PlaceholderDialog.ts
  tests/suites/wizard/parameters/parameterizedChart.test.ts
  tests/suites/wizard/visualizations/combined-chart.test.ts
  tests/utils/constants.ts
  tests/utils/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1240.0 [release]
  package-lock.json
  package.json
Due: none

Fix dynamicFeature use
  tests/opensource-suites/dash/base/relations.test.ts
  tests/opensource-suites/dash/widgets/autoheight.test.ts
  tests/page-objects/dashboard/DashboardPage.ts
  tests/utils/helpers.ts
Due: none

Fix duplicate method
  tests/page-objects/dashboard/DashboardPage.ts
Due: none

update playwright version (1.40.0)
  package-lock.json
  package.json
Due: none

Fix external selector dialog
  src/ui/units/dash/store/reducers/dash.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

update playwright version (1.40.0) (#524)
  package-lock.json
  package.json
Due: none

Bump version to 0.1241.0 [release]
  package-lock.json
  package.json
Due: none

More fixes
  tests/constants/config/dash.ts
  tests/opensource-suites/dash/base/relations.test.ts
  tests/opensource-suites/dash/params/params.test.ts
  tests/opensource-suites/dash/relations/ignore.test.ts
  tests/opensource-suites/dash/relations/relationType.test.ts
  tests/opensource-suites/dash/relations/relations.test.ts
  tests/opensource-suites/dash/relations/relationsEmpty.test.ts
  tests/opensource-suites/dash/relations/validation.test.ts
  tests/opensource-suites/dash/revisions/revisionsList.test.ts
  tests/opensource-suites/dash/revisions/revisionsListCopyDashboards.test.ts
  tests/opensource-suites/dash/revisions/revisionsListWithCreationDashboards.test.ts
  tests/opensource-suites/dash/revisions/revisionsListWithCreationSaveAsCopy.test.ts
  tests/opensource-suites/dash/revisions/revisionsSwitching.test.ts
  tests/opensource-suites/dash/selectors/acceptableValues.test.ts
  tests/opensource-suites/dash/selectors/addSelectors.test.ts
  tests/opensource-suites/dash/selectors/datetimeSelectors.test.ts
  tests/opensource-suites/dash/selectors/selectorsLabels.test.ts
  tests/opensource-suites/dash/tabs/tabs.test.ts
  tests/opensource-suites/dash/tabs/tabsChange.test.ts
  tests/opensource-suites/dash/tabs/tabsWidgetOrder.test.ts
  tests/opensource-suites/dash/toc/toc.test.ts
  tests/opensource-suites/dash/toc/tocSettings.test.ts
  tests/opensource-suites/dash/widgets/autoheight.test.ts
  tests/opensource-suites/dash/widgets/markdown.test.ts
  tests/page-objects/dashboard/DashboardPage.ts
  tests/types/config/dash.ts
  tests/utils/helpers.ts
Due: none

New tranlations for param relations
  src/i18n-keysets/component.dialog-relations.view/en.json
  src/i18n-keysets/component.dialog-relations.view/keyset.json
  src/i18n-keysets/component.dialog-relations.view/ru.json
  src/ui/units/dash/containers/Dialogs/DialogRelations/components/Content/Row.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix i18n script launch
  .lintstagedrc.json
Due: none

Fix i18n script launch (#525)
  .lintstagedrc.json
Due: none

Bump version to 0.1242.0 [release]
  package-lock.json
  package.json
Due: none

Path conditions:
  eslint -c src/ui/.ci-eslintrc --fix --quiet: any of: src/ui/**/*.{js,jsx,ts,tsx}
  prettier --write: (any of: src/ui/**/*.{js,jsx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --fix --quiet: any of: *.{css,scss}
