Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

fix: chart is not displayed on the dashboard
  src/server/modes/charts/plugins/datalens/preparers/helpers/axis.ts
  src/server/modes/charts/plugins/datalens/preparers/line/highcharts.ts
  src/server/modes/charts/plugins/datalens/preparers/line/prepare-line-data.ts
Due: none

fix review comment
  src/server/modes/charts/plugins/datalens/preparers/line/prepare-line-data.ts
Due: none

Move e2e dash datetimeSelectors test
  tests/opensource-suites/dash/selectors/datetimeSelectors.test.ts
  tests/page-objects/dashboard/DashboardPage.ts
Due: none

Fix displaying chart on the dashboard (#401)
  src/server/modes/charts/plugins/datalens/preparers/helpers/axis.ts
  src/server/modes/charts/plugins/datalens/preparers/line/highcharts.ts
  src/server/modes/charts/plugins/datalens/preparers/line/prepare-line-data.ts
Due: none

Bump version to 0.1146.0 [release]
  package-lock.json
  package.json
Due: none

review fixes
  src/shared/constants/qa/control.ts
  src/ui/units/dash/containers/Dialogs/Control2/Sections/ValueSelector/ValueSelector.tsx
  tests/opensource-suites/dash/selectors/datetimeSelectors.test.ts
  tests/page-objects/dashboard/DashboardPage.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Rework yadocs add document flow & add actions to list items (#396)
  src/ui/.eslintrc
  src/ui/store/actions/openDialogTypes.ts
  src/ui/units/connections/components/custom-forms/Yadocs/components/AddSection.tsx
  src/ui/units/connections/components/custom-forms/Yadocs/components/DialogAddDocument/DialogAddDocument.scss
  src/ui/units/connections/components/custom-forms/Yadocs/components/DialogAddDocument/DialogAddDocument.tsx
  src/ui/units/connections/components/custom-forms/Yadocs/components/DocsList.tsx
  src/ui/units/connections/components/custom-forms/Yadocs/components/index.ts
  src/ui/units/connections/components/custom-forms/Yadocs/constants.ts
  src/ui/units/connections/components/custom-forms/Yadocs/containers/DocsListContainer.tsx
  src/ui/units/connections/components/custom-forms/Yadocs/containers/useGSheetDialogs.ts
  src/ui/units/connections/components/custom-forms/Yadocs/containers/useYadocsDialogs.ts
  src/ui/units/connections/components/custom-forms/Yadocs/types.ts
  src/ui/units/connections/store/actions/base.ts
  src/ui/units/connections/store/actions/gsheet/index.ts
  src/ui/units/connections/store/actions/gsheet/misc-actions.ts
  src/ui/units/connections/store/actions/yadoc/index.ts
  src/ui/units/connections/store/actions/yadoc/misc-actions.ts
  src/ui/units/connections/store/actions/yadoc/utils.ts
  src/ui/units/connections/store/constants.ts
  src/ui/units/connections/store/reducers/index.ts
  src/ui/units/connections/store/selectors/yadocs.ts
  src/ui/units/connections/store/typings/index.ts
  src/ui/units/connections/store/typings/yadocs.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.1147.0 [release]
  package-lock.json
  package.json
Due: none

Fix coloring by user color config for fractional values
  src/server/modes/charts/plugins/datalens/preparers/pie/__tests__/highcharts.test.ts
  src/server/modes/charts/plugins/datalens/preparers/pie/__tests__/mocks/pie.mock.ts
  src/server/modes/charts/plugins/datalens/preparers/pie/__tests__/pie.test.ts
  src/server/modes/charts/plugins/datalens/preparers/pie/d3.ts
  src/server/modes/charts/plugins/datalens/preparers/pie/highcharts.ts
  src/server/modes/charts/plugins/datalens/preparers/pie/prepare-pie-data.ts
Due: none

fix Placeholder settings
  src/ui/units/wizard/containers/Wizard/SectionVisualization/PlaceholdersContainer/PlaceholdersContainer.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Move e2e dash datetimeSelectors test (#402)
  src/shared/constants/qa/control.ts
  src/ui/units/dash/containers/Dialogs/Control2/Sections/ValueSelector/ValueSelector.tsx
  tests/opensource-suites/dash/selectors/datetimeSelectors.test.ts
  tests/page-objects/dashboard/DashboardPage.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1148.0 [release]
  package-lock.json
  package.json
Due: none

Add default settings to fake dash data
  src/ui/units/dash/store/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add a distinct_id param to the E2E workflow
  .github/workflows/e2e_tests.yml
Due: none

Add test dash data & chart
  tests/data/us-e2e-data
Due: none

fix
  .github/workflows/e2e_tests.yml
Due: none

Add test for unknown link
  tests/constants/test-entities/dash.ts
  tests/opensource-suites/dash/relations/relationsWithErrorChart.test.ts
Due: none

Add a distinct_id param to the E2E workflow (#405)
  .github/workflows/e2e_tests.yml
Due: none

Bump version to 0.1149.0 [release]
  package-lock.json
  package.json
Due: none

Fix after review
  tests/opensource-suites/dash/relations/relationsEmpty.test.ts
  tests/opensource-suites/dash/relations/relationsWithErrorChart.test.ts
Due: none

Fix remove duplication after test finished
  tests/opensource-suites/dash/relations/relationsWithErrorChart.test.ts
Due: none

Fix coloring by user color config for fractional values (#403)
  src/server/modes/charts/plugins/datalens/preparers/pie/__tests__/highcharts.test.ts
  src/server/modes/charts/plugins/datalens/preparers/pie/__tests__/mocks/pie.mock.ts
  src/server/modes/charts/plugins/datalens/preparers/pie/__tests__/pie.test.ts
  src/server/modes/charts/plugins/datalens/preparers/pie/d3.ts
  src/server/modes/charts/plugins/datalens/preparers/pie/highcharts.ts
  src/server/modes/charts/plugins/datalens/preparers/pie/prepare-pie-data.ts
Due: none

Bump version to 0.1150.0 [release]
  package-lock.json
  package.json
Due: none

Add some more settings
  src/ui/units/dash/store/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Added new relations tests p4 (#406)
  src/shared/constants/qa/dash.ts
  src/ui/units/dash/containers/Dialogs/DialogRelations/components/DialogAliases/DialogAliases.tsx
  tests/constants/test-entities/dash.ts
  tests/data/us-e2e-data
  tests/opensource-suites/dash/relations/relationsEmpty.test.ts
  tests/opensource-suites/dash/relations/relationsWithErrorChart.test.ts
  tests/opensource-suites/dash/relations/validation.test.ts
  tests/page-objects/dashboard/DashboardPage.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1151.0 [release]
  package-lock.json
  package.json
Due: none

Added onEnter modal apply handler
  src/ui/units/dash/containers/Dialogs/Title/Title.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add type to fake dash data
  src/shared/types/dash.ts
  src/ui/units/dash/store/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add default settings to fake dash data (#404)
  src/shared/types/dash.ts
  src/ui/units/dash/store/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1152.0 [release]
  package-lock.json
  package.json
Due: none

Up @gravity-ui/components@2.10.0
  package-lock.json
  package.json
Due: none

fix change visualization
  src/ui/units/wizard/components/Dialogs/Settings/Settings.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Move e2e dash stateChange test
  tests/opensource-suites/dash/state/stateChange.test.ts
Due: none

Up @gravity-ui/components@2.10.0 (#410)
  package-lock.json
  package.json
Due: none

Bump version to 0.1153.0 [release]
  package-lock.json
  package.json
Due: none

Added onEnter modal apply handler (#408)
  src/ui/units/dash/containers/Dialogs/Title/Title.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1154.0 [release]
  package-lock.json
  package.json
Due: none

Fix undefined dataset id in api
  src/ui/units/dash/containers/Dialogs/DialogRelations/hooks/helpers.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix undefined dataset id in api (#412)
  src/ui/units/dash/containers/Dialogs/DialogRelations/hooks/helpers.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1155.0 [release]
  package-lock.json
  package.json
Due: none

Path conditions:
  eslint -c src/ui/.ci-eslintrc --fix --quiet: any of: src/ui/**/*.{js,jsx,ts,tsx}
  prettier --write: (any of: src/ui/**/*.{js,jsx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --fix --quiet: any of: *.{css,scss}
