Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

.lintstagedrc.json:

{
    "!(src/ui/**/*)*.{js,jsx,ts,tsx}": [
      "eslint --fix --quiet",
      "prettier --write"
    ],
    "src/ui/**/*.{js,jsx,ts,tsx}": [
      "eslint -c src/ui/.ci-eslintrc --fix --quiet",
      "prettier --write"
    ],
    "*.{css,scss}": [
      "stylelint --fix --quiet",
      "prettier --write"
    ]
}

Remove unused clickable scope in hc action params code
  src/shared/types/chartkit/dl-chartkit.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/action-params-handlers.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

old connection type error
  src/i18n-keysets/dash.connections-dialog.edit/en.json
  src/i18n-keysets/dash.connections-dialog.edit/keyset.json
  src/i18n-keysets/dash.connections-dialog.edit/ru.json
  src/ui/units/dash/containers/Dialogs/Connections/Connections.js
  src/ui/units/dash/containers/Dialogs/Connections/Connections.scss
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fix update empty action params
  src/ui/components/Widgets/Chart/hooks/useLoadingChart.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Remove unused clickable scope in hc action params code (#289)
  src/shared/types/chartkit/dl-chartkit.ts
  src/ui/libs/DatalensChartkit/ChartKit/helpers/action-params-handlers.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1045.0 [release]
  package-lock.json
  package.json
Due: none

Add checkboxs layout for table
  src/ui/components/CollectionsStructure/MoveCollectionsWorkbooksDialog.tsx
  src/ui/units/collections/components/CollectionContent/CollectionContent.scss
  src/ui/units/collections/components/CollectionContent/CollectionContent.tsx
  src/ui/units/collections/components/CollectionContentTable/CollectionContentTable.scss
  src/ui/units/collections/components/CollectionContentTable/CollectionContentTable.tsx
  src/ui/units/collections/components/CollectionLayout/CollectionLayout.scss
  src/ui/units/collections/components/types.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Update gateway
  package-lock.json
  package.json
Due: none

old connection type error (#290)
  src/i18n-keysets/dash.connections-dialog.edit/en.json
  src/i18n-keysets/dash.connections-dialog.edit/keyset.json
  src/i18n-keysets/dash.connections-dialog.edit/ru.json
  src/ui/units/dash/containers/Dialogs/Connections/Connections.js
  src/ui/units/dash/containers/Dialogs/Connections/Connections.scss
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.1046.0 [release]
  package-lock.json
  package.json
Due: none

Moved filter storage to JSON format in local storage
  package-lock.json
  src/ui/components/CollectionFilters/CollectionFilters.tsx
  src/ui/units/collections/components/CollectionPage/CollectionPage.tsx
  src/ui/utils/filterStorage.ts
  src/ui/utils/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix filtering icon position on widget
  src/ui/components/Widgets/Chart/ChartWidget.scss
Due: prettier --write, stylelint --fix --quiet

Moved filter storage to JSON format in local storage
  src/ui/components/CollectionFilters/CollectionFilters.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Update gateway (#292)
  package-lock.json
  package.json
Due: none

Bump version to 0.1047.0 [release]
  package-lock.json
  package.json
Due: none

Add new actions and dialog
  src/shared/schema/us/actions/collections.ts
  src/shared/schema/us/actions/workbooks.ts
  src/shared/schema/us/types/collections.ts
  src/shared/schema/us/types/workbooks.ts
  src/ui/components/CollectionsStructure/MoveCollectionsWorkbooksDialog.tsx
  src/ui/components/CollectionsStructure/index.ts
  src/ui/store/actions/collectionsStructure.ts
  src/ui/store/constants/collectionsStructure.ts
  src/ui/units/collections/components/CollectionContent/CollectionContent.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Change texts for dash setting loading visible
  src/i18n-keysets/dash.settings-dialog.edit/en.json
  src/i18n-keysets/dash.settings-dialog.edit/ru.json
  src/ui/units/dash/containers/Dialogs/Settings/components/OtherSettings.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Got rid of unnecessary calls at renaming folder or wb
  src/ui/units/collections/components/CollectionContent/CollectionContent.tsx
  src/ui/units/collections/components/CollectionPage/CollectionPage.tsx
  src/ui/units/collections/containers/CollectionContentContainer/CollectionContentContainer.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix filtering icon position on widget (#293)
  src/ui/components/Widgets/Chart/ChartWidget.scss
Due: prettier --write, stylelint --fix --quiet

Bump version to 0.1048.0 [release]
  package-lock.json
  package.json
Due: none

Adjusted naming
  src/ui/units/collections/components/CollectionContent/CollectionContent.tsx
  src/ui/units/collections/components/CollectionPage/CollectionPage.tsx
  src/ui/units/collections/containers/CollectionContentContainer/CollectionContentContainer.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Change texts for dash setting loading visible (#294)
  src/i18n-keysets/dash.settings-dialog.edit/en.json
  src/i18n-keysets/dash.settings-dialog.edit/ru.json
  src/ui/units/dash/containers/Dialogs/Settings/components/OtherSettings.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1049.0 [release]
  package-lock.json
  package.json
Due: none

Remove automatic actionParams generation for tables with complex header
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/utils/misc.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix DebugInfoTool z-index
  src/ui/components/DashKit/plugins/DebugInfoTool/DebugInfoTool.scss
Due: prettier --write, stylelint --fix --quiet

Add checkbox selector type
  src/i18n-keysets/dash.control-dialog.edit/en.json
  src/i18n-keysets/dash.control-dialog.edit/ru.json
  src/server/modes/charts/plugins/control/constants/misc.ts
  src/server/modes/charts/plugins/control/js/index.ts
  src/server/modes/charts/plugins/control/url/index.ts
  src/server/modes/charts/plugins/dash-api.ts
  src/shared/types/dash.ts
  src/ui/components/DashKit/plugins/Control/Control.tsx
  src/ui/libs/DatalensChartkit/components/Control/Items/Items.js
  src/ui/units/dash/containers/Dialogs/Control/Switchers/Button/Button.scss
  src/ui/units/dash/containers/Dialogs/Control/constants.tsx
  src/ui/units/dash/containers/Dialogs/Control2/Control2.scss
  src/ui/units/dash/containers/Dialogs/Control2/Sections/CommonSettingsSection/DatasetSelector/DatasetSelector.tsx
  src/ui/units/dash/containers/Dialogs/Control2/Sections/CommonSettingsSection/InputSettings/InputSettings.tsx
  src/ui/units/dash/containers/Dialogs/Control2/Sections/CommonSettingsSection/InputTypeSelector/InputTypeSelector.tsx
  src/ui/units/dash/containers/Dialogs/Control2/Sections/ValueSelector/ValueSelector.tsx
  src/ui/units/dash/store/actions/dashTyped.ts
  src/ui/units/dash/store/selectors/dashTypedSelectors.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Code review fixes
  src/ui/components/CollectionFilters/CollectionFilters.tsx
  src/ui/units/collections/components/CollectionContent/CollectionContent.tsx
  src/ui/units/collections/components/CollectionPage/CollectionPage.tsx
  src/ui/utils/collectionFiltersStorage.ts
  src/ui/utils/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix DebugInfoTool z-index (#297)
  src/ui/components/DashKit/plugins/DebugInfoTool/DebugInfoTool.scss
Due: prettier --write, stylelint --fix --quiet

Bump version to 0.1050.0 [release]
  package-lock.json
  package.json
Due: none

Remove automatic actionParams generation for tables with complex header (#296)
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/utils/misc.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1051.0 [release]
  package-lock.json
  package.json
Due: none

Add actions new actions for moving workbooks, collections list
  src/shared/schema/us/types/collections.ts
  src/ui/components/CollectionsStructure/CollectionStructureDialog/CollectionStructureDialog.tsx
  src/ui/components/CollectionsStructure/MoveCollectionsWorkbooksDialog.tsx
  src/ui/store/actions/collectionsStructure.ts
  src/ui/store/actions/openDialogTypes.ts
  src/ui/store/reducers/collectionsStructure.ts
  src/ui/units/collections/components/CollectionContent/CollectionContent.tsx
  src/ui/units/collections/components/CollectionContentTable/CollectionContentTable.tsx
  src/ui/units/collections/components/types.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add logic with indeterminate to main checkbox
  src/ui/units/collections/components/CollectionContent/CollectionContent.tsx
  src/ui/units/collections/components/CollectionContentTable/CollectionContentTable.tsx
  src/ui/units/collections/components/types.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

chore: @gravity-ui/components -> 2.8.0
  package-lock.json
  package.json
Due: none

Add base e2e suites for Connections unit (#273)
  tests/opensource-suites/connections/clickhouse.test.ts
  tests/opensource-suites/connections/postgres.test.ts
  tests/opensource-suites/connections/ytsaurus.test.ts
  tests/page-objects/connections/ConnectionsPage.ts
Due: none

Bump version to 0.1052.0 [release]
  package-lock.json
  package.json
Due: none

Replace value checkbox with RadioGroup
  src/i18n-keysets/dash.control-dialog.edit/en.json
  src/i18n-keysets/dash.control-dialog.edit/ru.json
  src/server/modes/charts/plugins/control/js/index.ts
  src/ui/libs/DatalensChartkit/components/Control/Items/Items.js
  src/ui/units/dash/containers/Dialogs/Control/constants.tsx
  src/ui/units/dash/containers/Dialogs/Control2/Sections/ValueSelector/ValueSelector.scss
  src/ui/units/dash/containers/Dialogs/Control2/Sections/ValueSelector/ValueSelector.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

chore: @gravity-ui/components -> 2.8.0 (#299)
  package-lock.json
  package.json
Due: none

Bump version to 0.1053.0 [release]
  package-lock.json
  package.json
Due: none

Add AdaptiveDialog and move DialogErrorWithTabs to it
  src/ui/components/AdaptiveDialog/AdaptiveDialog.tsx
  src/ui/components/DialogErrorWithTabs/DialogErrorWithTabs.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write
