Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

CHARTS-6985: fixed sort in multidataset case (#24)
  src/server/modes/charts/plugins/datalens/url/build-request-body/index.ts
  src/shared/utils/visualization-check.ts
Due: none

Bump version to 0.810.0
  package-lock.json
  package.json
Due: none

fix (dash): edit panel left styles
  src/ui/units/dash/containers/Body/Body.scss
  src/ui/units/dash/containers/Body/Body.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

fix (dash): edit panel left styles (#30)
  src/ui/units/dash/containers/Body/Body.scss
  src/ui/units/dash/containers/Body/Body.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.811.0
  package-lock.json
  package.json
Due: none

fix (dash): refact edit panel left style
  src/ui/units/dash/containers/Body/Body.scss
Due: prettier --write, stylelint --fix --quiet

feat: add move btn, tooltips
  src/ui/registry/units/workbooks/functions-map.ts
  src/ui/units/collections/components/CollectionActions/CollectionActions.scss
  src/ui/units/collections/components/CollectionActions/CollectionActions.tsx
  src/ui/units/collections/components/CollectionPage/CollectionPage.tsx
  src/ui/units/workbooks/components/WorkbookActions/WorkbookActions.scss
  src/ui/units/workbooks/components/WorkbookActions/WorkbookActions.tsx
  src/ui/units/workbooks/components/WorkbookPage/WorkbookPage.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

fix (dash): refact edit panel left style (#31)
  src/ui/units/dash/containers/Body/Body.scss
Due: prettier --write, stylelint --fix --quiet

Bump version to 0.812.0
  package-lock.json
  package.json
Due: none

Removed statface legacy
  src/i18n-keysets/component.chartkit-error.codes/en.json
  src/i18n-keysets/component.chartkit-error.codes/keyset.json
  src/i18n-keysets/component.chartkit-error.codes/ru.json
  src/server/components/charts-engine/components/processor/comments-fetcher.ts
  src/shared/constants/connections.ts
  src/shared/types/common.ts
  src/ui/assets/icons/connections/statface-report.svg
  src/ui/assets/icons/files-con-statface-report.svg
  src/ui/assets/icons/statface-report.svg
  src/ui/components/EntryIcon/EntryIcon.tsx
  src/ui/units/datasets/constants/index.ts
  src/ui/units/datasets/containers/DatasetSources/DatasetSources.js
  src/ui/utils/connections/icons.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fixed isDisabledAddSource
  src/ui/units/datasets/containers/DatasetSources/DatasetSources.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix selectors weight for edit dash panel
  src/ui/units/dash/containers/Body/Body.scss
Due: prettier --write, stylelint --fix --quiet

Removed statface legacy (#32)
  src/i18n-keysets/component.chartkit-error.codes/en.json
  src/i18n-keysets/component.chartkit-error.codes/keyset.json
  src/i18n-keysets/component.chartkit-error.codes/ru.json
  src/server/components/charts-engine/components/processor/comments-fetcher.ts
  src/shared/constants/connections.ts
  src/shared/types/common.ts
  src/ui/assets/icons/connections/statface-report.svg
  src/ui/assets/icons/files-con-statface-report.svg
  src/ui/assets/icons/statface-report.svg
  src/ui/components/EntryIcon/EntryIcon.tsx
  src/ui/units/datasets/constants/index.ts
  src/ui/units/datasets/containers/DatasetSources/DatasetSources.js
  src/ui/utils/connections/icons.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.813.0
  package-lock.json
  package.json
Due: none

Fix selectors weight for edit dash panel (#33)
  src/ui/units/dash/containers/Body/Body.scss
Due: prettier --write, stylelint --fix --quiet

Bump version to 0.814.0
  package-lock.json
  package.json
Due: none

Connections store refactoring
  src/i18n-keysets/connections.form/en.json
  src/i18n-keysets/connections.form/keyset.json
  src/i18n-keysets/connections.form/ru.json
  src/shared/schema/appmetrica/types/index.ts
  src/shared/schema/bi/types/forms.ts
  src/shared/schema/metrica/types/index.ts
  src/shared/schema/oauth/types/index.ts
  src/shared/schema/types.ts
  src/ui/units/connections/components/ConnectorForm/utils/index.ts
  src/ui/units/connections/components/ConnectorForm/utils/mdb.tsx
  src/ui/units/connections/components/ConnectorForm/utils/select-items.ts
  src/ui/units/connections/components/ConnectorForm/utils/ydb.ts
  src/ui/units/connections/constants/form.ts
  src/ui/units/connections/constants/index.ts
  src/ui/units/connections/constants/mdb.ts
  src/ui/units/connections/store/actions/api.ts
  src/ui/units/connections/store/actions/base.ts
  src/ui/units/connections/store/actions/index.ts
  src/ui/units/connections/store/actions/select-items.ts
  src/ui/units/connections/store/constants.ts
  src/ui/units/connections/store/reducers/index.ts
  src/ui/units/connections/store/typings/api.ts
  src/ui/units/connections/store/typings/index.ts
  src/ui/units/connections/store/typings/mdb.ts
  src/ui/units/connections/store/typings/ydb.ts
  src/ui/units/connections/store/utils/index.ts
  src/ui/units/connections/store/utils/mdb.ts
  src/ui/units/connections/store/utils/metrica.ts
  src/ui/units/connections/utils/index.ts
  src/ui/units/connections/utils/links.ts
  src/ui/units/connections/utils/tenant.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix: fix typo, add comma
  src/i18n-keysets/wizard/ru.json
Due: none

fix: fix typo, add comma (#35)
  src/i18n-keysets/wizard/ru.json
Due: none

Bump version to 0.815.0
  package-lock.json
  package.json
Due: none

New relations dialog improvements
  src/i18n-keysets/component.dialog-aliases.view/en.json
  src/i18n-keysets/component.dialog-aliases.view/ru.json
  src/ui/units/dash/containers/Dialogs/DialogRelations/components/Content/Row.tsx
  src/ui/units/dash/containers/Dialogs/DialogRelations/components/Content/helpers.ts
  src/ui/units/dash/containers/Dialogs/DialogRelations/components/DialogAliases/DialogAliases.scss
  src/ui/units/dash/containers/Dialogs/DialogRelations/components/DialogAliases/DialogAliases.tsx
  src/ui/units/dash/containers/Dialogs/DialogRelations/components/DialogAliases/components/AddAliases/AddAliases.tsx
  src/ui/units/dash/containers/Dialogs/DialogRelations/types.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Return Tabs and Links buttons to top actionPanel on dash
  src/ui/units/dash/components/DashActionPanel/EditControls/EditControls.tsx
  src/ui/units/dash/containers/Body/Body.tsx
  tests/page-objects/dashboard/DashboardPage.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Remove qa keys
  src/shared/constants/qa/dash.ts
Due: none

Remove unused texts
  src/i18n-keysets/dash.main.view/en.json
  src/i18n-keysets/dash.main.view/ru.json
Due: none

Return Tabs and Links buttons to top actionPanel on dash (#37)
  src/i18n-keysets/dash.main.view/en.json
  src/i18n-keysets/dash.main.view/ru.json
  src/shared/constants/qa/dash.ts
  src/ui/units/dash/components/DashActionPanel/EditControls/EditControls.tsx
  src/ui/units/dash/containers/Body/Body.tsx
  tests/page-objects/dashboard/DashboardPage.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.816.0
  package-lock.json
  package.json
Due: none

CHARTS-8470: added unsupported data type handling
  src/i18n-keysets/chartkit.data-provider/en.json
  src/i18n-keysets/chartkit.data-provider/keyset.json
  src/i18n-keysets/chartkit.data-provider/ru.json
  src/i18n-keysets/component.chartkit-error.codes/en.json
  src/i18n-keysets/component.chartkit-error.codes/keyset.json
  src/i18n-keysets/component.chartkit-error.codes/ru.json
  src/server/components/charts-engine/constants/index.ts
  src/server/modes/charts/plugins/datalens/preparers/flat-table/index.ts
  src/shared/types/wizard/field.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/index.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/types.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fixed keyset
  src/i18n-keysets/component.chartkit-error.codes/keyset.json
Due: none

Added unsupported data type handling (#38)
  src/i18n-keysets/chartkit.data-provider/en.json
  src/i18n-keysets/chartkit.data-provider/keyset.json
  src/i18n-keysets/chartkit.data-provider/ru.json
  src/i18n-keysets/component.chartkit-error.codes/en.json
  src/i18n-keysets/component.chartkit-error.codes/keyset.json
  src/i18n-keysets/component.chartkit-error.codes/ru.json
  src/server/components/charts-engine/constants/index.ts
  src/server/modes/charts/plugins/datalens/preparers/flat-table/index.ts
  src/shared/types/wizard/field.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/index.ts
  src/ui/libs/DatalensChartkit/modules/data-provider/charts/types.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.817.0
  package-lock.json
  package.json
Due: none

Fix types
  src/ui/units/dash/containers/Dialogs/DialogRelations/components/DialogAliases/DialogAliases.tsx
  src/ui/units/dash/containers/Dialogs/DialogRelations/types.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix min width for wizard selector field
  src/ui/units/wizard/components/AddField/AddField.scss
Due: prettier --write, stylelint --fix --quiet

allow apply dialog filer on enter click
  src/ui/components/DialogFilter/DialogFilter.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

New relations dialog improvements (#36)
  src/i18n-keysets/component.dialog-aliases.view/en.json
  src/i18n-keysets/component.dialog-aliases.view/ru.json
  src/ui/units/dash/containers/Dialogs/DialogRelations/components/Content/Row.tsx
  src/ui/units/dash/containers/Dialogs/DialogRelations/components/Content/helpers.ts
  src/ui/units/dash/containers/Dialogs/DialogRelations/components/DialogAliases/DialogAliases.scss
  src/ui/units/dash/containers/Dialogs/DialogRelations/components/DialogAliases/DialogAliases.tsx
  src/ui/units/dash/containers/Dialogs/DialogRelations/components/DialogAliases/components/AddAliases/AddAliases.tsx
  src/ui/units/dash/containers/Dialogs/DialogRelations/types.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Bump version to 0.818.0
  package-lock.json
  package.json
Due: none

fix
  src/ui/components/DialogFilter/DialogFilter.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

update tests
  tests/page-objects/wizard/FilterEditor.ts
Due: none

feat: fix after review
  src/ui/units/workbooks/components/WorkbookActions/WorkbookActions.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Path conditions:
  eslint -c src/ui/.ci-eslintrc --fix --quiet: any of: src/ui/**/*.{js,jsx,ts,tsx}
  prettier --write: (any of: src/ui/**/*.{js,jsx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --fix --quiet: any of: *.{css,scss}
