Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Remove unneccessary info logging (#65)
  src/server/components/charts-engine/runners/editor.ts
Due: none

Bump version to 0.848.0
  package-lock.json
  package.json
Due: none

add other icions
  src/ui/assets/icons/collections/collection-colored-big.svg
  src/ui/assets/icons/collections/collection-colored.svg
  src/ui/assets/icons/collections/grid.svg
  src/ui/assets/icons/collections/table.svg
  src/ui/components/CollectionIcon/CollectionIcon.scss
  src/ui/components/CollectionIcon/CollectionIcon.tsx
  src/ui/components/WorkbookIcon/WorkbookIcon.scss
  src/ui/units/collections/components/CollectionContentGrid/CollectionContentGrid.scss
  src/ui/units/collections/components/CollectionContentGrid/CollectionContentGrid.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

removed feat DashKitItemAnimationDisabled
  src/server/components/features/features-list/DashKitItemAnimationDisabled.ts
  src/shared/types/feature.ts
  src/ui/units/dash/containers/Body/Body.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

removed feat DashKitItemAnimationDisabled (#71)
  src/server/components/features/features-list/DashKitItemAnimationDisabled.ts
  src/shared/types/feature.ts
  src/ui/units/dash/containers/Body/Body.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.849.0
  package-lock.json
  package.json
Due: none

up dashkit to 6.5.0
  package-lock.json
  package.json
Due: none

Fix relations validation on change type
  src/i18n-keysets/component.dialog-aliases.view/en.json
  src/i18n-keysets/component.dialog-aliases.view/ru.json
  src/ui/units/dash/containers/Dialogs/DialogRelations/DialogRelations.tsx
  src/ui/units/dash/containers/Dialogs/DialogRelations/components/Content/Content.tsx
  src/ui/units/dash/containers/Dialogs/DialogRelations/components/Content/Row.tsx
  src/ui/units/dash/containers/Dialogs/DialogRelations/components/DialogAliases/DialogAliases.tsx
  src/ui/units/dash/containers/Dialogs/DialogRelations/components/DialogAliases/components/AddAliases/AddAliases.tsx
  src/ui/units/dash/containers/Dialogs/DialogRelations/helpers.tsx
  src/ui/units/dash/containers/Dialogs/DialogRelations/types.ts
  src/ui/units/dash/store/actions/relations/actions.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

add new css variables
  src/ui/assets/icons/collections/collection-colored.svg
  src/ui/components/CollectionIcon/CollectionIcon.tsx
  src/ui/components/WorkbookIcon/WorkbookIcon.scss
  src/ui/styles/variables.scss
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Fixes after review
  src/ui/units/dash/containers/Dialogs/DialogRelations/hooks/helpers.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

up dashkit to 6.5.0 (#72)
  package-lock.json
  package.json
Due: none

Bump version to 0.850.0
  package-lock.json
  package.json
Due: none

Add v2 interface, version check before prepare
  src/shared/types/ql/common.ts
  src/ui/units/ql/store/actions/ql.ts
  src/ui/units/ql/store/reducers/ql.ts
  src/ui/units/ql/store/utils/grid.ts
  src/ui/units/ql/store/utils/monitoring.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix new relations bugs (#73)
  src/i18n-keysets/component.dialog-aliases.view/en.json
  src/i18n-keysets/component.dialog-aliases.view/ru.json
  src/ui/components/DashKit/plugins/types.ts
  src/ui/components/Widgets/Chart/helpers/helpers.ts
  src/ui/components/Widgets/Chart/hooks/useLoadingChartSelector.tsx
  src/ui/units/dash/containers/Dialogs/DialogRelations/DialogRelations.tsx
  src/ui/units/dash/containers/Dialogs/DialogRelations/components/Content/Content.tsx
  src/ui/units/dash/containers/Dialogs/DialogRelations/components/Content/Row.tsx
  src/ui/units/dash/containers/Dialogs/DialogRelations/components/DialogAliases/DialogAliases.tsx
  src/ui/units/dash/containers/Dialogs/DialogRelations/components/DialogAliases/components/AddAliases/AddAliases.tsx
  src/ui/units/dash/containers/Dialogs/DialogRelations/helpers.tsx
  src/ui/units/dash/containers/Dialogs/DialogRelations/hooks/helpers.ts
  src/ui/units/dash/containers/Dialogs/DialogRelations/types.ts
  src/ui/units/dash/store/actions/relations/actions.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.851.0
  package-lock.json
  package.json
Due: none

us CollectionIcon in table
  src/ui/units/collections/components/CollectionContentTable/CollectionContentTable.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix: set the intensityOfMidpoint depending on the gradient settings (#25)
  src/server/modes/charts/plugins/datalens/preparers/heatmap.ts
Due: none

Bump version to 0.852.0
  package-lock.json
  package.json
Due: none

Enable editor charts filtering setting on dash
  src/ui/units/dash/containers/Dialogs/Widget/Widget.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Enable editor charts filtering setting on dash (#74)
  src/ui/units/dash/containers/Dialogs/Widget/Widget.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Up gravity-ui navigation to 1
  package-lock.json
  package.json
Due: none

Bump version to 0.853.0
  package-lock.json
  package.json
Due: none

Move docs html transformation into fetch function
  src/ui/components/FieldEditor/components/DocSection.tsx
  src/ui/components/FieldEditor/components/helpers.ts
  src/ui/registry/units/common/functions-map.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

add validation error for name with slash
  src/ui/components/EntryDialogues/EntryDialogBase/EntryDialogBase.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix scopeId and visualization mapping
  src/shared/types/ql/common.ts
  src/ui/units/ql/store/utils/monitoring.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Up gravity-ui navigation to 1 (#75)
  package-lock.json
  package.json
Due: none

Bump version to 0.854.0
  package-lock.json
  package.json
Due: none

Fix comments
  src/ui/units/ql/store/actions/ql.ts
  src/ui/units/ql/store/utils/monitoring.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix no-data case when coloring columns/using linear indicator
  src/server/modes/charts/plugins/datalens/preparers/backend-pivot-table/helpers/backgroundColor.ts
  src/server/modes/charts/plugins/datalens/preparers/backend-pivot-table/helpers/misc.ts
Due: none

publish datalens platform action
  .github/workflows/publish_platform.yaml
Due: none

fix fetch all tree
  .github/workflows/publish_platform.yaml
Due: none

Fix typo
  src/server/modes/charts/plugins/datalens/preparers/backend-pivot-table/helpers/backgroundColor.ts
Due: none

fix origin-main rev-parse
  .github/workflows/publish_platform.yaml
Due: none

fix last release branch
  .github/workflows/publish_platform.yaml
Due: none

try to list all branches
  .github/workflows/publish_platform.yaml
Due: none

try to check
  .github/workflows/publish_platform.yaml
Due: none

New monitoring presets support (#69)
  src/shared/schema/us/types/fields.ts
  src/shared/schema/us/types/presets.ts
  src/shared/types/ql/common.ts
  src/ui/units/ql/store/actions/ql.ts
  src/ui/units/ql/store/reducers/ql.ts
  src/ui/units/ql/store/utils/grid.ts
  src/ui/units/ql/store/utils/monitoring.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fixed changed relation type, aliases update bugs
  src/shared/schema/mix/actions/dash.ts
  src/ui/units/dash/containers/Dialogs/DialogRelations/DialogRelations.tsx
  src/ui/units/dash/containers/Dialogs/DialogRelations/components/DialogAliases/DialogAliases.tsx
  src/ui/units/dash/containers/Dialogs/DialogRelations/helpers.tsx
  src/ui/units/dash/containers/Dialogs/DialogRelations/hooks/helpers.ts
  src/ui/units/dash/containers/Dialogs/DialogRelations/hooks/useRelations.tsx
  src/ui/units/dash/containers/Dialogs/DialogRelations/test/helpers.test.ts
  src/ui/units/dash/containers/Dialogs/DialogRelations/types.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix if else
  .github/workflows/publish_platform.yaml
Due: none

Bump version to 0.855.0
  package-lock.json
  package.json
Due: none

Path conditions:
  eslint -c src/ui/.ci-eslintrc --fix --quiet: any of: src/ui/**/*.{js,jsx,ts,tsx}
  prettier --write: (any of: src/ui/**/*.{js,jsx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --fix --quiet: any of: *.{css,scss}
