Repository datalens-tech/datalens-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

.lintstagedrc.json:

{
    "!(src/ui/**/*)*.{js,jsx,ts,tsx}": [
      "eslint --fix --quiet",
      "prettier --write"
    ],
    "src/ui/**/*.{js,jsx,ts,tsx}": [
      "eslint -c src/ui/.ci-eslintrc --fix --quiet",
      "prettier --write"
    ],
    "*.{css,scss}": [
      "stylelint --fix --quiet",
      "prettier --write"
    ]
}

Fix incorrect date display for the combined chart (#466)
  src/server/modes/charts/plugins/datalens/preparers/bar-x/prepareBarX.ts
Due: none

Bump version to 0.1199.0 [release]
  package-lock.json
  package.json
Due: none

Refactoring extending actions for dash control dialog (#452)
  src/shared/utils/makeFunctionTemplate.ts
  src/ui/registry/units/dash/functions-map.ts
  src/ui/registry/units/dash/types/BeforeCloseDialogItem.ts
  src/ui/registry/units/dash/types/BeforeOpenDialogItem.ts
  src/ui/registry/units/dash/types/GetExtendedItemData.ts
  src/ui/units/dash/containers/Body/Body.tsx
  src/ui/units/dash/containers/Dialogs/Control2/Control2.tsx
  src/ui/units/dash/store/actions/dash.js
  src/ui/units/dash/store/actions/dashTyped.ts
  src/ui/units/dash/store/actions/helpers.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1200.0 [release]
  package-lock.json
  package.json
Due: none

Add Markdown img preloader before onLoad trigger
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Markdown/Markdown.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Removed html prop dependency from useLayoutEffect
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Markdown/Markdown.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Added fonts loader if no images is found
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Markdown/Markdown.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Correct definition of the axis type for a bar chart
  src/server/modes/charts/plugins/datalens/preparers/bar-x/highcharts.ts
Due: none

Default values for html and markdown fields
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Markdown/Markdown.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Correct definition of the axis type for a bar chart (#468)
  src/server/modes/charts/plugins/datalens/preparers/bar-x/highcharts.ts
Due: none

Bump version to 0.1201.0 [release]
  package-lock.json
  package.json
Due: none

Add Markdown img preloader before onLoad trigger (#467)
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Markdown/Markdown.js
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1202.0 [release]
  package-lock.json
  package.json
Due: none

useLoadingChartWidget naming refactoring
  src/ui/components/Widgets/Chart/hooks/useLoadingChartWidget.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fixed height adjust calculation, added resize window handler
  src/ui/components/DashKit/utils.ts
  src/ui/components/Widgets/Chart/hooks/useLoadingChartWidget.ts
  src/ui/libs/DatalensChartkit/ChartKit/components/Widget/components/Table/Table.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Change weblate domain
  .github/workflows/i18n-check.yml
Due: none

Change weblate domain (#469)
  .github/workflows/i18n-check.yml
Due: none

Bump version to 0.1203.0 [release]
  package-lock.json
  package.json
Due: none

Fix validation for controls
  src/i18n-keysets/dash.control-dialog.edit/en.json
  src/i18n-keysets/dash.control-dialog.edit/ru.json
  src/i18n-keysets/dash.dashkit-plugin-control.view/en.json
  src/i18n-keysets/dash.dashkit-plugin-control.view/ru.json
  src/ui/components/DashKit/plugins/Control/Control.tsx
  src/ui/components/DashKit/plugins/Control/types.ts
  src/ui/components/common/Datepicker/Datepicker.js
  src/ui/components/common/Datepicker/Datepicker.scss
  src/ui/components/common/YCSelect/YCSelect.js
  src/ui/components/common/YCSelect/YCSelect.scss
  src/ui/libs/DatalensChartkit/components/Control/Items/Items.js
  src/ui/libs/DatalensChartkit/components/Control/Items/Items.scss
  src/ui/units/dash/containers/Dialogs/Control2/Sections/AppearanceSection/Rows/InnerTitleRow/InnerTitleRow.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Add one retray for e2e tests
  .github/workflows/e2e_tests.yml
Due: none

Add field formula auto-generation test
  src/shared/constants/qa/field-editor.ts
  src/shared/constants/qa/index.ts
  src/shared/constants/qa/wizard.ts
  src/ui/components/FieldEditor/FieldEditor.tsx
  src/ui/units/wizard/containers/Wizard/SectionVisualization/VisualizationItem/VisualizationItem.tsx
  tests/opensource-suites/wizard/fields/add-field.test.ts
  tests/page-objects/wizard/FieldEditor.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add one retray for e2e tests (#471)
  .github/workflows/e2e_tests.yml
Due: none

Bump version to 0.1204.0 [release]
  package-lock.json
  package.json
Due: none

Fixes
  src/ui/components/DashKit/plugins/Control/Control.tsx
  src/ui/components/common/Datepicker/Datepicker.js
  src/ui/libs/DatalensChartkit/components/Control/Items/Items.js
  src/ui/units/dash/containers/Dialogs/Control/Date/Default/Default.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add user id to DL object
  src/shared/types/common.ts
Due: none

Fix after review
  src/ui/units/workbooks/components/EntryActions/EntryActions.tsx
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/MainTabContent/MainTabContent.scss
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/MainTabContent/MainTabContent.tsx
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/WorkbookEntriesTable.scss
  src/ui/units/workbooks/components/Table/WorkbookEntriesTable/WorkbookEntriesTable.tsx
  src/ui/units/workbooks/components/WorkbookContent/WorkbookContent.tsx
  src/ui/units/workbooks/components/WorkbookPage/WorkbookPage.tsx
  src/ui/units/workbooks/store/actions/index.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write, stylelint --fix --quiet

Add keyset template
  src/ui/components/MigrateToWorkbookDialog/components/Body/Body.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add keyset template (#474)
  src/ui/components/MigrateToWorkbookDialog/components/Body/Body.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1205.0 [release]
  package-lock.json
  package.json
Due: none

Add user id to DL object (#473)
  src/shared/types/common.ts
Due: none

Bump version to 0.1206.0 [release]
  package-lock.json
  package.json
Due: none

Add field action tests
  src/shared/constants/qa/wizard.ts
  src/ui/units/wizard/containers/Wizard/SectionDataset/DatasetItem/DatasetItem.tsx
  tests/opensource-suites/wizard/fields/add-field.test.ts
  tests/opensource-suites/wizard/fields/field-actions.test.ts
  tests/page-objects/wizard/FieldEditor.ts
  tests/page-objects/wizard/WizardPage.ts
  tests/playwright.config.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

fix
  tests/playwright.config.ts
Due: none

fix lint
  tests/suites/wizard/fields/editVisualizationField.test.ts
Due: none

Fix checkbox selector behaivor
  src/ui/units/dash/containers/Dialogs/Control2/Sections/ValueSelector/ValueSelector.tsx
  src/ui/units/dash/store/reducers/dashTypedReducer.ts
  src/ui/units/dash/store/utils.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Fix tabs params logic
  src/ui/units/dash/containers/Dialogs/Widget/Widget.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Add field formula auto-generation test (#472)
  src/shared/constants/qa/field-editor.ts
  src/shared/constants/qa/index.ts
  src/shared/constants/qa/wizard.ts
  src/ui/components/FieldEditor/FieldEditor.tsx
  src/ui/units/wizard/containers/Wizard/SectionDataset/DatasetItem/DatasetItem.tsx
  src/ui/units/wizard/containers/Wizard/SectionVisualization/VisualizationItem/VisualizationItem.tsx
  tests/opensource-suites/wizard/fields/add-field.test.ts
  tests/opensource-suites/wizard/fields/field-actions.test.ts
  tests/page-objects/wizard/FieldEditor.ts
  tests/page-objects/wizard/WizardPage.ts
  tests/suites/wizard/fields/editVisualizationField.test.ts
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write

Bump version to 0.1207.0 [release]
  package-lock.json
  package.json
Due: none

Update @gravity-ui/browserslist-config@4.3.0
  package-lock.json
  package.json
Due: none

Fix tabs params logic (#476)
  src/ui/units/dash/containers/Dialogs/Widget/Widget.tsx
Due: eslint -c src/ui/.ci-eslintrc --fix --quiet, prettier --write
